In [151]:
pip install procyclingstats

Requirement already satisfied: procyclingstats in c:\users\luiso\anaconda3\lib\site-packages (0.1.7)
Requirement already satisfied: requests in c:\users\luiso\anaconda3\lib\site-packages (from procyclingstats) (2.28.1)
Requirement already satisfied: selectolax in c:\users\luiso\anaconda3\lib\site-packages (from procyclingstats) (0.3.17)
Requirement already satisfied: idna<4,>=2.5 in c:\users\luiso\anaconda3\lib\site-packages (from requests->procyclingstats) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\luiso\anaconda3\lib\site-packages (from requests->procyclingstats) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\luiso\anaconda3\lib\site-packages (from requests->procyclingstats) (2023.7.22)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\luiso\anaconda3\lib\site-packages (from requests->procyclingstats) (1.26.14)
Note: you may need to restart the kernel to use updated packages.

In [152]:
from procyclingstats import RaceClimbs
from procyclingstats import Race
from procyclingstats import Stage
from procyclingstats import RaceStartlist
import requests
from bs4 import BeautifulSoup
import pandas as pd
import dtale
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

In [153]:
race_startlist = RaceStartlist("race/tour-de-france/2023/startlist")
startlist = race_startlist.startlist()

len(startlist)

176

In [154]:
# Crear un dataframe con los datos de tour de france

startlist_df = pd.DataFrame(startlist)

startlist_df

,rider_name,rider_url,nationality,rider_number,team_name,team_url
0,VINGEGAARD Jonas,rider/jonas-vingegaard-rasmussen,DK,1,Jumbo-Visma (WT),team/team-jumbo-visma-2023
1,BENOOT Tiesj,rider/tiesj-benoot,BE,2,Jumbo-Visma (WT),team/team-jumbo-visma-2023
2,KELDERMAN Wilco,rider/wilco-kelderman,NL,3,Jumbo-Visma (WT),team/team-jumbo-visma-2023
3,KUSS Sepp,rider/sepp-kuss,US,4,Jumbo-Visma (WT),team/team-jumbo-visma-2023
4,LAPORTE Christophe,rider/christophe-laporte,FR,5,Jumbo-Visma (WT),team/team-jumbo-visma-2023
...,...,...,...,...,...,...
171,CRAS Steff,rider/steff-cras,BE,214,TotalEnergies (PRT),team/team-totalenergies-2023
172,FERRON Valentin,rider/valentin-ferron,FR,215,TotalEnergies (PRT),team/team-totalenergies-2023
173,LATOUR Pierre,rider/pierre-latour,FR,216,TotalEnergies (PRT),team/team-totalenergies-2023
174,OSS Daniel,rider/daniel-oss,IT,217,TotalEnergies (PRT),team/team-totalenergies-2023
175,TURGIS Anthony,rider/anthony-turgis,FR,218,TotalEnergies (PRT),team/team-totalenergies-2023

In [155]:
# Eliminar las columnas "rider_url","team_url" y "rider_number"

startlist_df = startlist_df.drop(["rider_url","team_url","rider_number"], axis=1)

startlist_df

             rider_name nationality            team_name
0      VINGEGAARD Jonas          DK     Jumbo-Visma (WT)
1          BENOOT Tiesj          BE     Jumbo-Visma (WT)
2       KELDERMAN Wilco          NL     Jumbo-Visma (WT)
3             KUSS Sepp          US     Jumbo-Visma (WT)
4    LAPORTE Christophe          FR     Jumbo-Visma (WT)
..                  ...         ...                  ...
171          CRAS Steff          BE  TotalEnergies (PRT)
172     FERRON Valentin          FR  TotalEnergies (PRT)
173       LATOUR Pierre          FR  TotalEnergies (PRT)
174          OSS Daniel          IT  TotalEnergies (PRT)
175      TURGIS Anthony          FR  TotalEnergies (PRT)

[176 rows x 3 columns]

In [156]:
# Crear una columna llamada rider_name_id que se obtenga de la columna "rider_name" y que contenga el id del ciclista

startlist_df["rider_name_id"] = startlist_df["rider_name"].str.split("/").str[2]

startlist_df

# Llenar la columna "rider_name_id" con numeros del 1 al 176

startlist_df["rider_name_id"] = range(1, len(startlist_df) + 1)

startlist_df

# Poner la columna "rider_name_id" al principio del dataframe

startlist_df = startlist_df[["rider_name_id","rider_name","nationality","team_name"]]

startlist_df

     rider_name_id          rider_name nationality            team_name
0                1    VINGEGAARD Jonas          DK     Jumbo-Visma (WT)
1                2        BENOOT Tiesj          BE     Jumbo-Visma (WT)
2                3     KELDERMAN Wilco          NL     Jumbo-Visma (WT)
3                4           KUSS Sepp          US     Jumbo-Visma (WT)
4                5  LAPORTE Christophe          FR     Jumbo-Visma (WT)
..             ...                 ...         ...                  ...
171            172          CRAS Steff          BE  TotalEnergies (PRT)
172            173     FERRON Valentin          FR  TotalEnergies (PRT)
173            174       LATOUR Pierre          FR  TotalEnergies (PRT)
174            175          OSS Daniel          IT  TotalEnergies (PRT)
175            176      TURGIS Anthony          FR  TotalEnergies (PRT)

[176 rows x 4 columns]

In [157]:
# Exportar a csv los datos de tour de france

startlist_df.to_csv('startlist.csv', index=False)

In [350]:
def getStages(maxEtapa):
    stage_climbs=[]
    for stages in range(1,maxEtapa+1):    
        stage = Stage("race/tour-de-france/2023/stage-{}".format(stages))
        climbs = stage.climbs()
        for x in climbs:
            x["stage_id"] = stages
        stage_climbs.append(climbs)

    # Convertir la lista anidada en una lista plana de diccionarios
    flat_data = [item for sublist in stage_climbs for item in sublist]

    # Crear un DataFrame a partir de la lista de diccionarios
    stages = pd.DataFrame(flat_data)

    # Mostrar el DataFrame
    return stages

maxEtapa = 21
stages = getStages(maxEtapa)
stages

,climb_name,climb_url,stage_id
0,Côte de Laukiz,location/cote-de-laukiz,1
1,Côte de San Juan de Gaztelugatxe,location/alto-de-san-juan-de-gaztelugatxe,1
2,Col de Morga,location/alto-de-morga,1
3,Côte de Vivero,location/alto-el-vivero,1
4,Côte de Pike,location/alto-pike,1
5,Col d'Udana,location/puerto-de-udana,2
6,Côte d'Aztiria,location/alto-de-aztiria,2
7,Côte d'Alkiza,location/alkiza,2
8,Côte de Gurutze,location/gurutze,2
9,Jaizkibel,location/alto-de-jaizkibel,2
10,Côte de Trabakua,location/trabakua,3
11,Côte de Milloi,location/milloi,3
12,Col d'Itziar,location/alto-de-itziar,3
13,Côte d'Orioko Benta,location/alto-orioko-benta,3
14,Côte de Dému,location/cote-de-demu,4
15,Col de Soudet,location/col-de-soudet,5
16,Col d'Ichère,location/col-d-ichere,5
17,Col de Marie Blanque,location/col-du-marie-blanque,5
18,Côte de Capvern-les-Bains,location/cote-de-capvern-les-bains,6
19,Col d'Aspin,location/col-d-aspin,6
20,Col du Tourmalet,location/col-du-tourmalet,6
21,Cauterets-Cambrasque,location/cauterets-cambasque,6
22,Côte de Béguey,location/cote-de-beguey,7
23,Côte de Champs-Romain,location/cote-de-champs-romain,8
24,Côte de Masmont,location/cote-de-masmont,8
25,Côte de Condat-sur-Vienne,location/cote-de-condat-sur-vienne,8
26,Côte de Felletin,location/cote-de-felletin,9
27,Côte de Pontcharraud,location/cote-de-pontcharraud,9
28,Côte de Pontaumur,location/cote-de-pontaumur,9
29,Puy de Dôme,location/puy-de-dome,9
30,Col de la Moréno,location/col-de-la-moreno,10
31,Col de Guéry,location/col-de-guery,10
32,Col de la Croix Saint-Robert,location/col-de-la-croix-saint-robert,10
33,Côte de Saint-Victor-la-Rivière,location/cote-de-saint-victor-la-riviere,10
34,Côte de la Chapelle-Marcousse,location/cote-de-la-chapelle-marcousse,10
35,Côte de Chaptuzat-Haut,location/cote-de-chaptuzat-haut,11
36,Côte du Mercurol,location/cote-du-mercurol,11
37,Côte de la Croix Blanche,location/cote-de-la-croix-blanche-puy-de-dome,11
38,Côte de Thizy-les-Bourgs,location/cote-de-thizy-les-bourgs,12
39,Col des Écorbans,location/col-des-ecorbans,12
40,Col de la Casse Froide,location/col-de-la-casse-froide,12
41,Col de la Croix Montmain,location/col-de-la-croix-montmain,12
42,Col de la Croix Rosier,location/col-de-la-croix-rosier,12
43,Grand Colombier,location/col-du-grand-colombier,13
44,Col de Saxel,location/col-de-saxel,14
45,Col de Cou,location/col-de-cou,14
46,Col du Feu,location/col-du-feu,14
47,Col de la Ramaz,location/col-de-la-ramaz,14
48,Col de Joux Plane,location/col-de-joux-plane,14
49,Col de la Forclaz de Montmin,location/col-de-la-forclaz-montmin,15
50,Col de la Croix Fry,location/col-de-la-croix-fry,15
51,Col des Aravis,location/col-des-aravis,15
52,Côte des Amerands,location/cote-des-amerands,15
53,Saint-Gervais Mont-Blanc,location/saint-gervais-mont-blanc,15
54,Côte de Domancy,location/cote-de-domancy,16
55,Col des Saisies,location/col-des-saisies,17
56,Cormet de Roselend,location/cormet-de-roselend,17
57,Côte de Longefoy,location/cote-de-longefoy,17
58,Col de la Loze,location/col-de-la-loze,17
59,Côte de Chambéry-le-Haut,location/cote-de-chambery-le-haut,18
60,Côte de Boissieu,location/cote-de-boissieu,18
61,Côte du Bois de Lionge,location/cote-du-bois-de-lionge,19
62,Côte d'Ivory,location/cote-d-ivory,19
63,Ballon d'Alsace,location/ballon-d-alsace,20
64,Col de la Croix des Moinats,location/col-de-la-croix-des-moinats,20
65,Col de Grosse Pierre,location/col-de-grosse-pierre,20
66,Col de la Schlucht,location/col-de-la-schlucht,20
67,Petit Ballon,location/petit-ballon,20
68,Col du Platzerwasel,location/col-du-platzerwasel,20
69,Côte du Pavé des Gardes,location/cote-du-pave-des-gardes,21

In [342]:
stages

,climb_name,climb_url
0,Côte de Laukiz,location/cote-de-laukiz
1,Côte de San Juan de Gaztelugatxe,location/alto-de-san-juan-de-gaztelugatxe
2,Col de Morga,location/alto-de-morga
3,Côte de Vivero,location/alto-el-vivero
4,Côte de Pike,location/alto-pike
5,Col d'Udana,location/puerto-de-udana
6,Côte d'Aztiria,location/alto-de-aztiria
7,Côte d'Alkiza,location/alkiza
8,Côte de Gurutze,location/gurutze
9,Jaizkibel,location/alto-de-jaizkibel
10,Côte de Trabakua,location/trabakua
11,Côte de Milloi,location/milloi
12,Col d'Itziar,location/alto-de-itziar
13,Côte d'Orioko Benta,location/alto-orioko-benta
14,Côte de Dému,location/cote-de-demu
15,Col de Soudet,location/col-de-soudet
16,Col d'Ichère,location/col-d-ichere
17,Col de Marie Blanque,location/col-du-marie-blanque
18,Côte de Capvern-les-Bains,location/cote-de-capvern-les-bains
19,Col d'Aspin,location/col-d-aspin
20,Col du Tourmalet,location/col-du-tourmalet
21,Cauterets-Cambrasque,location/cauterets-cambasque
22,Côte de Béguey,location/cote-de-beguey
23,Côte de Champs-Romain,location/cote-de-champs-romain
24,Côte de Masmont,location/cote-de-masmont
25,Côte de Condat-sur-Vienne,location/cote-de-condat-sur-vienne
26,Côte de Felletin,location/cote-de-felletin
27,Côte de Pontcharraud,location/cote-de-pontcharraud
28,Côte de Pontaumur,location/cote-de-pontaumur
29,Puy de Dôme,location/puy-de-dome
30,Col de la Moréno,location/col-de-la-moreno
31,Col de Guéry,location/col-de-guery
32,Col de la Croix Saint-Robert,location/col-de-la-croix-saint-robert
33,Côte de Saint-Victor-la-Rivière,location/cote-de-saint-victor-la-riviere
34,Côte de la Chapelle-Marcousse,location/cote-de-la-chapelle-marcousse
35,Côte de Chaptuzat-Haut,location/cote-de-chaptuzat-haut
36,Côte du Mercurol,location/cote-du-mercurol
37,Côte de la Croix Blanche,location/cote-de-la-croix-blanche-puy-de-dome
38,Côte de Thizy-les-Bourgs,location/cote-de-thizy-les-bourgs
39,Col des Écorbans,location/col-des-ecorbans
40,Col de la Casse Froide,location/col-de-la-casse-froide
41,Col de la Croix Montmain,location/col-de-la-croix-montmain
42,Col de la Croix Rosier,location/col-de-la-croix-rosier
43,Grand Colombier,location/col-du-grand-colombier
44,Col de Saxel,location/col-de-saxel
45,Col de Cou,location/col-de-cou
46,Col du Feu,location/col-du-feu
47,Col de la Ramaz,location/col-de-la-ramaz
48,Col de Joux Plane,location/col-de-joux-plane
49,Col de la Forclaz de Montmin,location/col-de-la-forclaz-montmin
50,Col de la Croix Fry,location/col-de-la-croix-fry
51,Col des Aravis,location/col-des-aravis
52,Côte des Amerands,location/cote-des-amerands
53,Saint-Gervais Mont-Blanc,location/saint-gervais-mont-blanc
54,Côte de Domancy,location/cote-de-domancy
55,Col des Saisies,location/col-des-saisies
56,Cormet de Roselend,location/cormet-de-roselend
57,Côte de Longefoy,location/cote-de-longefoy
58,Col de la Loze,location/col-de-la-loze
59,Côte de Chambéry-le-Haut,location/cote-de-chambery-le-haut
60,Côte de Boissieu,location/cote-de-boissieu
61,Côte du Bois de Lionge,location/cote-du-bois-de-lionge
62,Côte d'Ivory,location/cote-d-ivory
63,Ballon d'Alsace,location/ballon-d-alsace
64,Col de la Croix des Moinats,location/col-de-la-croix-des-moinats
65,Col de Grosse Pierre,location/col-de-grosse-pierre
66,Col de la Schlucht,location/col-de-la-schlucht
67,Petit Ballon,location/petit-ballon
68,Col du Platzerwasel,location/col-du-platzerwasel
69,Côte du Pavé des Gardes,location/cote-du-pave-des-gardes

In [326]:
# Crear un diccionario para mapear 'puerto' a un 'id'
puerto_a_id = {}

# Generar valores de 'id' y asignarlos a cada 'puerto' único
id_actual = 1
for puerto in stage['climb_name'].unique():
    puerto_a_id[puerto] = id_actual
    id_actual += 1

# Mapear 'puerto' a 'id' en el DataFrame
stage1_df['climb_name_id'] = stage1_df['climb_name'].map(puerto_a_id)

                         climb_name  \
0                    Côte de Laukiz
1  Côte de San Juan de Gaztelugatxe
2                      Col de Morga
3                    Côte de Vivero
4                      Côte de Pike

                                   climb_url  stage_id  climb_name_id
0                    location/cote-de-laukiz         1              1
1  location/alto-de-san-juan-de-gaztelugatxe         1              2
2                     location/alto-de-morga         1              3
3                    location/alto-el-vivero         1              4
4                         location/alto-pike         1              5

In [159]:
# Crear una cloumna de stage_id en el dataframe de stage1 con el valor de 1

stage1_df['stage_id'] = 1

stage1_df

,climb_name,climb_url,stage_id
0,Côte de Laukiz,location/cote-de-laukiz,1
1,Côte de San Juan de Gaztelugatxe,location/alto-de-san-juan-de-gaztelugatxe,1
2,Col de Morga,location/alto-de-morga,1
3,Côte de Vivero,location/alto-el-vivero,1
4,Côte de Pike,location/alto-pike,1

In [160]:
stage.parse()

{'arrival': 'Bilbao',
 'climbs': [{'climb_name': 'Côte de Laukiz',
   'climb_url': 'location/cote-de-laukiz'},
  {'climb_name': 'Côte de San Juan de Gaztelugatxe',
   'climb_url': 'location/alto-de-san-juan-de-gaztelugatxe'},
  {'climb_name': 'Col de Morga', 'climb_url': 'location/alto-de-morga'},
  {'climb_name': 'Côte de Vivero', 'climb_url': 'location/alto-el-vivero'},
  {'climb_name': 'Côte de Pike', 'climb_url': 'location/alto-pike'}],
 'date': '2023-07-01',
 'departure': 'Bilbao',
 'distance': 182.0,
 'gc': [{'rider_name': 'YATES Adam',
   'rider_url': 'rider/adam-yates',
   'rider_number': 19,
   'team_name': 'UAE Team Emirates',
   'team_url': 'team/uae-team-emirates-2023',
   'rank': 1,
   'prev_rank': None,
   'age': 30,
   'nationality': 'GB',
   'time': '4:22:39',
   'bonus': 10,
   'pcs_points': 0,
   'uci_points': 25.0},
  {'rider_name': 'YATES Simon',
   'rider_url': 'rider/simon-yates',
   'rider_number': 161,
   'team_name': 'Team Jayco AlUla',
   'team_url': 'team/team-jayco-alula-2023',
   'rank': 2,
   'prev_rank': None,
   'age': 30,
   'nationality': 'GB',
   'time': '4:22:47',
   'bonus': 6,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'POGAČAR Tadej',
   'rider_url': 'rider/tadej-pogacar',
   'rider_number': 11,
   'team_name': 'UAE Team Emirates',
   'team_url': 'team/uae-team-emirates-2023',
   'rank': 3,
   'prev_rank': None,
   'age': 24,
   'nationality': 'SI',
   'time': '4:22:57',
   'bonus': 4,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'PINOT Thibaut',
   'rider_url': 'rider/thibaut-pinot',
   'rider_number': 37,
   'team_name': 'Groupama - FDJ',
   'team_url': 'team/groupama-fdj-2023',
   'rank': 4,
   'prev_rank': None,
   'age': 33,
   'nationality': 'FR',
   'time': '4:23:01',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'WOODS Michael',
   'rider_url': 'rider/michael-woods',
   'rider_number': 151,
   'team_name': 'Israel - Premier Tech',
   'team_url': 'team/israel-premier-tech-2023',
   'rank': 5,
   'prev_rank': None,
   'age': 36,
   'nationality': 'CA',
   'time': '4:23:01',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'LAFAY Victor',
   'rider_url': 'rider/victor-lafay',
   'rider_number': 125,
   'team_name': 'Cofidis',
   'team_url': 'team/cofidis-2023',
   'rank': 6,
   'prev_rank': None,
   'age': 27,
   'nationality': 'FR',
   'time': '4:23:01',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'HINDLEY Jai',
   'rider_url': 'rider/jai-hindley',
   'rider_number': 71,
   'team_name': 'BORA - hansgrohe',
   'team_url': 'team/bora-hansgrohe-2023',
   'rank': 7,
   'prev_rank': None,
   'age': 27,
   'nationality': 'AU',
   'time': '4:23:01',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'SKJELMOSE Mattias',
   'rider_url': 'rider/mattias-skjelmose-jensen',
   'rider_number': 83,
   'team_name': 'Lidl - Trek',
   'team_url': 'team/lidl-trek-2023',
   'rank': 8,
   'prev_rank': None,
   'age': 22,
   'nationality': 'DK',
   'time': '4:23:01',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'VINGEGAARD Jonas',
   'rider_url': 'rider/jonas-vingegaard-rasmussen',
   'rider_number': 1,
   'team_name': 'Jumbo-Visma',
   'team_url': 'team/team-jumbo-visma-2023',
   'rank': 9,
   'prev_rank': None,
   'age': 26,
   'nationality': 'DK',
   'time': '4:23:01',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'GAUDU David',
   'rider_url': 'rider/david-gaudu',
   'rider_number': 31,
   'team_name': 'Groupama - FDJ',
   'team_url': 'team/groupama-fdj-2023',
   'rank': 10,
   'prev_rank': None,
   'age': 26,
   'nationality': 'FR',
   'time': '4:23:01',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'VAN AERT Wout',
   'rider_url': 'rider/wout-van-aert',
   'rider_number': 6,
   'team_name': 'Jumbo-Visma',
   'team_url': 'team/team-jumbo-visma-2023',
   'rank': 11,
   'prev_rank': None,
   'age': 28,
   'nationality': 'BE',
   'time': '4:23:01',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'LANDA Mikel',
   'rider_url': 'rider/mikel-landa',
   'rider_number': 62,
   'team_name': 'Bahrain - Victorious',
   'team_url': 'team/bahrain-victorious-2023',
   'rank': 12,
   'prev_rank': None,
   'age': 33,
   'nationality': 'ES',
   'time': '4:23:01',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'RODRÍGUEZ Carlos',
   'rider_url': 'rider/carlos-rodriguez-cano',
   'rider_number': 27,
   'team_name': 'INEOS Grenadiers',
   'team_url': 'team/ineos-grenadiers-2023',
   'rank': 13,
   'prev_rank': None,
   'age': 22,
   'nationality': 'ES',
   'time': '4:23:01',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'KELDERMAN Wilco',
   'rider_url': 'rider/wilco-kelderman',
   'rider_number': 3,
   'team_name': 'Jumbo-Visma',
   'team_url': 'team/team-jumbo-visma-2023',
   'rank': 14,
   'prev_rank': None,
   'age': 32,
   'nationality': 'NL',
   'time': '4:23:01',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'STRONG Corbin',
   'rider_url': 'rider/corbin-strong',
   'rider_number': 157,
   'team_name': 'Israel - Premier Tech',
   'team_url': 'team/israel-premier-tech-2023',
   'rank': 15,
   'prev_rank': None,
   'age': 23,
   'nationality': 'NZ',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'ARANBURU Alex',
   'rider_url': 'rider/alex-aranburu',
   'rider_number': 133,
   'team_name': 'Movistar Team',
   'team_url': 'team/movistar-team-2023',
   'rank': 16,
   'prev_rank': None,
   'age': 27,
   'nationality': 'ES',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'VAN GILS Maxim',
   'rider_url': 'rider/maxim-van-gils',
   'rider_number': 187,
   'team_name': 'Lotto Dstny',
   'team_url': 'team/lotto-dstny-2023',
   'rank': 17,
   'prev_rank': None,
   'age': 23,
   'nationality': 'BE',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'TEUNS Dylan',
   'rider_url': 'rider/dylan-teuns',
   'rider_number': 158,
   'team_name': 'Israel - Premier Tech',
   'team_url': 'team/israel-premier-tech-2023',
   'rank': 18,
   'prev_rank': None,
   'age': 31,
   'nationality': 'BE',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'CRAS Steff',
   'rider_url': 'rider/steff-cras',
   'rider_number': 214,
   'team_name': 'TotalEnergies',
   'team_url': 'team/team-totalenergies-2023',
   'rank': 19,
   'prev_rank': None,
   'age': 27,
   'nationality': 'BE',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'MADOUAS Valentin',
   'rider_url': 'rider/valentin-madouas',
   'rider_number': 35,
   'team_name': 'Groupama - FDJ',
   'team_url': 'team/groupama-fdj-2023',
   'rank': 20,
   'prev_rank': None,
   'age': 26,
   'nationality': 'FR',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'MEINTJES Louis',
   'rider_url': 'rider/louis-meintjes',
   'rider_number': 114,
   'team_name': 'Intermarché - Circus - Wanty',
   'team_url': 'team/intermarche-circus-wanty-2023',
   'rank': 21,
   'prev_rank': None,
   'age': 31,
   'nationality': 'ZA',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'BARDET Romain',
   'rider_url': 'rider/romain-bardet',
   'rider_number': 141,
   'team_name': 'Team dsm - firmenich',
   'team_url': 'team/team-dsm-firmenich-2023',
   'rank': 22,
   'prev_rank': None,
   'age': 32,
   'nationality': 'FR',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'BERNAL Egan',
   'rider_url': 'rider/egan-bernal',
   'rider_number': 21,
   'team_name': 'INEOS Grenadiers',
   'team_url': 'team/ineos-grenadiers-2023',
   'rank': 23,
   'prev_rank': None,
   'age': 26,
   'nationality': 'CO',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'BUCHMANN Emanuel',
   'rider_url': 'rider/emanuel-buchmann',
   'rider_number': 72,
   'team_name': 'BORA - hansgrohe',
   'team_url': 'team/bora-hansgrohe-2023',
   'rank': 24,
   'prev_rank': None,
   'age': 30,
   'nationality': 'DE',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'ALAPHILIPPE Julian',
   'rider_url': 'rider/julian-alaphilippe',
   'rider_number': 51,
   'team_name': 'Soudal - Quick Step',
   'team_url': 'team/soudal-quick-step-2023',
   'rank': 25,
   'prev_rank': None,
   'age': 31,
   'nationality': 'FR',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'TEJADA Harold',
   'rider_url': 'rider/harold-tejada',
   'rider_number': 198,
   'team_name': 'Astana Qazaqstan Team',
   'team_url': 'team/astana-qazaqstan-team-2023',
   'rank': 26,
   'prev_rank': None,
   'age': 26,
   'nationality': 'CO',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'MARTIN Guillaume',
   'rider_url': 'rider/guillaume-martin',
   'rider_number': 121,
   'team_name': 'Cofidis',
   'team_url': 'team/cofidis-2023',
   'rank': 27,
   'prev_rank': None,
   'age': 30,
   'nationality': 'FR',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'DINHAM Matthew',
   'rider_url': 'rider/matthew-dinham',
   'rider_number': 143,
   'team_name': 'Team dsm - firmenich',
   'team_url': 'team/team-dsm-firmenich-2023',
   'rank': 28,
   'prev_rank': None,
   'age': 23,
   'nationality': 'AU',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'PIDCOCK Thomas',
   'rider_url': 'rider/thomas-pidcock',
   'rider_number': 26,
   'team_name': 'INEOS Grenadiers',
   'team_url': 'team/ineos-grenadiers-2023',
   'rank': 29,
   'prev_rank': None,
   'age': 23,
   'nationality': 'GB',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'JOHANNESSEN Tobias Halland',
   'rider_url': 'rider/tobias-halland-johannessen',
   'rider_number': 204,
   'team_name': 'Uno-X Pro Cycling Team',
   'team_url': 'team/uno-x-pro-cycling-team-2023',
   'rank': 30,
   'prev_rank': None,
   'age': 23,
   'nationality': 'NO',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'KUSS Sepp',
   'rider_url': 'rider/sepp-kuss',
   'rider_number': 4,
   'team_name': 'Jumbo-Visma',
   'team_url': 'team/team-jumbo-visma-2023',
   'rank': 31,
   'prev_rank': None,
   'age': 28,
   'nationality': 'US',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'HAIG Jack',
   'rider_url': 'rider/jack-haig',
   'rider_number': 66,
   'team_name': 'Bahrain - Victorious',
   'team_url': 'team/bahrain-victorious-2023',
   'rank': 32,
   'prev_rank': None,
   'age': 29,
   'nationality': 'AU',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': "O'CONNOR Ben",
   'rider_url': 'rider/ben-o-connor',
   'rider_number': 91,
   'team_name': 'AG2R Citroën Team',
   'team_url': 'team/ag2r-citroen-team-2023',
   'rank': 33,
   'prev_rank': None,
   'age': 27,
   'nationality': 'AU',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'HARPER Chris',
   'rider_url': 'rider/chris-harper',
   'rider_number': 165,
   'team_name': 'Team Jayco AlUla',
   'team_url': 'team/team-jayco-alula-2023',
   'rank': 34,
   'prev_rank': None,
   'age': 28,
   'nationality': 'AU',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'CICCONE Giulio',
   'rider_url': 'rider/giulio-ciccone',
   'rider_number': 81,
   'team_name': 'Lidl - Trek',
   'team_url': 'team/lidl-trek-2023',
   'rank': 35,
   'prev_rank': None,
   'age': 28,
   'nationality': 'IT',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'GALL Felix',
   'rider_url': 'rider/felix-gall',
   'rider_number': 95,
   'team_name': 'AG2R Citroën Team',
   'team_url': 'team/ag2r-citroen-team-2023',
   'rank': 36,
   'prev_rank': None,
   'age': 25,
   'nationality': 'AT',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'VAN DER POEL Mathieu',
   'rider_url': 'rider/mathieu-van-der-poel',
   'rider_number': 101,
   'team_name': 'Alpecin-Deceuninck',
   'team_url': 'team/alpecin-deceuninck-2023',
   'rank': 37,
   'prev_rank': None,
   'age': 28,
   'nationality': 'NL',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'SÁNCHEZ Luis León',
   'rider_url': 'rider/luis-leon-sanchez',
   'rider_number': 197,
   'team_name': 'Astana Qazaqstan Team',
   'team_url': 'team/astana-qazaqstan-team-2023',
   'rank': 38,
   'prev_rank': None,
   'age': 39,
   'nationality': 'ES',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'BERTHET Clément',
   'rider_url': 'rider/clement-berthet',
   'rider_number': 92,
   'team_name': 'AG2R Citroën Team',
   'team_url': 'team/ag2r-citroen-team-2023',
   'rank': 39,
   'prev_rank': None,
   'age': 25,
   'nationality': 'FR',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'BILBAO Pello',
   'rider_url': 'rider/pello-bilbao',
   'rider_number': 65,
   'team_name': 'Bahrain - Victorious',
   'team_url': 'team/bahrain-victorious-2023',
   'rank': 40,
   'prev_rank': None,
   'age': 33,
   'nationality': 'ES',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'MAJKA Rafał',
   'rider_url': 'rider/rafal-majka',
   'rider_number': 16,
   'team_name': 'UAE Team Emirates',
   'team_url': 'team/uae-team-emirates-2023',
   'rank': 41,
   'prev_rank': None,
   'age': 33,
   'nationality': 'PL',
   'time': '4:23:22',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'CASTROVIEJO Jonathan',
   'rider_url': 'rider/jonathan-castroviejo',
   'rider_number': 22,
   'team_name': 'INEOS Grenadiers',
   'team_url': 'team/ineos-grenadiers-2023',
   'rank': 42,
   'prev_rank': None,
   'age': 36,
   'nationality': 'ES',
   'time': '4:23:37',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'LÓPEZ Juan Pedro',
   'rider_url': 'rider/juan-pedro-lopez',
   'rider_number': 85,
   'team_name': 'Lidl - Trek',
   'team_url': 'team/lidl-trek-2023',
   'rank': 43,
   'prev_rank': None,
   'age': 25,
   'nationality': 'ES',
   'time': '4:23:41',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'GROßSCHARTNER Felix',
   'rider_url': 'rider/felix-grossschartner',
   'rider_number': 14,
   'team_name': 'UAE Team Emirates',
   'team_url': 'team/uae-team-emirates-2023',
   'rank': 44,
   'prev_rank': None,
   'age': 29,
   'nationality': 'AT',
   'time': '4:24:08',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'ZIMMERMANN Georg',
   'rider_url': 'rider/georg-zimmermann',
   'rider_number': 118,
   'team_name': 'Intermarché - Circus - Wanty',
   'team_url': 'team/intermarche-circus-wanty-2023',
   'rank': 45,
   'prev_rank': None,
   'age': 25,
   'nationality': 'DE',
   'time': '4:24:10',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'POWLESS Neilson',
   'rider_url': 'rider/neilson-powless',
   'rider_number': 46,
   'team_name': 'EF Education-EasyPost',
   'team_url': 'team/ef-education-easypost-2023',
   'rank': 46,
   'prev_rank': None,
   'age': 26,
   'nationality': 'US',
   'time': '4:24:21',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'BETTIOL Alberto',
   'rider_url': 'rider/alberto-bettiol',
   'rider_number': 43,
   'team_name': 'EF Education-EasyPost',
   'team_url': 'team/ef-education-easypost-2023',
   'rank': 47,
   'prev_rank': None,
   'age': 29,
   'nationality': 'IT',
   'time': '4:24:55',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'DE LA CRUZ David',
   'rider_url': 'rider/david-de-la-cruz',
   'rider_number': 193,
   'team_name': 'Astana Qazaqstan Team',
   'team_url': 'team/astana-qazaqstan-team-2023',
   'rank': 48,
   'prev_rank': None,
   'age': 34,
   'nationality': 'ES',
   'time': '4:25:04',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'JORGENSON Matteo',
   'rider_url': 'rider/matteo-jorgenson',
   'rider_number': 135,
   'team_name': 'Movistar Team',
   'team_url': 'team/movistar-team-2023',
   'rank': 49,
   'prev_rank': None,
   'age': 24,
   'nationality': 'US',
   'time': '4:25:27',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'BURGAUDEAU Mathieu',
   'rider_url': 'rider/mathieu-burgaudeau',
   'rider_number': 213,
   'team_name': 'TotalEnergies',
   'team_url': 'team/team-totalenergies-2023',
   'rank': 50,
   'prev_rank': None,
   'age': 24,
   'nationality': 'FR',
   'time': '4:25:27',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'LOUVEL Matis',
   'rider_url': 'rider/matis-louvel',
   'rider_number': 176,
   'team_name': 'Team Arkéa Samsic',
   'team_url': 'team/team-arkea-samsic-2023',
   'rank': 51,
   'prev_rank': None,
   'age': 23,
   'nationality': 'FR',
   'time': '4:25:27',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'TURGIS Anthony',
   'rider_url': 'rider/anthony-turgis',
   'rider_number': 218,
   'team_name': 'TotalEnergies',
   'team_url': 'team/team-totalenergies-2023',
   'rank': 52,
   'prev_rank': None,
   'age': 29,
   'nationality': 'FR',
   'time': '4:26:02',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'IZAGIRRE Ion',
   'rider_url': 'rider/ion-izagirre',
   'rider_number': 124,
   'team_name': 'Cofidis',
   'team_url': 'team/cofidis-2023',
   'rank': 53,
   'prev_rank': None,
   'age': 34,
   'nationality': 'ES',
   'time': '4:26:02',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'IZAGIRRE Gorka',
   'rider_url': 'rider/gorka-izagirre',
   'rider_number': 134,
   'team_name': 'Movistar Team',
   'team_url': 'team/movistar-team-2023',
   'rank': 54,
   'prev_rank': None,
   'age': 35,
   'nationality': 'ES',
   'time': '4:26:02',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'BENOOT Tiesj',
   'rider_url': 'rider/tiesj-benoot',
   'rider_number': 2,
   'team_name': 'Jumbo-Visma',
   'team_url': 'team/team-jumbo-visma-2023',
   'rank': 55,
   'prev_rank': None,
   'age': 29,
   'nationality': 'BE',
   'time': '4:26:02',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'MARTÍNEZ Daniel Felipe',
   'rider_url': 'rider/daniel-felipe-martinez',
   'rider_number': 25,
   'team_name': 'INEOS Grenadiers',
   'team_url': 'team/ineos-grenadiers-2023',
   'rank': 56,
   'prev_rank': None,
   'age': 27,
   'nationality': 'CO',
   'time': '4:26:02',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'CHARMIG Anthon',
   'rider_url': 'rider/anthon-charmig',
   'rider_number': 203,
   'team_name': 'Uno-X Pro Cycling Team',
   'team_url': 'team/uno-x-pro-cycling-team-2023',
   'rank': 57,
   'prev_rank': None,
   'age': 25,
   'nationality': 'DK',
   'time': '4:26:26',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'MOHORIČ Matej',
   'rider_url': 'rider/matej-mohoric',
   'rider_number': 67,
   'team_name': 'Bahrain - Victorious',
   'team_url': 'team/bahrain-victorious-2023',
   'rank': 58,
   'prev_rank': None,
   'age': 28,
   'nationality': 'SI',
   'time': '4:26:26',
   'bonus': 0,
   'pcs_points': 0,
   'uci_points': 0},
  {'rider_name': 'JUNGELS Bob',
   'rider_url': 'rider/bob-jungels',
   'rider_number': 74,
   'team_name': 'BORA - hansgrohe',

In [161]:
climbs = RaceClimbs("race/tour-de-france/2023/route/climbs")

climbs = climbs.climbs()

climbs

[{'climb_name': 'Col de la Loze',
  'climb_url': 'location/col-de-la-loze',
  'length': 28.3,
  'steepness': 6.0,
  'top': 2300,
  'km_before_finnish': 7},
 {'climb_name': 'Cormet de Roselend',
  'climb_url': 'location/cormet-de-roselend',
  'length': 19.8,
  'steepness': 6.1,
  'top': 1971,
  'km_before_finnish': 99},
 {'climb_name': 'Grand Colombier',
  'climb_url': 'location/col-du-grand-colombier',
  'length': 17.8,
  'steepness': 7.0,
  'top': 1494,
  'km_before_finnish': 0},
 {'climb_name': 'Col du Tourmalet',
  'climb_url': 'location/col-du-tourmalet',
  'length': 17.0,
  'steepness': 7.4,
  'top': 2112,
  'km_before_finnish': 47},
 {'climb_name': 'Cauterets-Cambrasque',
  'climb_url': 'location/cauterets-cambasque',
  'length': 16.2,
  'steepness': 5.3,
  'top': 1353,
  'km_before_finnish': 0},
 {'climb_name': 'Col de Soudet',
  'climb_url': 'location/col-de-soudet',
  'length': 15.2,
  'steepness': 7.0,
  'top': 1518,
  'km_before_finnish': 75},
 {'climb_name': 'Col de la Ramaz',
  'climb_url': 'location/col-de-la-ramaz',
  'length': 13.9,
  'steepness': 6.9,
  'top': 1612,
  'km_before_finnish': 50},
 {'climb_name': 'Col des Saisies',
  'climb_url': 'location/col-des-saisies',
  'length': 13.5,
  'steepness': 5.2,
  'top': 1643,
  'km_before_finnish': 137},
 {'climb_name': 'Puy de Dôme',
  'climb_url': 'location/puy-de-dome',
  'length': 12.6,
  'steepness': 7.8,
  'top': 1410,
  'km_before_finnish': 0},
 {'climb_name': "Col d'Aspin",
  'climb_url': 'location/col-d-aspin',
  'length': 12.0,
  'steepness': 6.6,
  'top': 1485,
  'km_before_finnish': 77},
 {'climb_name': 'Col de Joux Plane',
  'climb_url': 'location/col-de-joux-plane',
  'length': 11.7,
  'steepness': 8.5,
  'top': 1690,
  'km_before_finnish': 12},
 {'climb_name': "Ballon d'Alsace",
  'climb_url': 'location/ballon-d-alsace',
  'length': 11.5,
  'steepness': 5.3,
  'top': 1172,
  'km_before_finnish': 110},
 {'climb_name': 'Col de la Croix Fry',
  'climb_url': 'location/col-de-la-croix-fry',
  'length': 11.4,
  'steepness': 7.1,
  'top': 1463,
  'km_before_finnish': 54},
 {'climb_name': 'Petit Ballon',
  'climb_url': 'location/petit-ballon',
  'length': 9.3,
  'steepness': 8.1,
  'top': 1157,
  'km_before_finnish': 25},
 {'climb_name': 'Jaizkibel',
  'climb_url': 'location/alto-de-jaizkibel',
  'length': 8.1,
  'steepness': 5.3,
  'top': 452,
  'km_before_finnish': 16},
 {'climb_name': 'Col de Guéry',
  'climb_url': 'location/col-de-guery',
  'length': 7.9,
  'steepness': 4.8,
  'top': 1262,
  'km_before_finnish': 140},
 {'climb_name': 'Col de Marie Blanque',
  'climb_url': 'location/col-du-marie-blanque',
  'length': 7.8,
  'steepness': 8.5,
  'top': 1031,
  'km_before_finnish': 18},
 {'climb_name': 'Saint-Gervais Mont-Blanc',
  'climb_url': 'location/saint-gervais-mont-blanc',
  'length': 7.7,
  'steepness': 7.0,
  'top': 1379,
  'km_before_finnish': 0},
 {'climb_name': 'Col de la Forclaz de Montmin',
  'climb_url': 'location/col-de-la-forclaz-montmin',
  'length': 7.2,
  'steepness': 7.3,
  'top': 1149,
  'km_before_finnish': 96},
 {'climb_name': 'Col du Platzerwasel',
  'climb_url': 'location/col-du-platzerwasel',
  'length': 7.1,
  'steepness': 8.3,
  'top': 1179,
  'km_before_finnish': 8},
 {'climb_name': 'Col de Cou',
  'climb_url': 'location/col-de-cou',
  'length': 7.1,
  'steepness': 7.4,
  'top': 1113,
  'km_before_finnish': 117},
 {'climb_name': 'Côte de Longefoy',
  'climb_url': 'location/cote-de-longefoy',
  'length': 6.7,
  'steepness': 7.5,
  'top': 1164,
  'km_before_finnish': 60},
 {'climb_name': 'Côte de la Chapelle-Marcousse',
  'climb_url': 'location/cote-de-la-chapelle-marcousse',
  'length': 6.6,
  'steepness': 5.5,
  'top': 968,
  'km_before_finnish': 29},
 {'climb_name': 'Col de la Croix Saint-Robert',
  'climb_url': 'location/col-de-la-croix-saint-robert',
  'length': 6.0,
  'steepness': 6.4,
  'top': 1445,
  'km_before_finnish': 101},
 {'climb_name': 'Col du Feu',
  'climb_url': 'location/col-du-feu',
  'length': 5.9,
  'steepness': 7.7,
  'top': 1118,
  'km_before_finnish': 99},
 {'climb_name': 'Côte de Capvern-les-Bains',
  'climb_url': 'location/cote-de-capvern-les-bains',
  'length': 5.7,
  'steepness': 4.7,
  'top': 596,
  'km_before_finnish': 115},
 {'climb_name': 'Col de la Croix Montmain',
  'climb_url': 'location/col-de-la-croix-montmain',
  'length': 5.5,
  'steepness': 6.2,
  'top': 735,
  'km_before_finnish': 44},
 {'climb_name': 'Col de la Croix Rosier',
  'climb_url': 'location/col-de-la-croix-rosier',
  'length': 5.4,
  'steepness': 7.7,
  'top': 721,
  'km_before_finnish': 28},
 {'climb_name': 'Col de la Casse Froide',
  'climb_url': 'location/col-de-la-casse-froide',
  'length': 5.2,
  'steepness': 6.0,
  'top': 740,
  'km_before_finnish': 59},
 {'climb_name': 'Col de la Croix des Moinats',
  'climb_url': 'location/col-de-la-croix-des-moinats',
  'length': 5.2,
  'steepness': 7.0,
  'top': 882,
  'km_before_finnish': 77},
 {'climb_name': "Col d'Itziar",
  'climb_url': 'location/alto-de-itziar',
  'length': 5.1,
  'steepness': 4.1,
  'top': 215,
  'km_before_finnish': 123},
 {'climb_name': 'Col de la Moréno',
  'climb_url': 'location/col-de-la-moreno',
  'length': 4.8,
  'steepness': 4.9,
  'top': 1061,
  'km_before_finnish': 160},
 {'climb_name': "Côte d'Orioko Benta",
  'climb_url': 'location/alto-orioko-benta',
  'length': 4.6,
  'steepness': 6.7,
  'top': 313,
  'km_before_finnish': 92},
 {'climb_name': "Col d'Udana",
  'climb_url': 'location/puerto-de-udana',
  'length': 4.5,
  'steepness': 4.9,
  'top': 512,
  'km_before_finnish': 128},
 {'climb_name': 'Col de Saxel',
  'climb_url': 'location/col-de-saxel',
  'length': 4.4,
  'steepness': 4.6,
  'top': 941,
  'km_before_finnish': 133},
 {'climb_name': 'Côte de Thizy-les-Bourgs',
  'climb_url': 'location/cote-de-thizy-les-bourgs',
  'length': 4.4,
  'steepness': 5.6,
  'top': 629,
  'km_before_finnish': 148},
 {'climb_name': 'Col des Aravis',
  'climb_url': 'location/col-des-aravis',
  'length': 4.4,
  'steepness': 6.2,
  'top': 1483,
  'km_before_finnish': 46},
 {'climb_name': 'Côte de Vivero',
  'climb_url': 'location/alto-el-vivero',
  'length': 4.3,
  'steepness': 7.0,
  'top': 355,
  'km_before_finnish': 27},
 {'climb_name': "Côte d'Alkiza",
  'climb_url': 'location/alkiza',
  'length': 4.2,
  'steepness': 5.9,
  'top': 327,
  'km_before_finnish': 68},
 {'climb_name': 'Côte de Trabakua',
  'climb_url': 'location/trabakua',
  'length': 4.2,
  'steepness': 5.7,
  'top': 386,
  'km_before_finnish': 180},
 {'climb_name': 'Col de la Schlucht ',
  'climb_url': 'location/col-de-la-schlucht',
  'length': 4.2,
  'steepness': 5.0,
  'top': 1136,
  'km_before_finnish': 54},
 {'climb_name': "Col d'Ichère",
  'climb_url': 'location/col-d-ichere',
  'length': 4.2,
  'steepness': 6.2,
  'top': 675,
  'km_before_finnish': 38},
 {'climb_name': 'Côte de Pontaumur',
  'climb_url': 'location/cote-de-pontaumur',
  'length': 3.9,
  'steepness': 4.9,
  'top': 723,
  'km_before_finnish': 56},
 {'climb_name': 'Col de Morga',
  'climb_url': 'location/alto-de-morga',
  'length': 3.8,
  'steepness': 4.9,
  'top': 324,
  'km_before_finnish': 41},
 {'climb_name': 'Côte de San Juan de Gaztelugatxe',
  'climb_url': 'location/alto-de-san-juan-de-gaztelugatxe',
  'length': 3.6,
  'steepness': 7.9,
  'top': 297,
  'km_before_finnish': 114},
 {'climb_name': 'Col de Grosse Pierre',
  'climb_url': 'location/col-de-grosse-pierre',
  'length': 3.2,
  'steepness': 7.9,
  'top': 937,
  'km_before_finnish': 69},
 {'climb_name': 'Côte de Saint-Victor-la-Rivière',
  'climb_url': 'location/cote-de-saint-victor-la-riviere',
  'length': 3.0,
  'steepness': 6.0,
  'top': 1025,
  'km_before_finnish': 83},
 {'climb_name': 'Côte du Mercurol',
  'climb_url': 'location/cote-du-mercurol',
  'length': 2.9,
  'steepness': 4.4,
  'top': 446,
  'km_before_finnish': 130},
 {'climb_name': 'Côte de Domancy',
  'climb_url': 'location/cote-de-domancy',
  'length': 2.8,
  'steepness': 8.4,
  'top': 793,
  'km_before_finnish': 4},
 {'climb_name': 'Côte de Champs-Romain',
  'climb_url': 'location/cote-de-champs-romain',
  'length': 2.8,
  'steepness': 5.0,
  'top': 301,
  'km_before_finnish': 70},
 {'climb_name': 'Côte des Amerands',
  'climb_url': 'location/cote-des-amerands',
  'length': 2.7,
  'steepness': 10.1,
  'top': 861,
  'km_before_finnish': 8},
 {'climb_name': "Côte d'Aztiria",
  'climb_url': 'location/alto-de-aztiria',
  'length': 2.7,
  'steepness': 6.0,
  'top': 594,
  'km_before_finnish': 121},
 {'climb_name': 'Côte de Boissieu',
  'climb_url': 'location/cote-de-boissieu',
  'length': 2.6,
  'steepness': 4.8,
  'top': 354,
  'km_before_finnish': 80},
 {'climb_name': 'Côte de Gurutze',
  'climb_url': 'location/gurutze',
  'length': 2.5,
  'steepness': 4.9,
  'top': 153,
  'km_before_finnish': 34},
 {'climb_name': 'Côte de Felletin',
  'climb_url': 'location/cote-de-felletin',
  'length': 2.3,
  'steepness': 4.8,
  'top': 650,
  'km_before_finnish': 108},
 {'climb_name': "Côte d'Ivory",
  'climb_url': 'location/cote-d-ivory',
  'length': 2.3,
  'steepness': 6.1,
  'top': 595,
  'km_before_finnish': 28},
 {'climb_name': 'Côte de Milloi',
  'climb_url': 'location/milloi',
  'length': 2.2,
  'steepness': 4.9,
  'top': 161,
  'km_before_finnish': 161},
 {'climb_name': 'Côte de Laukiz',
  'climb_url': 'location/cote-de-laukiz',
  'length': 2.1,
  'steepness': 6.8,
  'top': 220,
  'km_before_finnish': 168},
 {'climb_name': 'Côte de Dému',
  'climb_url': 'location/cote-de-demu',
  'length': 2.1,
  'steepness': 3.2,
  'top': 217,
  'km_before_finnish': 27},
 {'climb_name': 'Côte de Pontcharraud',
  'climb_url': 'location/cote-de-pontcharraud',
  'length': 2.0,
  'steepness': 4.5,
  'top': 683,
  'km_before_finnish': 97},
 {'climb_name': 'Col des Écorbans',
  'climb_url': 'location/col-des-ecorbans',
  'length': 2.0,
  'steepness': 5.8,
  'top': 824,
  'km_before_finnish': 131},
 {'climb_name': 'Côte de Pike',
  'climb_url': 'location/alto-pike',
  'length': 2.0,
  'steepness': 9.8,
  'top': 210,
  'km_before_finnish': 10},
 {'climb_name': 'Côte de Chaptuzat-Haut',
  'climb_url': 'location/cote-de-chaptuzat-haut',
  'length': 1.9,
  'steepness': 4.9,
  'top': 476,
  'km_before_finnish': 148},
 {'climb_name': 'Côte du Bois de Lionge',
  'climb_url': 'location/cote-du-bois-de-lionge',
  'length': 1.9,
  'steepness': 5.7,
  'top': 694,
  'km_before_finnish': 149},
 {'climb_name': 'Côte de la Croix Blanche',
  'climb_url': 'location/cote-de-la-croix-blanche-puy-de-dome',
  'length': 1.7,
  'steepness': 5.1,
  'top': 285,
  'km_before_finnish': 61},
 {'climb_name': 'Côte de Chambéry-le-Haut',
  'climb_url': 'location/cote-de-chambery-le-haut',
  'length': 1.6,
  'steepness': 4.3,
  'top': 345,
  'km_before_finnish': 123},
 {'climb_name': 'Côte de Masmont',
  'climb_url': 'location/cote-de-masmont',
  'length': 1.3,
  'steepness': 5.3,
  'top': 345,
  'km_before_finnish': 16},
 {'climb_name': 'Côte du Pavé des Gardes',
  'climb_url': 'location/cote-du-pave-des-gardes',
  'length': 1.3,
  'steepness': 5.9,
  'top': 172,
  'km_before_finnish': 72},
 {'climb_name': 'Côte de Condat-sur-Vienne',
  'climb_url': 'location/cote-de-condat-sur-vienne',
  'length': 1.2,
  'steepness': 5.3,
  'top': 282,
  'km_before_finnish': 10},
 {'climb_name': 'Côte de Béguey',
  'climb_url': 'location/cote-de-beguey',
  'length': 1.2,
  'steepness': 4.3,
  'top': 80,
  'km_before_finnish': 39}]

In [162]:
# Crear un dataframe con los datos de los puertos

climbs_df = pd.DataFrame(climbs)

climbs_df

,climb_name,climb_url,length,steepness,top,km_before_finnish
0,Col de la Loze,location/col-de-la-loze,28.3,6.0,2300,7
1,Cormet de Roselend,location/cormet-de-roselend,19.8,6.1,1971,99
2,Grand Colombier,location/col-du-grand-colombier,17.8,7.0,1494,0
3,Col du Tourmalet,location/col-du-tourmalet,17.0,7.4,2112,47
4,Cauterets-Cambrasque,location/cauterets-cambasque,16.2,5.3,1353,0
...,...,...,...,...,...,...
65,Côte de Chambéry-le-Haut,location/cote-de-chambery-le-haut,1.6,4.3,345,123
66,Côte de Masmont,location/cote-de-masmont,1.3,5.3,345,16
67,Côte du Pavé des Gardes,location/cote-du-pave-des-gardes,1.3,5.9,172,72
68,Côte de Condat-sur-Vienne,location/cote-de-condat-sur-vienne,1.2,5.3,282,10
69,Côte de Béguey,location/cote-de-beguey,1.2,4.3,80,39

In [163]:
# hacer un merge de stage1_df con climb_df para tener un dataframe con los datos de stage1 y climb

stage1_climb_df = pd.merge(stage1_df, climbs_df, on='climb_name')

stage1_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Côte de Laukiz,location/cote-de-laukiz,1,location/cote-de-laukiz,2.1,6.8,220,168
1,Côte de San Juan de Gaztelugatxe,location/alto-de-san-juan-de-gaztelugatxe,1,location/alto-de-san-juan-de-gaztelugatxe,3.6,7.9,297,114
2,Col de Morga,location/alto-de-morga,1,location/alto-de-morga,3.8,4.9,324,41
3,Côte de Vivero,location/alto-el-vivero,1,location/alto-el-vivero,4.3,7.0,355,27
4,Côte de Pike,location/alto-pike,1,location/alto-pike,2.0,9.8,210,10

In [164]:
# Exportar a csv los datos de stage1_climb_df

stage1_climb_df.to_csv('stage1_climb.csv', index=False)

In [165]:
stage1 = Stage("race/tour-de-france/2023/stage-2")

stage2 = stage1.climbs()

stage2

stage2_df = pd.DataFrame(stage2)

stage2_df

        climb_name                   climb_url
0      Col d'Udana    location/puerto-de-udana
1   Côte d'Aztiria    location/alto-de-aztiria
2    Côte d'Alkiza             location/alkiza
3  Côte de Gurutze            location/gurutze
4        Jaizkibel  location/alto-de-jaizkibel

In [166]:
# Crear una cloumna de stage_id en el dataframe de stage2 con el valor de 2

stage2_df['stage_id'] = 2

stage2_df

        climb_name                   climb_url  stage_id
0      Col d'Udana    location/puerto-de-udana         2
1   Côte d'Aztiria    location/alto-de-aztiria         2
2    Côte d'Alkiza             location/alkiza         2
3  Côte de Gurutze            location/gurutze         2
4        Jaizkibel  location/alto-de-jaizkibel         2

In [167]:
# hacer un merge de stage2_df con climb_df para tener un dataframe con los datos de stage2 y climb  

stage2_climb_df = pd.merge(stage2_df, climbs_df, on='climb_name')

stage2_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Col d'Udana,location/puerto-de-udana,2,location/puerto-de-udana,4.5,4.9,512,128
1,Côte d'Aztiria,location/alto-de-aztiria,2,location/alto-de-aztiria,2.7,6.0,594,121
2,Côte d'Alkiza,location/alkiza,2,location/alkiza,4.2,5.9,327,68
3,Côte de Gurutze,location/gurutze,2,location/gurutze,2.5,4.9,153,34
4,Jaizkibel,location/alto-de-jaizkibel,2,location/alto-de-jaizkibel,8.1,5.3,452,16

In [168]:
# Exportar a csv los datos de stage2_climb_df

stage2_climb_df.to_csv('stage2_climb.csv', index=False)

In [169]:
stage2 = Stage("race/tour-de-france/2023/stage-3")

stage3 = stage2.climbs()

stage3

stage3_df = pd.DataFrame(stage3)

stage3_df

            climb_name                   climb_url
0     Côte de Trabakua           location/trabakua
1       Côte de Milloi             location/milloi
2         Col d'Itziar     location/alto-de-itziar
3  Côte d'Orioko Benta  location/alto-orioko-benta

In [170]:
# Crear una cloumna de stage_id en el dataframe de stage2 con el valor de 3

stage3_df['stage_id'] = 3

stage3_df

            climb_name                   climb_url  stage_id
0     Côte de Trabakua           location/trabakua         3
1       Côte de Milloi             location/milloi         3
2         Col d'Itziar     location/alto-de-itziar         3
3  Côte d'Orioko Benta  location/alto-orioko-benta         3

In [171]:
# hacer un merge de stage3_df con climb_df para tener un dataframe con los datos de stage3 y climb  

stage3_climb_df = pd.merge(stage3_df, climbs_df, on='climb_name')

stage3_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Côte de Trabakua,location/trabakua,3,location/trabakua,4.2,5.7,386,180
1,Côte de Milloi,location/milloi,3,location/milloi,2.2,4.9,161,161
2,Col d'Itziar,location/alto-de-itziar,3,location/alto-de-itziar,5.1,4.1,215,123
3,Côte d'Orioko Benta,location/alto-orioko-benta,3,location/alto-orioko-benta,4.6,6.7,313,92

In [172]:
#exportar a csv los datos de stage3_climb_df

stage3_climb_df.to_csv('stage3_climb.csv', index=False)

In [173]:
stage3 = Stage("race/tour-de-france/2023/stage-4")

stage4 = stage3.climbs()

stage4

stage4_df = pd.DataFrame(stage4)

stage4_df

     climb_name              climb_url
0  Côte de Dému  location/cote-de-demu

In [174]:
# Crear una cloumna de stage_id en el dataframe de stage4 con el valor de 4

stage4_df['stage_id'] = 4

stage4_df

     climb_name              climb_url  stage_id
0  Côte de Dému  location/cote-de-demu         4

In [175]:
# hacer un merge de stage4_df con climb_df para tener un dataframe con los datos de stage4 y climb  

stage4_climb_df = pd.merge(stage4_df, climbs_df, on='climb_name')

stage4_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Côte de Dému,location/cote-de-demu,4,location/cote-de-demu,2.1,3.2,217,27

In [176]:
#exportar a csv los datos de stage3_climb_df

stage4_climb_df.to_csv('stage4_climb.csv', index=False)

In [177]:
stage4 = Stage("race/tour-de-france/2023/stage-5")

stage5 = stage4.climbs()

stage5

stage5_df = pd.DataFrame(stage5)

stage5_df

             climb_name                      climb_url
0         Col de Soudet         location/col-de-soudet
1          Col d'Ichère          location/col-d-ichere
2  Col de Marie Blanque  location/col-du-marie-blanque

In [178]:
# Crear una cloumna de stage_id en el dataframe de stage4 con el valor de 5

stage5_df['stage_id'] = 5

stage5_df

             climb_name                      climb_url  stage_id
0         Col de Soudet         location/col-de-soudet         5
1          Col d'Ichère          location/col-d-ichere         5
2  Col de Marie Blanque  location/col-du-marie-blanque         5

In [179]:
# hacer un merge de stage5_df con climb_df para tener un dataframe con los datos de stage5 y climb  

stage5_climb_df = pd.merge(stage5_df, climbs_df, on='climb_name')

stage5_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Col de Soudet,location/col-de-soudet,5,location/col-de-soudet,15.2,7.0,1518,75
1,Col d'Ichère,location/col-d-ichere,5,location/col-d-ichere,4.2,6.2,675,38
2,Col de Marie Blanque,location/col-du-marie-blanque,5,location/col-du-marie-blanque,7.8,8.5,1031,18

In [180]:
#exportar a csv los datos de stage5_climb_df

stage5_climb_df.to_csv('stage5_climb.csv', index=False)

In [181]:
stage5 = Stage("race/tour-de-france/2023/stage-6")

stage6 = stage5.climbs()

stage6

stage6_df = pd.DataFrame(stage6)

stage6_df

                  climb_name                           climb_url
0  Côte de Capvern-les-Bains  location/cote-de-capvern-les-bains
1                Col d'Aspin                location/col-d-aspin
2           Col du Tourmalet           location/col-du-tourmalet
3       Cauterets-Cambrasque        location/cauterets-cambasque

In [182]:
# Crear una cloumna de stage_id en el dataframe de stage4 con el valor de 6

stage6_df['stage_id'] = 6

stage6_df

                  climb_name                           climb_url  stage_id
0  Côte de Capvern-les-Bains  location/cote-de-capvern-les-bains         6
1                Col d'Aspin                location/col-d-aspin         6
2           Col du Tourmalet           location/col-du-tourmalet         6
3       Cauterets-Cambrasque        location/cauterets-cambasque         6

In [183]:
# hacer un merge de stage5_df con climb_df para tener un dataframe con los datos de stage5 y climb  

stage6_climb_df = pd.merge(stage6_df, climbs_df, on='climb_name')

stage6_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Côte de Capvern-les-Bains,location/cote-de-capvern-les-bains,6,location/cote-de-capvern-les-bains,5.7,4.7,596,115
1,Col d'Aspin,location/col-d-aspin,6,location/col-d-aspin,12.0,6.6,1485,77
2,Col du Tourmalet,location/col-du-tourmalet,6,location/col-du-tourmalet,17.0,7.4,2112,47
3,Cauterets-Cambrasque,location/cauterets-cambasque,6,location/cauterets-cambasque,16.2,5.3,1353,0

In [184]:
#exportar a csv los datos de stage5_climb_df

stage6_climb_df.to_csv('stage6_climb.csv', index=False)

In [185]:
stage6 = Stage("race/tour-de-france/2023/stage-7")

stage7 = stage6.climbs()

stage7

stage7_df = pd.DataFrame(stage7)

stage7_df

       climb_name                climb_url
0  Côte de Béguey  location/cote-de-beguey

In [186]:
# Crear una cloumna de stage_id en el dataframe de stage4 con el valor de 7

stage7_df['stage_id'] = 7

stage7_df

       climb_name                climb_url  stage_id
0  Côte de Béguey  location/cote-de-beguey         7

In [187]:
# hacer un merge de stage7_df con climb_df para tener un dataframe con los datos de stage7 y climb  

stage7_climb_df = pd.merge(stage7_df, climbs_df, on='climb_name')

stage7_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Côte de Béguey,location/cote-de-beguey,7,location/cote-de-beguey,1.2,4.3,80,39

In [188]:
#exportar a csv los datos de stage7_climb_df

stage7_climb_df.to_csv('stage7_climb.csv', index=False)

In [189]:
stage7 = Stage("race/tour-de-france/2023/stage-8")

stage8 = stage7.climbs()

stage8

stage8_df = pd.DataFrame(stage8)

stage8_df

                  climb_name                           climb_url
0      Côte de Champs-Romain      location/cote-de-champs-romain
1            Côte de Masmont            location/cote-de-masmont
2  Côte de Condat-sur-Vienne  location/cote-de-condat-sur-vienne

In [190]:
# Crear una cloumna de stage_id en el dataframe de stage8 con el valor de 8

stage8_df['stage_id'] = 8

stage8_df

                  climb_name                           climb_url  stage_id
0      Côte de Champs-Romain      location/cote-de-champs-romain         8
1            Côte de Masmont            location/cote-de-masmont         8
2  Côte de Condat-sur-Vienne  location/cote-de-condat-sur-vienne         8

In [191]:
# hacer un merge de stage7_df con climb_df para tener un dataframe con los datos de stage7 y climb  

stage8_climb_df = pd.merge(stage8_df, climbs_df, on='climb_name')

stage8_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Côte de Champs-Romain,location/cote-de-champs-romain,8,location/cote-de-champs-romain,2.8,5.0,301,70
1,Côte de Masmont,location/cote-de-masmont,8,location/cote-de-masmont,1.3,5.3,345,16
2,Côte de Condat-sur-Vienne,location/cote-de-condat-sur-vienne,8,location/cote-de-condat-sur-vienne,1.2,5.3,282,10

In [192]:
#exportar a csv los datos de stage7_climb_df

stage8_climb_df.to_csv('stage8_climb.csv', index=False)

In [193]:
stage8 = Stage("race/tour-de-france/2023/stage-9")

stage9 = stage8.climbs()

stage9

stage9_df = pd.DataFrame(stage9)

stage9_df

             climb_name                      climb_url
0      Côte de Felletin      location/cote-de-felletin
1  Côte de Pontcharraud  location/cote-de-pontcharraud
2     Côte de Pontaumur     location/cote-de-pontaumur
3           Puy de Dôme           location/puy-de-dome

In [194]:
# Crear una cloumna de stage_id en el dataframe de stage8 con el valor de 9

stage9_df['stage_id'] = 9

stage9_df

             climb_name                      climb_url  stage_id
0      Côte de Felletin      location/cote-de-felletin         9
1  Côte de Pontcharraud  location/cote-de-pontcharraud         9
2     Côte de Pontaumur     location/cote-de-pontaumur         9
3           Puy de Dôme           location/puy-de-dome         9

In [195]:
# hacer un merge de stage7_df con climb_df para tener un dataframe con los datos de stage7 y climb  

stage9_climb_df = pd.merge(stage9_df, climbs_df, on='climb_name')

stage9_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Côte de Felletin,location/cote-de-felletin,9,location/cote-de-felletin,2.3,4.8,650,108
1,Côte de Pontcharraud,location/cote-de-pontcharraud,9,location/cote-de-pontcharraud,2.0,4.5,683,97
2,Côte de Pontaumur,location/cote-de-pontaumur,9,location/cote-de-pontaumur,3.9,4.9,723,56
3,Puy de Dôme,location/puy-de-dome,9,location/puy-de-dome,12.6,7.8,1410,0

In [196]:
#exportar a csv los datos de stage9_climb_df

stage9_climb_df.to_csv('stage9_climb.csv', index=False)

In [197]:
stage9 = Stage("race/tour-de-france/2023/stage-10")

stage10 = stage9.climbs()

stage10

stage10_df = pd.DataFrame(stage10)

stage10_df

                        climb_name                                 climb_url
0                 Col de la Moréno                 location/col-de-la-moreno
1                     Col de Guéry                     location/col-de-guery
2     Col de la Croix Saint-Robert     location/col-de-la-croix-saint-robert
3  Côte de Saint-Victor-la-Rivière  location/cote-de-saint-victor-la-riviere
4    Côte de la Chapelle-Marcousse    location/cote-de-la-chapelle-marcousse

In [198]:
# Crear una cloumna de stage_id en el dataframe de stage8 con el valor de 10

stage10_df['stage_id'] = 10

stage10_df

,climb_name,climb_url,stage_id
0,Col de la Moréno,location/col-de-la-moreno,10
1,Col de Guéry,location/col-de-guery,10
2,Col de la Croix Saint-Robert,location/col-de-la-croix-saint-robert,10
3,Côte de Saint-Victor-la-Rivière,location/cote-de-saint-victor-la-riviere,10
4,Côte de la Chapelle-Marcousse,location/cote-de-la-chapelle-marcousse,10

In [199]:
# hacer un merge de stage10_df con climb_df para tener un dataframe con los datos de stage7 y climb  

stage10_climb_df = pd.merge(stage10_df, climbs_df, on='climb_name')

stage10_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Col de la Moréno,location/col-de-la-moreno,10,location/col-de-la-moreno,4.8,4.9,1061,160
1,Col de Guéry,location/col-de-guery,10,location/col-de-guery,7.9,4.8,1262,140
2,Col de la Croix Saint-Robert,location/col-de-la-croix-saint-robert,10,location/col-de-la-croix-saint-robert,6.0,6.4,1445,101
3,Côte de Saint-Victor-la-Rivière,location/cote-de-saint-victor-la-riviere,10,location/cote-de-saint-victor-la-riviere,3.0,6.0,1025,83
4,Côte de la Chapelle-Marcousse,location/cote-de-la-chapelle-marcousse,10,location/cote-de-la-chapelle-marcousse,6.6,5.5,968,29

In [200]:
#exportar a csv los datos de stage9_climb_df

stage10_climb_df.to_csv('stage10_climb.csv', index=False)

In [201]:
stage10 = Stage("race/tour-de-france/2023/stage-11")

stage11 = stage10.climbs()

stage11

stage11_df = pd.DataFrame(stage11)

stage11_df

                 climb_name                                      climb_url
0    Côte de Chaptuzat-Haut                location/cote-de-chaptuzat-haut
1          Côte du Mercurol                      location/cote-du-mercurol
2  Côte de la Croix Blanche  location/cote-de-la-croix-blanche-puy-de-dome

In [202]:
# Crear una cloumna de stage_id en el dataframe de stage8 con el valor de 11

stage11_df['stage_id'] = 11

stage11_df

,climb_name,climb_url,stage_id
0,Côte de Chaptuzat-Haut,location/cote-de-chaptuzat-haut,11
1,Côte du Mercurol,location/cote-du-mercurol,11
2,Côte de la Croix Blanche,location/cote-de-la-croix-blanche-puy-de-dome,11

In [203]:
# hacer un merge de stage10_df con climb_df para tener un dataframe con los datos de stage7 y climb  

stage11_climb_df = pd.merge(stage11_df, climbs_df, on='climb_name')

stage11_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Côte de Chaptuzat-Haut,location/cote-de-chaptuzat-haut,11,location/cote-de-chaptuzat-haut,1.9,4.9,476,148
1,Côte du Mercurol,location/cote-du-mercurol,11,location/cote-du-mercurol,2.9,4.4,446,130
2,Côte de la Croix Blanche,location/cote-de-la-croix-blanche-puy-de-dome,11,location/cote-de-la-croix-blanche-puy-de-dome,1.7,5.1,285,61

In [204]:
#exportar a csv los datos de stage11_climb_df

stage11_climb_df.to_csv('stage11_climb.csv', index=False)

In [205]:
stage11 = Stage("race/tour-de-france/2023/stage-12")

stage12 = stage11.climbs()

stage12

stage12_df = pd.DataFrame(stage12)

stage12_df

                 climb_name                          climb_url
0  Côte de Thizy-les-Bourgs  location/cote-de-thizy-les-bourgs
1          Col des Écorbans          location/col-des-ecorbans
2    Col de la Casse Froide    location/col-de-la-casse-froide
3  Col de la Croix Montmain  location/col-de-la-croix-montmain
4    Col de la Croix Rosier    location/col-de-la-croix-rosier

In [206]:
# Crear una cloumna de stage_id en el dataframe de stage8 con el valor de 12

stage12_df['stage_id'] = 12

stage12_df

                 climb_name                          climb_url  stage_id
0  Côte de Thizy-les-Bourgs  location/cote-de-thizy-les-bourgs        12
1          Col des Écorbans          location/col-des-ecorbans        12
2    Col de la Casse Froide    location/col-de-la-casse-froide        12
3  Col de la Croix Montmain  location/col-de-la-croix-montmain        12
4    Col de la Croix Rosier    location/col-de-la-croix-rosier        12

In [207]:
# hacer un merge de stage12_df con climb_df para tener un dataframe con los datos de stage12 y climb  

stage12_climb_df = pd.merge(stage12_df, climbs_df, on='climb_name')

stage12_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Côte de Thizy-les-Bourgs,location/cote-de-thizy-les-bourgs,12,location/cote-de-thizy-les-bourgs,4.4,5.6,629,148
1,Col des Écorbans,location/col-des-ecorbans,12,location/col-des-ecorbans,2.0,5.8,824,131
2,Col de la Casse Froide,location/col-de-la-casse-froide,12,location/col-de-la-casse-froide,5.2,6.0,740,59
3,Col de la Croix Montmain,location/col-de-la-croix-montmain,12,location/col-de-la-croix-montmain,5.5,6.2,735,44
4,Col de la Croix Rosier,location/col-de-la-croix-rosier,12,location/col-de-la-croix-rosier,5.4,7.7,721,28

In [208]:
#exportar a csv los datos de stage11_climb_df

stage12_climb_df.to_csv('stage12_climb.csv', index=False)

In [209]:
stage12 = Stage("race/tour-de-france/2023/stage-13")

stage13 = stage12.climbs()

stage13

stage13_df = pd.DataFrame(stage13)

stage13_df

        climb_name                        climb_url
0  Grand Colombier  location/col-du-grand-colombier

In [210]:
# Crear una cloumna de stage_id en el dataframe de stage8 con el valor de 13

stage13_df['stage_id'] = 13

stage13_df

        climb_name                        climb_url  stage_id
0  Grand Colombier  location/col-du-grand-colombier        13

In [211]:
# hacer un merge de stage13_df con climb_df para tener un dataframe con los datos de stage13 y climb  

stage13_climb_df = pd.merge(stage13_df, climbs_df, on='climb_name')

stage13_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Grand Colombier,location/col-du-grand-colombier,13,location/col-du-grand-colombier,17.8,7.0,1494,0

In [212]:
#exportar a csv los datos de stage11_climb_df

stage13_climb_df.to_csv('stage13_climb.csv', index=False)

In [213]:
stage13 = Stage("race/tour-de-france/2023/stage-14")

stage14 = stage13.climbs()

stage14

stage14_df = pd.DataFrame(stage14)

stage14_df

          climb_name                   climb_url
0       Col de Saxel       location/col-de-saxel
1         Col de Cou         location/col-de-cou
2         Col du Feu         location/col-du-feu
3    Col de la Ramaz    location/col-de-la-ramaz
4  Col de Joux Plane  location/col-de-joux-plane

In [214]:
# Crear una cloumna de stage_id en el dataframe de stage8 con el valor de 14

stage14_df['stage_id'] = 14

stage14_df

          climb_name                   climb_url  stage_id
0       Col de Saxel       location/col-de-saxel        14
1         Col de Cou         location/col-de-cou        14
2         Col du Feu         location/col-du-feu        14
3    Col de la Ramaz    location/col-de-la-ramaz        14
4  Col de Joux Plane  location/col-de-joux-plane        14

In [215]:
# hacer un merge de stage14_df con climb_df para tener un dataframe con los datos de stage14 y climb  

stage14_climb_df = pd.merge(stage14_df, climbs_df, on='climb_name')

stage14_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Col de Saxel,location/col-de-saxel,14,location/col-de-saxel,4.4,4.6,941,133
1,Col de Cou,location/col-de-cou,14,location/col-de-cou,7.1,7.4,1113,117
2,Col du Feu,location/col-du-feu,14,location/col-du-feu,5.9,7.7,1118,99
3,Col de la Ramaz,location/col-de-la-ramaz,14,location/col-de-la-ramaz,13.9,6.9,1612,50
4,Col de Joux Plane,location/col-de-joux-plane,14,location/col-de-joux-plane,11.7,8.5,1690,12

In [216]:
#exportar a csv los datos de stage11_climb_df

stage14_climb_df.to_csv('stage14_climb.csv', index=False)

In [217]:
stage14 = Stage("race/tour-de-france/2023/stage-15")

stage15 = stage14.climbs()

stage15

stage15_df = pd.DataFrame(stage15)

stage15_df

                     climb_name                           climb_url
0  Col de la Forclaz de Montmin  location/col-de-la-forclaz-montmin
1           Col de la Croix Fry        location/col-de-la-croix-fry
2                Col des Aravis             location/col-des-aravis
3             Côte des Amerands          location/cote-des-amerands
4      Saint-Gervais Mont-Blanc   location/saint-gervais-mont-blanc

In [218]:
# Crear una cloumna de stage_id en el dataframe de stage8 con el valor de 15

stage15_df['stage_id'] = 15

stage15_df

                     climb_name                           climb_url  stage_id
0  Col de la Forclaz de Montmin  location/col-de-la-forclaz-montmin        15
1           Col de la Croix Fry        location/col-de-la-croix-fry        15
2                Col des Aravis             location/col-des-aravis        15
3             Côte des Amerands          location/cote-des-amerands        15
4      Saint-Gervais Mont-Blanc   location/saint-gervais-mont-blanc        15

In [219]:
# hacer un merge de stage15_df con climb_df para tener un dataframe con los datos de stage15 y climb  

stage15_climb_df = pd.merge(stage15_df, climbs_df, on='climb_name')

stage15_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Col de la Forclaz de Montmin,location/col-de-la-forclaz-montmin,15,location/col-de-la-forclaz-montmin,7.2,7.3,1149,96
1,Col de la Croix Fry,location/col-de-la-croix-fry,15,location/col-de-la-croix-fry,11.4,7.1,1463,54
2,Col des Aravis,location/col-des-aravis,15,location/col-des-aravis,4.4,6.2,1483,46
3,Côte des Amerands,location/cote-des-amerands,15,location/cote-des-amerands,2.7,10.1,861,8
4,Saint-Gervais Mont-Blanc,location/saint-gervais-mont-blanc,15,location/saint-gervais-mont-blanc,7.7,7.0,1379,0

In [220]:
#exportar a csv los datos de stage11_climb_df

stage15_climb_df.to_csv('stage15_climb.csv', index=False)

In [221]:
stage15 = Stage("race/tour-de-france/2023/stage-16")

stage16 = stage15.climbs()

stage16

stage16_df = pd.DataFrame(stage16)

stage16_df

        climb_name                 climb_url
0  Côte de Domancy  location/cote-de-domancy

In [222]:
# Crear una cloumna de stage_id en el dataframe de stage8 con el valor de 16

stage16_df['stage_id'] = 16

stage16_df

        climb_name                 climb_url  stage_id
0  Côte de Domancy  location/cote-de-domancy        16

In [223]:
# hacer un merge de stage16_df con climb_df para tener un dataframe con los datos de stage16 y climb  

stage16_climb_df = pd.merge(stage16_df, climbs_df, on='climb_name')

stage16_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Côte de Domancy,location/cote-de-domancy,16,location/cote-de-domancy,2.8,8.4,793,4

In [224]:
#exportar a csv los datos de stage11_climb_df

stage16_climb_df.to_csv('stage16_climb.csv', index=False)

In [225]:
stage16 = Stage("race/tour-de-france/2023/stage-17")

stage17 = stage16.climbs()

stage17

stage17_df = pd.DataFrame(stage17)

stage17_df

           climb_name                    climb_url
0     Col des Saisies     location/col-des-saisies
1  Cormet de Roselend  location/cormet-de-roselend
2    Côte de Longefoy    location/cote-de-longefoy
3      Col de la Loze      location/col-de-la-loze

In [226]:
# Crear una cloumna de stage_id en el dataframe de stage17 con el valor de 17

stage17_df['stage_id'] = 17

stage17_df

           climb_name                    climb_url  stage_id
0     Col des Saisies     location/col-des-saisies        17
1  Cormet de Roselend  location/cormet-de-roselend        17
2    Côte de Longefoy    location/cote-de-longefoy        17
3      Col de la Loze      location/col-de-la-loze        17

In [227]:
# hacer un merge de stage17_df con climb_df para tener un dataframe con los datos de stage17 y climb  

stage17_climb_df = pd.merge(stage17_df, climbs_df, on='climb_name')

stage17_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Col des Saisies,location/col-des-saisies,17,location/col-des-saisies,13.5,5.2,1643,137
1,Cormet de Roselend,location/cormet-de-roselend,17,location/cormet-de-roselend,19.8,6.1,1971,99
2,Côte de Longefoy,location/cote-de-longefoy,17,location/cote-de-longefoy,6.7,7.5,1164,60
3,Col de la Loze,location/col-de-la-loze,17,location/col-de-la-loze,28.3,6.0,2300,7

In [228]:
#exportar a csv los datos de stage11_climb_df

stage17_climb_df.to_csv('stage17_climb.csv', index=False)

In [229]:
stage17 = Stage("race/tour-de-france/2023/stage-18")

stage18 = stage17.climbs()

stage18

stage18_df = pd.DataFrame(stage18)

stage18_df

                 climb_name                          climb_url
0  Côte de Chambéry-le-Haut  location/cote-de-chambery-le-haut
1          Côte de Boissieu          location/cote-de-boissieu

In [230]:
# Crear una cloumna de stage_id en el dataframe de stage18 con el valor de 18

stage18_df['stage_id'] = 18

stage18_df

                 climb_name                          climb_url  stage_id
0  Côte de Chambéry-le-Haut  location/cote-de-chambery-le-haut        18
1          Côte de Boissieu          location/cote-de-boissieu        18

In [231]:
# hacer un merge de stage17_df con climb_df para tener un dataframe con los datos de stage17 y climb  

stage18_climb_df = pd.merge(stage18_df, climbs_df, on='climb_name')

stage18_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Côte de Chambéry-le-Haut,location/cote-de-chambery-le-haut,18,location/cote-de-chambery-le-haut,1.6,4.3,345,123
1,Côte de Boissieu,location/cote-de-boissieu,18,location/cote-de-boissieu,2.6,4.8,354,80

In [232]:
#exportar a csv los datos de stage11_climb_df

stage18_climb_df.to_csv('stage18_climb.csv', index=False)

In [233]:
stage18 = Stage("race/tour-de-france/2023/stage-19")

stage19 = stage18.climbs()

stage19

stage19_df = pd.DataFrame(stage19)

stage19_df

               climb_name                        climb_url
0  Côte du Bois de Lionge  location/cote-du-bois-de-lionge
1            Côte d'Ivory            location/cote-d-ivory

In [234]:
# Crear una cloumna de stage_id en el dataframe de stage19 con el valor de 19

stage19_df['stage_id'] = 19

stage19_df

               climb_name                        climb_url  stage_id
0  Côte du Bois de Lionge  location/cote-du-bois-de-lionge        19
1            Côte d'Ivory            location/cote-d-ivory        19

In [235]:
# hacer un merge de stage18_df con climb_df para tener un dataframe con los datos de stage18 y climb  

stage19_climb_df = pd.merge(stage19_df, climbs_df, on='climb_name')

stage19_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Côte du Bois de Lionge,location/cote-du-bois-de-lionge,19,location/cote-du-bois-de-lionge,1.9,5.7,694,149
1,Côte d'Ivory,location/cote-d-ivory,19,location/cote-d-ivory,2.3,6.1,595,28

In [236]:
#exportar a csv los datos de stage11_climb_df

stage19_climb_df.to_csv('stage19_climb.csv', index=False)

In [237]:
stage19 = Stage("race/tour-de-france/2023/stage-20")

stage20 = stage19.climbs()

stage20

stage20_df = pd.DataFrame(stage20)

stage20_df

                    climb_name                             climb_url
0              Ballon d'Alsace              location/ballon-d-alsace
1  Col de la Croix des Moinats  location/col-de-la-croix-des-moinats
2         Col de Grosse Pierre         location/col-de-grosse-pierre
3          Col de la Schlucht            location/col-de-la-schlucht
4                 Petit Ballon                 location/petit-ballon
5          Col du Platzerwasel          location/col-du-platzerwasel

In [238]:
# Crear una cloumna de stage_id en el dataframe de stage19 con el valor de 20

stage20_df['stage_id'] = 20

stage20_df

                    climb_name                             climb_url  stage_id
0              Ballon d'Alsace              location/ballon-d-alsace        20
1  Col de la Croix des Moinats  location/col-de-la-croix-des-moinats        20
2         Col de Grosse Pierre         location/col-de-grosse-pierre        20
3          Col de la Schlucht            location/col-de-la-schlucht        20
4                 Petit Ballon                 location/petit-ballon        20
5          Col du Platzerwasel          location/col-du-platzerwasel        20

In [239]:
# hacer un merge de stage20_df con climb_df para tener un dataframe con los datos de stage20 y climb  

stage20_climb_df = pd.merge(stage20_df, climbs_df, on='climb_name')

stage20_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Ballon d'Alsace,location/ballon-d-alsace,20,location/ballon-d-alsace,11.5,5.3,1172,110
1,Col de la Croix des Moinats,location/col-de-la-croix-des-moinats,20,location/col-de-la-croix-des-moinats,5.2,7.0,882,77
2,Col de Grosse Pierre,location/col-de-grosse-pierre,20,location/col-de-grosse-pierre,3.2,7.9,937,69
3,Col de la Schlucht,location/col-de-la-schlucht,20,location/col-de-la-schlucht,4.2,5.0,1136,54
4,Petit Ballon,location/petit-ballon,20,location/petit-ballon,9.3,8.1,1157,25
5,Col du Platzerwasel,location/col-du-platzerwasel,20,location/col-du-platzerwasel,7.1,8.3,1179,8

In [240]:
#exportar a csv los datos de stage11_climb_df

stage20_climb_df.to_csv('stage20_climb.csv', index=False)

In [241]:
stage20 = Stage("race/tour-de-france/2023/stage-21")

stage21 = stage20.climbs()

stage21

stage21_df = pd.DataFrame(stage21)

stage21_df

                climb_name                         climb_url
0  Côte du Pavé des Gardes  location/cote-du-pave-des-gardes

In [242]:
# Crear una cloumna de stage_id en el dataframe de stage21 con el valor de 21

stage21_df['stage_id'] = 21

stage21_df

                climb_name                         climb_url  stage_id
0  Côte du Pavé des Gardes  location/cote-du-pave-des-gardes        21

In [243]:
# hacer un merge de stage21_df con climb_df para tener un dataframe con los datos de stage21 y climb  

stage21_climb_df = pd.merge(stage21_df, climbs_df, on='climb_name')

stage21_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Côte du Pavé des Gardes,location/cote-du-pave-des-gardes,21,location/cote-du-pave-des-gardes,1.3,5.9,172,72

In [244]:
#exportar a csv los datos de stage11_climb_df

stage21_climb_df.to_csv('stage21_climb.csv', index=False)

In [245]:
# Exportar a csv los datos de los puertos

climbs_df.to_csv('climbs.csv', index=False)

In [246]:
# concatenar los dataframe de stage1_climb hasta stage21_climb en un solo dataframe

stage1_climb_df

stage2_climb_df

stage3_climb_df

stage4_climb_df

stage5_climb_df

stage6_climb_df

stage7_climb_df

stage8_climb_df

stage9_climb_df

stage10_climb_df

stage11_climb_df

stage12_climb_df

stage13_climb_df

stage14_climb_df

stage15_climb_df

stage16_climb_df

stage17_climb_df

stage18_climb_df

stage19_climb_df

stage20_climb_df

stage21_climb_df

stage_climb_df = pd.concat([stage1_climb_df, stage2_climb_df, stage3_climb_df, stage4_climb_df, stage5_climb_df, stage6_climb_df, stage7_climb_df, stage8_climb_df, stage9_climb_df, stage10_climb_df, stage11_climb_df, stage12_climb_df, stage13_climb_df, stage14_climb_df, stage15_climb_df, stage16_climb_df, stage17_climb_df, stage18_climb_df, stage19_climb_df, stage20_climb_df, stage21_climb_df])

stage_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Côte de Laukiz,location/cote-de-laukiz,1,location/cote-de-laukiz,2.1,6.8,220,168
1,Côte de San Juan de Gaztelugatxe,location/alto-de-san-juan-de-gaztelugatxe,1,location/alto-de-san-juan-de-gaztelugatxe,3.6,7.9,297,114
2,Col de Morga,location/alto-de-morga,1,location/alto-de-morga,3.8,4.9,324,41
3,Côte de Vivero,location/alto-el-vivero,1,location/alto-el-vivero,4.3,7.0,355,27
4,Côte de Pike,location/alto-pike,1,location/alto-pike,2.0,9.8,210,10
...,...,...,...,...,...,...,...,...
2,Col de Grosse Pierre,location/col-de-grosse-pierre,20,location/col-de-grosse-pierre,3.2,7.9,937,69
3,Col de la Schlucht,location/col-de-la-schlucht,20,location/col-de-la-schlucht,4.2,5.0,1136,54
4,Petit Ballon,location/petit-ballon,20,location/petit-ballon,9.3,8.1,1157,25
5,Col du Platzerwasel,location/col-du-platzerwasel,20,location/col-du-platzerwasel,7.1,8.3,1179,8
0,Côte du Pavé des Gardes,location/cote-du-pave-des-gardes,21,location/cote-du-pave-des-gardes,1.3,5.9,172,72

In [247]:
# reindexar el dataframe

stage_climb_df = stage_climb_df.reset_index(drop=True)

stage_climb_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Côte de Laukiz,location/cote-de-laukiz,1,location/cote-de-laukiz,2.1,6.8,220,168
1,Côte de San Juan de Gaztelugatxe,location/alto-de-san-juan-de-gaztelugatxe,1,location/alto-de-san-juan-de-gaztelugatxe,3.6,7.9,297,114
2,Col de Morga,location/alto-de-morga,1,location/alto-de-morga,3.8,4.9,324,41
3,Côte de Vivero,location/alto-el-vivero,1,location/alto-el-vivero,4.3,7.0,355,27
4,Côte de Pike,location/alto-pike,1,location/alto-pike,2.0,9.8,210,10
...,...,...,...,...,...,...,...,...
65,Col de Grosse Pierre,location/col-de-grosse-pierre,20,location/col-de-grosse-pierre,3.2,7.9,937,69
66,Col de la Schlucht,location/col-de-la-schlucht,20,location/col-de-la-schlucht,4.2,5.0,1136,54
67,Petit Ballon,location/petit-ballon,20,location/petit-ballon,9.3,8.1,1157,25
68,Col du Platzerwasel,location/col-du-platzerwasel,20,location/col-du-platzerwasel,7.1,8.3,1179,8
69,Côte du Pavé des Gardes,location/cote-du-pave-des-gardes,21,location/cote-du-pave-des-gardes,1.3,5.9,172,72

In [248]:
# crear una columna de climb_id al principio del dataframe

stage_climb_df.insert(0, 'climb_id', range(1, 1 + len(stage_climb_df)))

stage_climb_df

,climb_id,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,1,Côte de Laukiz,location/cote-de-laukiz,1,location/cote-de-laukiz,2.1,6.8,220,168
1,2,Côte de San Juan de Gaztelugatxe,location/alto-de-san-juan-de-gaztelugatxe,1,location/alto-de-san-juan-de-gaztelugatxe,3.6,7.9,297,114
2,3,Col de Morga,location/alto-de-morga,1,location/alto-de-morga,3.8,4.9,324,41
3,4,Côte de Vivero,location/alto-el-vivero,1,location/alto-el-vivero,4.3,7.0,355,27
4,5,Côte de Pike,location/alto-pike,1,location/alto-pike,2.0,9.8,210,10
...,...,...,...,...,...,...,...,...,...
65,66,Col de Grosse Pierre,location/col-de-grosse-pierre,20,location/col-de-grosse-pierre,3.2,7.9,937,69
66,67,Col de la Schlucht,location/col-de-la-schlucht,20,location/col-de-la-schlucht,4.2,5.0,1136,54
67,68,Petit Ballon,location/petit-ballon,20,location/petit-ballon,9.3,8.1,1157,25
68,69,Col du Platzerwasel,location/col-du-platzerwasel,20,location/col-du-platzerwasel,7.1,8.3,1179,8
69,70,Côte du Pavé des Gardes,location/cote-du-pave-des-gardes,21,location/cote-du-pave-des-gardes,1.3,5.9,172,72

In [249]:
# Eliminar las columnas "climb_url_x" y "climb_url_y"

stage_climb_df = stage_climb_df.drop(["climb_url_x","climb_url_y"], axis=1)

stage_climb_df

,climb_id,climb_name,stage_id,length,steepness,top,km_before_finnish
0,1,Côte de Laukiz,1,2.1,6.8,220,168
1,2,Côte de San Juan de Gaztelugatxe,1,3.6,7.9,297,114
2,3,Col de Morga,1,3.8,4.9,324,41
3,4,Côte de Vivero,1,4.3,7.0,355,27
4,5,Côte de Pike,1,2.0,9.8,210,10
...,...,...,...,...,...,...,...
65,66,Col de Grosse Pierre,20,3.2,7.9,937,69
66,67,Col de la Schlucht,20,4.2,5.0,1136,54
67,68,Petit Ballon,20,9.3,8.1,1157,25
68,69,Col du Platzerwasel,20,7.1,8.3,1179,8
69,70,Côte du Pavé des Gardes,21,1.3,5.9,172,72

In [252]:
# cambiar los elementos de la columna a minusculas y cambiar los espacios por guiones bajos

stage_climb_df['climb_name'] = stage_climb_df['climb_name'].str.lower().str.replace(' ', '_')

stage_climb_df

,climb_id,climb_name,stage_id,length,steepness,top,km_before_finnish
0,1,côte_de_laukiz,1,2.1,6.8,220,168
1,2,côte_de_san_juan_de_gaztelugatxe,1,3.6,7.9,297,114
2,3,col_de_morga,1,3.8,4.9,324,41
3,4,côte_de_vivero,1,4.3,7.0,355,27
4,5,côte_de_pike,1,2.0,9.8,210,10
...,...,...,...,...,...,...,...
65,66,col_de_grosse_pierre,20,3.2,7.9,937,69
66,67,col_de_la_schlucht_,20,4.2,5.0,1136,54
67,68,petit_ballon,20,9.3,8.1,1157,25
68,69,col_du_platzerwasel,20,7.1,8.3,1179,8
69,70,côte_du_pavé_des_gardes,21,1.3,5.9,172,72

In [253]:
# Exportar a csv los datos de stage_climb_df

stage_climb_df.to_csv('stage_climb.csv', index=False)

In [254]:
# abrir el csv de startlist

startlist_df = pd.read_csv('startlist.csv')

startlist_df

     rider_name_id          rider_name nationality            team_name
0                1    VINGEGAARD Jonas          DK     Jumbo-Visma (WT)
1                2        BENOOT Tiesj          BE     Jumbo-Visma (WT)
2                3     KELDERMAN Wilco          NL     Jumbo-Visma (WT)
3                4           KUSS Sepp          US     Jumbo-Visma (WT)
4                5  LAPORTE Christophe          FR     Jumbo-Visma (WT)
..             ...                 ...         ...                  ...
171            172          CRAS Steff          BE  TotalEnergies (PRT)
172            173     FERRON Valentin          FR  TotalEnergies (PRT)
173            174       LATOUR Pierre          FR  TotalEnergies (PRT)
174            175          OSS Daniel          IT  TotalEnergies (PRT)
175            176      TURGIS Anthony          FR  TotalEnergies (PRT)

[176 rows x 4 columns]

In [255]:
# cambiar los elementos de la columna "rider_name_id a minusculas y cambiar los espacios por guiones bajos

startlist_df['rider_name'] = startlist_df['rider_name'].str.lower().str.replace(' ', '_')

startlist_df

     rider_name_id          rider_name nationality            team_name
0                1    vingegaard_jonas          DK     Jumbo-Visma (WT)
1                2        benoot_tiesj          BE     Jumbo-Visma (WT)
2                3     kelderman_wilco          NL     Jumbo-Visma (WT)
3                4           kuss_sepp          US     Jumbo-Visma (WT)
4                5  laporte_christophe          FR     Jumbo-Visma (WT)
..             ...                 ...         ...                  ...
171            172          cras_steff          BE  TotalEnergies (PRT)
172            173     ferron_valentin          FR  TotalEnergies (PRT)
173            174       latour_pierre          FR  TotalEnergies (PRT)
174            175          oss_daniel          IT  TotalEnergies (PRT)
175            176      turgis_anthony          FR  TotalEnergies (PRT)

[176 rows x 4 columns]

In [256]:
# separar los elementos entre parentesis de la columna "team_name" a una nueva columna llamada "ranking"

startlist_df['ranking'] = startlist_df['team_name'].str.split("(").str[1]

startlist_df

,rider_name_id,rider_name,nationality,team_name,ranking
0,1,vingegaard_jonas,DK,Jumbo-Visma (WT),WT)
1,2,benoot_tiesj,BE,Jumbo-Visma (WT),WT)
2,3,kelderman_wilco,NL,Jumbo-Visma (WT),WT)
3,4,kuss_sepp,US,Jumbo-Visma (WT),WT)
4,5,laporte_christophe,FR,Jumbo-Visma (WT),WT)
...,...,...,...,...,...
171,172,cras_steff,BE,TotalEnergies (PRT),PRT)
172,173,ferron_valentin,FR,TotalEnergies (PRT),PRT)
173,174,latour_pierre,FR,TotalEnergies (PRT),PRT)
174,175,oss_daniel,IT,TotalEnergies (PRT),PRT)
175,176,turgis_anthony,FR,TotalEnergies (PRT),PRT)

In [257]:
# eliminar los elementos entre parentesis de la columna "team_name"

startlist_df['team_name'] = startlist_df['team_name'].str.split("(").str[0]

startlist_df

     rider_name_id          rider_name nationality       team_name ranking
0                1    vingegaard_jonas          DK    Jumbo-Visma      WT)
1                2        benoot_tiesj          BE    Jumbo-Visma      WT)
2                3     kelderman_wilco          NL    Jumbo-Visma      WT)
3                4           kuss_sepp          US    Jumbo-Visma      WT)
4                5  laporte_christophe          FR    Jumbo-Visma      WT)
..             ...                 ...         ...             ...     ...
171            172          cras_steff          BE  TotalEnergies     PRT)
172            173     ferron_valentin          FR  TotalEnergies     PRT)
173            174       latour_pierre          FR  TotalEnergies     PRT)
174            175          oss_daniel          IT  TotalEnergies     PRT)
175            176      turgis_anthony          FR  TotalEnergies     PRT)

[176 rows x 5 columns]

In [258]:
# quitar los parentesis de la columna "ranking"

startlist_df['ranking'] = startlist_df['ranking'].str.split(")").str[0]

startlist_df

     rider_name_id          rider_name nationality       team_name ranking
0                1    vingegaard_jonas          DK    Jumbo-Visma       WT
1                2        benoot_tiesj          BE    Jumbo-Visma       WT
2                3     kelderman_wilco          NL    Jumbo-Visma       WT
3                4           kuss_sepp          US    Jumbo-Visma       WT
4                5  laporte_christophe          FR    Jumbo-Visma       WT
..             ...                 ...         ...             ...     ...
171            172          cras_steff          BE  TotalEnergies      PRT
172            173     ferron_valentin          FR  TotalEnergies      PRT
173            174       latour_pierre          FR  TotalEnergies      PRT
174            175          oss_daniel          IT  TotalEnergies      PRT
175            176      turgis_anthony          FR  TotalEnergies      PRT

[176 rows x 5 columns]

In [286]:
# cambiar a minusculas los elementos de la columna "ranking"

startlist_df['ranking'] = startlist_df['ranking'].str.lower()

startlist_df

     rider_name_id          rider_name nationality       team_name ranking
0                1    vingegaard_jonas          DK    Jumbo-Visma       wt
1                2        benoot_tiesj          BE    Jumbo-Visma       wt
2                3     kelderman_wilco          NL    Jumbo-Visma       wt
3                4           kuss_sepp          US    Jumbo-Visma       wt
4                5  laporte_christophe          FR    Jumbo-Visma       wt
..             ...                 ...         ...             ...     ...
171            172          cras_steff          BE  TotalEnergies      prt
172            173     ferron_valentin          FR  TotalEnergies      prt
173            174       latour_pierre          FR  TotalEnergies      prt
174            175          oss_daniel          IT  TotalEnergies      prt
175            176      turgis_anthony          FR  TotalEnergies      prt

[176 rows x 5 columns]

In [298]:
# cambiar los elementos de la columna "team_name" a minusculas

startlist_df['team_name'] = startlist_df['team_name'].str.lower()

startlist_df

# eliminar los espaciones y los guiones de "team_name" y cambarlos por guiones bajos

startlist_df['team_name'] = startlist_df['team_name'].str.replace(' ', '_').str.replace('-', '_')

startlist_df

# eliminar los guiones bajos del final de los elementos de la columna "team_name"

startlist_df['team_name'] = startlist_df['team_name'].str.rstrip('_')

startlist_df

# cambiar los dobres guiones bajos por un solo guion bajo

startlist_df['team_name'] = startlist_df['team_name'].str.replace('__', '_')

startlist_df

# mostrar todo el dataframe

pd.set_option('display.max_rows', None)

startlist_df

,rider_name_id,rider_name,nationality,team_name,ranking
0,1,vingegaard_jonas,dk,jumbo_visma,wt
1,2,benoot_tiesj,be,jumbo_visma,wt
2,3,kelderman_wilco,nl,jumbo_visma,wt
3,4,kuss_sepp,us,jumbo_visma,wt
4,5,laporte_christophe,fr,jumbo_visma,wt
5,6,van_aert_wout,be,jumbo_visma,wt
6,7,van_baarle_dylan,nl,jumbo_visma,wt
7,8,van_hooydonck_nathan,be,jumbo_visma,wt
8,9,pogačar_tadej,si,uae_team_emirates,wt
9,10,bjerg_mikkel,dk,uae_team_emirates,wt
10,11,großschartner_felix,at,uae_team_emirates,wt
11,12,laengen_vegard_stake,no,uae_team_emirates,wt
12,13,majka_rafał,pl,uae_team_emirates,wt
13,14,soler_marc,es,uae_team_emirates,wt
14,15,trentin_matteo,it,uae_team_emirates,wt
15,16,yates_adam,gb,uae_team_emirates,wt
16,17,bernal_egan,co,ineos_grenadiers,wt
17,18,castroviejo_jonathan,es,ineos_grenadiers,wt
18,19,fraile_omar,es,ineos_grenadiers,wt
19,20,kwiatkowski_michał,pl,ineos_grenadiers,wt
20,21,martínez_daniel_felipe,co,ineos_grenadiers,wt
21,22,pidcock_thomas,gb,ineos_grenadiers,wt
22,23,rodríguez_carlos,es,ineos_grenadiers,wt
23,24,turner_ben,gb,ineos_grenadiers,wt
24,25,gaudu_david,fr,groupama_fdj,wt
25,26,geniets_kevin,lu,groupama_fdj,wt
26,27,küng_stefan,ch,groupama_fdj,wt
27,28,le_gac_olivier,fr,groupama_fdj,wt
28,29,madouas_valentin,fr,groupama_fdj,wt
29,30,pacher_quentin,fr,groupama_fdj,wt
30,31,pinot_thibaut,fr,groupama_fdj,wt
31,32,van_den_berg_lars,nl,groupama_fdj,wt
32,33,carapaz_richard,ec,ef_education_easypost,wt
33,34,amador_andrey,cr,ef_education_easypost,wt
34,35,bettiol_alberto,it,ef_education_easypost,wt
35,36,chaves_esteban,co,ef_education_easypost,wt
36,37,cort_magnus,dk,ef_education_easypost,wt
37,38,powless_neilson,us,ef_education_easypost,wt
38,39,shaw_james,gb,ef_education_easypost,wt
39,40,urán_rigoberto,co,ef_education_easypost,wt
40,41,alaphilippe_julian,fr,soudal_quick_step,wt
41,42,asgreen_kasper,dk,soudal_quick_step,wt
42,43,cavagna_rémi,fr,soudal_quick_step,wt
43,44,declercq_tim,be,soudal_quick_step,wt
44,45,devenyns_dries,be,soudal_quick_step,wt
45,46,jakobsen_fabio,nl,soudal_quick_step,wt
46,47,lampaert_yves,be,soudal_quick_step,wt
47,48,mørkøv_michael,dk,soudal_quick_step,wt
48,49,landa_mikel,es,bahrain_victorious,wt
49,50,arndt_nikias,de,bahrain_victorious,wt
50,51,bauhaus_phil,de,bahrain_victorious,wt
51,52,bilbao_pello,es,bahrain_victorious,wt
52,53,haig_jack,au,bahrain_victorious,wt
53,54,mohorič_matej,si,bahrain_victorious,wt
54,55,poels_wout,nl,bahrain_victorious,wt
55,56,wright_fred,gb,bahrain_victorious,wt
56,57,hindley_jai,au,bora_hansgrohe,wt
57,58,buchmann_emanuel,de,bora_hansgrohe,wt
58,59,haller_marco,at,bora_hansgrohe,wt
59,60,jungels_bob,lu,bora_hansgrohe,wt
60,61,konrad_patrick,at,bora_hansgrohe,wt
61,62,meeus_jordi,be,bora_hansgrohe,wt
62,63,politt_nils,de,bora_hansgrohe,wt
63,64,van_poppel_danny,nl,bora_hansgrohe,wt
64,65,ciccone_giulio,it,lidl_trek,wt
65,66,gallopin_tony,fr,lidl_trek,wt
66,67,skjelmose_mattias,dk,lidl_trek,wt
67,68,kirsch_alex,lu,lidl_trek,wt
68,69,lópez_juan_pedro,es,lidl_trek,wt
69,70,pedersen_mads,dk,lidl_trek,wt
70,71,simmons_quinn,us,lidl_trek,wt
71,72,stuyven_jasper,be,lidl_trek,wt
72,73,o'connor_ben,au,ag2r_citroën_team,wt
73,74,berthet_clément,fr,ag2r_citroën_team,wt
74,75,cosnefroy_benoît,fr,ag2r_citroën_team,wt
75,76,dewulf_stan,be,ag2r_citroën_team,wt
76,77,gall_felix,at,ag2r_citroën_team,wt
77,78,naesen_oliver,be,ag2r_citroën_team,wt
78,79,paret-peintre_aurélien,fr,ag2r_citroën_team,wt
79,80,peters_nans,fr,ag2r_citroën_team,wt
80,81,van_der_poel_mathieu,nl,alpecin_deceuninck,wt
81,82,dillier_silvan,ch,alpecin_deceuninck,wt
82,83,gogl_michael,at,alpecin_deceuninck,wt
83,84,hermans_quinten,be,alpecin_deceuninck,wt
84,85,kragh_andersen_søren,dk,alpecin_deceuninck,wt
85,86,philipsen_jasper,be,alpecin_deceuninck,wt
86,87,rickaert_jonas,be,alpecin_deceuninck,wt
87,88,sinkeldam_ramon,nl,alpecin_deceuninck,wt
88,89,girmay_biniam,er,intermarché_circus_wanty,wt
89,90,calmejane_lilian,fr,intermarché_circus_wanty,wt
90,91,costa_rui,pt,intermarché_circus_wanty,wt
91,92,meintjes_louis,za,intermarché_circus_wanty,wt
92,93,petit_adrien,fr,intermarché_circus_wanty,wt
93,94,smith_dion,nz,intermarché_circus_wanty,wt
94,95,teunissen_mike,nl,intermarché_circus_wanty,wt
95,96,zimmermann_georg,de,intermarché_circus_wanty,wt
96,97,martin_guillaume,fr,cofidis,wt
97,98,coquard_bryan,fr,cofidis,wt
98,99,geschke_simon,de,cofidis,wt
99,100,izagirre_ion,es,cofidis,wt
100,101,lafay_victor,fr,cofidis,wt
101,102,perez_anthony,fr,cofidis,wt
102,103,renard_alexis,fr,cofidis,wt
103,104,zingle_axel,fr,cofidis,wt
104,105,mas_enric,es,movistar_team,wt
105,106,guerreiro_ruben,pt,movistar_team,wt
106,107,aranburu_alex,es,movistar_team,wt
107,108,izagirre_gorka,es,movistar_team,wt
108,109,jorgenson_matteo,us,movistar_team,wt
109,110,mühlberger_gregor,at,movistar_team,wt
110,111,oliveira_nelson,pt,movistar_team,wt
111,112,pedrero_antonio,es,movistar_team,wt
112,113,bardet_romain,fr,team_dsm_firmenich,wt
113,114,degenkolb_john,de,team_dsm_firmenich,wt
114,115,dinham_matthew,au,team_dsm_firmenich,wt
115,116,edmondson_alex,au,team_dsm_firmenich,wt
116,117,eekhoff_nils,nl,team_dsm_firmenich,wt
117,118,hamilton_chris,au,team_dsm_firmenich,wt
118,119,vermaerke_kevin,us,team_dsm_firmenich,wt
119,120,welsford_sam,au,team_dsm_firmenich,wt
120,121,woods_michael,ca,israel_premier_tech,prt
121,122,boivin_guillaume,ca,israel_premier_tech,prt
122,123,clarke_simon,au,israel_premier_tech,prt
123,124,houle_hugo,ca,israel_premier_tech,prt
124,125,neilands_krists,lv,israel_premier_tech,prt
125,126,schultz_nick,au,israel_premier_tech,prt
126,127,strong_corbin,nz,israel_premier_tech,prt
127,128,teuns_dylan,be,israel_premier_tech,prt
128,129,yates_simon,gb,team_jayco_alula,wt
129,130,craddock_lawson,us,team_jayco_alula,wt
130,131,durbridge_luke,au,team_jayco_alula,wt
131,132,groenewegen_dylan,nl,team_jayco_alula,wt
132,133,harper_chris,au,team_jayco_alula,wt
133,134,juul-jensen_christopher,dk,team_jayco_alula,wt
134,135,mezgec_luka,si,team_jayco_alula,wt
135,136,reinders_elmar,nl,team_jayco_alula,wt
136,137,barguil_warren,fr,team_arkéa_samsic,wt
137,138,biermans_jenthe,be,team_arkéa_samsic,wt
138,139,champoussin_clément,fr,team_arkéa_samsic,wt
139,140,delaplace_anthony,fr,team_arkéa_samsic,wt
140,141,guglielmi_simon,fr,team_arkéa_samsic,wt
141,142,louvel_matis,fr,team_arkéa_samsic,wt
142,143,mozzato_luca,it,team_arkéa_samsic,wt
143,144,pichon_laurent,fr,team_arkéa_samsic,wt
144,145,ewan_caleb,au,lotto_dstny,prt
145,146,campenaerts_victor,be,lotto_dstny,prt
146,147,de_buyst_jasper,be,lotto_dstny,prt
147,148,eenkhoorn_pascal,nl,lotto_dstny,prt
148,149,frison_frederik,be,lotto_dstny,prt
149,150,guarnieri_jacopo,it,lotto_dstny,prt
150,151,van_gils_maxim,be,lotto_dstny,prt
151,152,vermeersch_florian,be,lotto_dstny,prt
152,153,cavendish_mark,gb,astana_qazaqstan_team,wt
153,154,bol_cees,nl,astana_qazaqstan_team,wt
154,155,de_la_cruz_david,es,astana_qazaqstan_team,wt
155,156,fedorov_yevgeniy,kz,astana_qazaqstan_team,wt
156,157,lutsenko_alexey,kz,astana_qazaqstan_team,wt
157,158,moscon_gianni,it,astana_qazaqstan_team,wt
158,159,sánchez_luis_león,es,astana_qazaqstan_team,wt
159,160,tejada_harold,co,astana_qazaqstan_team,wt
160,161,kristoff_alexander,no,uno_x_pro_cycling_team,prt
161,162,abrahamsen_jonas,no,uno_x_pro_cycling_team,prt
162,163,charmig_anthon,dk,uno_x_pro_cycling_team,prt
163,164,johannessen_tobias_halland,no,uno_x_pro_cycling_team,prt
164,165,tiller_rasmus,no,uno_x_pro_cycling_team,prt
165,166,træen_torstein,no,uno_x_pro_cycling_team,prt
166,167,wærenskjold_søren,no,uno_x_pro_cycling_team,prt
167,168,gregaard_jonas,dk,uno_x_pro_cycling_team,prt
168,169,sagan_peter,sk,totalenergies,prt
169,170,boasson_hagen_edvald,no,totalenergies,prt
170,171,burgaudeau_mathieu,fr,totalenergies,prt
171,172,cras_steff,be,totalenergies,prt
172,173,ferron_valentin,fr,totalenergies,prt
173,174,latour_pierre,fr,totalenergies,prt
174,175,oss_daniel,it,totalenergies,prt
175,176,turgis_anthony,fr,totalenergies,prt

In [299]:
# cambiar los elementos de la columna "nationality" a minusculas

startlist_df["nationality"] = startlist_df['nationality'].str.lower()

startlist_df

,rider_name_id,rider_name,nationality,team_name,ranking
0,1,vingegaard_jonas,dk,jumbo_visma,wt
1,2,benoot_tiesj,be,jumbo_visma,wt
2,3,kelderman_wilco,nl,jumbo_visma,wt
3,4,kuss_sepp,us,jumbo_visma,wt
4,5,laporte_christophe,fr,jumbo_visma,wt
5,6,van_aert_wout,be,jumbo_visma,wt
6,7,van_baarle_dylan,nl,jumbo_visma,wt
7,8,van_hooydonck_nathan,be,jumbo_visma,wt
8,9,pogačar_tadej,si,uae_team_emirates,wt
9,10,bjerg_mikkel,dk,uae_team_emirates,wt
10,11,großschartner_felix,at,uae_team_emirates,wt
11,12,laengen_vegard_stake,no,uae_team_emirates,wt
12,13,majka_rafał,pl,uae_team_emirates,wt
13,14,soler_marc,es,uae_team_emirates,wt
14,15,trentin_matteo,it,uae_team_emirates,wt
15,16,yates_adam,gb,uae_team_emirates,wt
16,17,bernal_egan,co,ineos_grenadiers,wt
17,18,castroviejo_jonathan,es,ineos_grenadiers,wt
18,19,fraile_omar,es,ineos_grenadiers,wt
19,20,kwiatkowski_michał,pl,ineos_grenadiers,wt
20,21,martínez_daniel_felipe,co,ineos_grenadiers,wt
21,22,pidcock_thomas,gb,ineos_grenadiers,wt
22,23,rodríguez_carlos,es,ineos_grenadiers,wt
23,24,turner_ben,gb,ineos_grenadiers,wt
24,25,gaudu_david,fr,groupama_fdj,wt
25,26,geniets_kevin,lu,groupama_fdj,wt
26,27,küng_stefan,ch,groupama_fdj,wt
27,28,le_gac_olivier,fr,groupama_fdj,wt
28,29,madouas_valentin,fr,groupama_fdj,wt
29,30,pacher_quentin,fr,groupama_fdj,wt
30,31,pinot_thibaut,fr,groupama_fdj,wt
31,32,van_den_berg_lars,nl,groupama_fdj,wt
32,33,carapaz_richard,ec,ef_education_easypost,wt
33,34,amador_andrey,cr,ef_education_easypost,wt
34,35,bettiol_alberto,it,ef_education_easypost,wt
35,36,chaves_esteban,co,ef_education_easypost,wt
36,37,cort_magnus,dk,ef_education_easypost,wt
37,38,powless_neilson,us,ef_education_easypost,wt
38,39,shaw_james,gb,ef_education_easypost,wt
39,40,urán_rigoberto,co,ef_education_easypost,wt
40,41,alaphilippe_julian,fr,soudal_quick_step,wt
41,42,asgreen_kasper,dk,soudal_quick_step,wt
42,43,cavagna_rémi,fr,soudal_quick_step,wt
43,44,declercq_tim,be,soudal_quick_step,wt
44,45,devenyns_dries,be,soudal_quick_step,wt
45,46,jakobsen_fabio,nl,soudal_quick_step,wt
46,47,lampaert_yves,be,soudal_quick_step,wt
47,48,mørkøv_michael,dk,soudal_quick_step,wt
48,49,landa_mikel,es,bahrain_victorious,wt
49,50,arndt_nikias,de,bahrain_victorious,wt
50,51,bauhaus_phil,de,bahrain_victorious,wt
51,52,bilbao_pello,es,bahrain_victorious,wt
52,53,haig_jack,au,bahrain_victorious,wt
53,54,mohorič_matej,si,bahrain_victorious,wt
54,55,poels_wout,nl,bahrain_victorious,wt
55,56,wright_fred,gb,bahrain_victorious,wt
56,57,hindley_jai,au,bora_hansgrohe,wt
57,58,buchmann_emanuel,de,bora_hansgrohe,wt
58,59,haller_marco,at,bora_hansgrohe,wt
59,60,jungels_bob,lu,bora_hansgrohe,wt
60,61,konrad_patrick,at,bora_hansgrohe,wt
61,62,meeus_jordi,be,bora_hansgrohe,wt
62,63,politt_nils,de,bora_hansgrohe,wt
63,64,van_poppel_danny,nl,bora_hansgrohe,wt
64,65,ciccone_giulio,it,lidl_trek,wt
65,66,gallopin_tony,fr,lidl_trek,wt
66,67,skjelmose_mattias,dk,lidl_trek,wt
67,68,kirsch_alex,lu,lidl_trek,wt
68,69,lópez_juan_pedro,es,lidl_trek,wt
69,70,pedersen_mads,dk,lidl_trek,wt
70,71,simmons_quinn,us,lidl_trek,wt
71,72,stuyven_jasper,be,lidl_trek,wt
72,73,o'connor_ben,au,ag2r_citroën_team,wt
73,74,berthet_clément,fr,ag2r_citroën_team,wt
74,75,cosnefroy_benoît,fr,ag2r_citroën_team,wt
75,76,dewulf_stan,be,ag2r_citroën_team,wt
76,77,gall_felix,at,ag2r_citroën_team,wt
77,78,naesen_oliver,be,ag2r_citroën_team,wt
78,79,paret-peintre_aurélien,fr,ag2r_citroën_team,wt
79,80,peters_nans,fr,ag2r_citroën_team,wt
80,81,van_der_poel_mathieu,nl,alpecin_deceuninck,wt
81,82,dillier_silvan,ch,alpecin_deceuninck,wt
82,83,gogl_michael,at,alpecin_deceuninck,wt
83,84,hermans_quinten,be,alpecin_deceuninck,wt
84,85,kragh_andersen_søren,dk,alpecin_deceuninck,wt
85,86,philipsen_jasper,be,alpecin_deceuninck,wt
86,87,rickaert_jonas,be,alpecin_deceuninck,wt
87,88,sinkeldam_ramon,nl,alpecin_deceuninck,wt
88,89,girmay_biniam,er,intermarché_circus_wanty,wt
89,90,calmejane_lilian,fr,intermarché_circus_wanty,wt
90,91,costa_rui,pt,intermarché_circus_wanty,wt
91,92,meintjes_louis,za,intermarché_circus_wanty,wt
92,93,petit_adrien,fr,intermarché_circus_wanty,wt
93,94,smith_dion,nz,intermarché_circus_wanty,wt
94,95,teunissen_mike,nl,intermarché_circus_wanty,wt
95,96,zimmermann_georg,de,intermarché_circus_wanty,wt
96,97,martin_guillaume,fr,cofidis,wt
97,98,coquard_bryan,fr,cofidis,wt
98,99,geschke_simon,de,cofidis,wt
99,100,izagirre_ion,es,cofidis,wt
100,101,lafay_victor,fr,cofidis,wt
101,102,perez_anthony,fr,cofidis,wt
102,103,renard_alexis,fr,cofidis,wt
103,104,zingle_axel,fr,cofidis,wt
104,105,mas_enric,es,movistar_team,wt
105,106,guerreiro_ruben,pt,movistar_team,wt
106,107,aranburu_alex,es,movistar_team,wt
107,108,izagirre_gorka,es,movistar_team,wt
108,109,jorgenson_matteo,us,movistar_team,wt
109,110,mühlberger_gregor,at,movistar_team,wt
110,111,oliveira_nelson,pt,movistar_team,wt
111,112,pedrero_antonio,es,movistar_team,wt
112,113,bardet_romain,fr,team_dsm_firmenich,wt
113,114,degenkolb_john,de,team_dsm_firmenich,wt
114,115,dinham_matthew,au,team_dsm_firmenich,wt
115,116,edmondson_alex,au,team_dsm_firmenich,wt
116,117,eekhoff_nils,nl,team_dsm_firmenich,wt
117,118,hamilton_chris,au,team_dsm_firmenich,wt
118,119,vermaerke_kevin,us,team_dsm_firmenich,wt
119,120,welsford_sam,au,team_dsm_firmenich,wt
120,121,woods_michael,ca,israel_premier_tech,prt
121,122,boivin_guillaume,ca,israel_premier_tech,prt
122,123,clarke_simon,au,israel_premier_tech,prt
123,124,houle_hugo,ca,israel_premier_tech,prt
124,125,neilands_krists,lv,israel_premier_tech,prt
125,126,schultz_nick,au,israel_premier_tech,prt
126,127,strong_corbin,nz,israel_premier_tech,prt
127,128,teuns_dylan,be,israel_premier_tech,prt
128,129,yates_simon,gb,team_jayco_alula,wt
129,130,craddock_lawson,us,team_jayco_alula,wt
130,131,durbridge_luke,au,team_jayco_alula,wt
131,132,groenewegen_dylan,nl,team_jayco_alula,wt
132,133,harper_chris,au,team_jayco_alula,wt
133,134,juul-jensen_christopher,dk,team_jayco_alula,wt
134,135,mezgec_luka,si,team_jayco_alula,wt
135,136,reinders_elmar,nl,team_jayco_alula,wt
136,137,barguil_warren,fr,team_arkéa_samsic,wt
137,138,biermans_jenthe,be,team_arkéa_samsic,wt
138,139,champoussin_clément,fr,team_arkéa_samsic,wt
139,140,delaplace_anthony,fr,team_arkéa_samsic,wt
140,141,guglielmi_simon,fr,team_arkéa_samsic,wt
141,142,louvel_matis,fr,team_arkéa_samsic,wt
142,143,mozzato_luca,it,team_arkéa_samsic,wt
143,144,pichon_laurent,fr,team_arkéa_samsic,wt
144,145,ewan_caleb,au,lotto_dstny,prt
145,146,campenaerts_victor,be,lotto_dstny,prt
146,147,de_buyst_jasper,be,lotto_dstny,prt
147,148,eenkhoorn_pascal,nl,lotto_dstny,prt
148,149,frison_frederik,be,lotto_dstny,prt
149,150,guarnieri_jacopo,it,lotto_dstny,prt
150,151,van_gils_maxim,be,lotto_dstny,prt
151,152,vermeersch_florian,be,lotto_dstny,prt
152,153,cavendish_mark,gb,astana_qazaqstan_team,wt
153,154,bol_cees,nl,astana_qazaqstan_team,wt
154,155,de_la_cruz_david,es,astana_qazaqstan_team,wt
155,156,fedorov_yevgeniy,kz,astana_qazaqstan_team,wt
156,157,lutsenko_alexey,kz,astana_qazaqstan_team,wt
157,158,moscon_gianni,it,astana_qazaqstan_team,wt
158,159,sánchez_luis_león,es,astana_qazaqstan_team,wt
159,160,tejada_harold,co,astana_qazaqstan_team,wt
160,161,kristoff_alexander,no,uno_x_pro_cycling_team,prt
161,162,abrahamsen_jonas,no,uno_x_pro_cycling_team,prt
162,163,charmig_anthon,dk,uno_x_pro_cycling_team,prt
163,164,johannessen_tobias_halland,no,uno_x_pro_cycling_team,prt
164,165,tiller_rasmus,no,uno_x_pro_cycling_team,prt
165,166,træen_torstein,no,uno_x_pro_cycling_team,prt
166,167,wærenskjold_søren,no,uno_x_pro_cycling_team,prt
167,168,gregaard_jonas,dk,uno_x_pro_cycling_team,prt
168,169,sagan_peter,sk,totalenergies,prt
169,170,boasson_hagen_edvald,no,totalenergies,prt
170,171,burgaudeau_mathieu,fr,totalenergies,prt
171,172,cras_steff,be,totalenergies,prt
172,173,ferron_valentin,fr,totalenergies,prt
173,174,latour_pierre,fr,totalenergies,prt
174,175,oss_daniel,it,totalenergies,prt
175,176,turgis_anthony,fr,totalenergies,prt

In [300]:
# exportar a csv los datos de startlist_df

startlist_df.to_csv('startlist.csv', index=False)

In [273]:
# abrir el csv de stages

stages_df = pd.read_csv('stages.csv')

stages_df

,Unnamed: 0,stages,length,winner,leader,stage_id
0,0,Bilbao - Bilbao,182,"Yates,Adam","Yates,Adam",1
1,1,Vitoria-Gasteiz - Donostia,208,"Lafay,Victor","Yates,Adam",2
2,2,Amorebieta - Bayonne,193,"Philipsen,Jasper","Yates,Adam",3
3,3,Dax - Nogaro,181,"Philipsen,Jasper","Yates,Adam",4
4,4,Pau - Laruns,162,"Hindley,Jai","Hindley,Jai",5
5,5,Tarbes - Cauterets,144,"Pogačar,Tadej","Vingegaard,Jonas",6
6,6,Mont-de-Marsan - Bordeaux,169,"Philipsen,Jasper","Vingegaard,Jonas",7
7,7,Libourne - Limoges,200,"Pedersen,Mads","Vingegaard,Jonas",8
8,8,Saint-Léonard-de-Noblat - Puy de,182,"Woods,Michael","Vingegaard,Jonas",9
9,9,Vulcania - Issoire,167,"Bilbao,Pello","Vingegaard,Jonas",10
10,10,Clermont-Ferrand - Moulins,179,"Philipsen,Jasper","Vingegaard,Jonas",11
11,11,Roanne - Belleville-en-Beaujolais,168,"Izagirre,Ion","Vingegaard,Jonas",12
12,12,Châtillon-sur-Chalaronne - Grand,137,"Kwiatkowski,Michal","Vingegaard,Jonas",13
13,13,Annemasse - Morzine,151,"Rodríguez,Carlos","Vingegaard,Jonas",14
14,14,Les Gets - Saint-Gervais-Mont-Bl,179,"Poels,Wout","Vingegaard,Jonas",15
15,15,Passy - Combloux,22,"Vingegaard,Jonas","Vingegaard,Jonas",16
16,16,Saint-Gervais-Mont-Blanc - Courc,165,"Gall,Felix","Vingegaard,Jonas",17
17,17,Moûtiers - Bourg-en-Bresse,184,"Asgreen,Kasper","Vingegaard,Jonas",18
18,18,Moirans-en-Montagne - Poligny,172,"Mohorič,Matej","Vingegaard,Jonas",19
19,19,Belfort - Le Markstein,133,"Pogačar,Tadej","Vingegaard,Jonas",20
20,20,Saint-Quentin-en-Yvelines - Paris,115,"Meeus,Jordi","Vingegaard,Jonas",21

In [274]:
# eliminar la columna unnamed:0
    
stages_df

,Unnamed: 0,stages,length,winner,leader,stage_id
0,0,Bilbao - Bilbao,182,"Yates,Adam","Yates,Adam",1
1,1,Vitoria-Gasteiz - Donostia,208,"Lafay,Victor","Yates,Adam",2
2,2,Amorebieta - Bayonne,193,"Philipsen,Jasper","Yates,Adam",3
3,3,Dax - Nogaro,181,"Philipsen,Jasper","Yates,Adam",4
4,4,Pau - Laruns,162,"Hindley,Jai","Hindley,Jai",5
5,5,Tarbes - Cauterets,144,"Pogačar,Tadej","Vingegaard,Jonas",6
6,6,Mont-de-Marsan - Bordeaux,169,"Philipsen,Jasper","Vingegaard,Jonas",7
7,7,Libourne - Limoges,200,"Pedersen,Mads","Vingegaard,Jonas",8
8,8,Saint-Léonard-de-Noblat - Puy de,182,"Woods,Michael","Vingegaard,Jonas",9
9,9,Vulcania - Issoire,167,"Bilbao,Pello","Vingegaard,Jonas",10
10,10,Clermont-Ferrand - Moulins,179,"Philipsen,Jasper","Vingegaard,Jonas",11
11,11,Roanne - Belleville-en-Beaujolais,168,"Izagirre,Ion","Vingegaard,Jonas",12
12,12,Châtillon-sur-Chalaronne - Grand,137,"Kwiatkowski,Michal","Vingegaard,Jonas",13
13,13,Annemasse - Morzine,151,"Rodríguez,Carlos","Vingegaard,Jonas",14
14,14,Les Gets - Saint-Gervais-Mont-Bl,179,"Poels,Wout","Vingegaard,Jonas",15
15,15,Passy - Combloux,22,"Vingegaard,Jonas","Vingegaard,Jonas",16
16,16,Saint-Gervais-Mont-Blanc - Courc,165,"Gall,Felix","Vingegaard,Jonas",17
17,17,Moûtiers - Bourg-en-Bresse,184,"Asgreen,Kasper","Vingegaard,Jonas",18
18,18,Moirans-en-Montagne - Poligny,172,"Mohorič,Matej","Vingegaard,Jonas",19
19,19,Belfort - Le Markstein,133,"Pogačar,Tadej","Vingegaard,Jonas",20
20,20,Saint-Quentin-en-Yvelines - Paris,115,"Meeus,Jordi","Vingegaard,Jonas",21

In [275]:
# eliminar la columna "unnamed:0"

stages_df1 = stages_df.drop(["Unnamed: 0"], axis=1)

stages_df

,Unnamed: 0,stages,length,winner,leader,stage_id
0,0,Bilbao - Bilbao,182,"Yates,Adam","Yates,Adam",1
1,1,Vitoria-Gasteiz - Donostia,208,"Lafay,Victor","Yates,Adam",2
2,2,Amorebieta - Bayonne,193,"Philipsen,Jasper","Yates,Adam",3
3,3,Dax - Nogaro,181,"Philipsen,Jasper","Yates,Adam",4
4,4,Pau - Laruns,162,"Hindley,Jai","Hindley,Jai",5
5,5,Tarbes - Cauterets,144,"Pogačar,Tadej","Vingegaard,Jonas",6
6,6,Mont-de-Marsan - Bordeaux,169,"Philipsen,Jasper","Vingegaard,Jonas",7
7,7,Libourne - Limoges,200,"Pedersen,Mads","Vingegaard,Jonas",8
8,8,Saint-Léonard-de-Noblat - Puy de,182,"Woods,Michael","Vingegaard,Jonas",9
9,9,Vulcania - Issoire,167,"Bilbao,Pello","Vingegaard,Jonas",10
10,10,Clermont-Ferrand - Moulins,179,"Philipsen,Jasper","Vingegaard,Jonas",11
11,11,Roanne - Belleville-en-Beaujolais,168,"Izagirre,Ion","Vingegaard,Jonas",12
12,12,Châtillon-sur-Chalaronne - Grand,137,"Kwiatkowski,Michal","Vingegaard,Jonas",13
13,13,Annemasse - Morzine,151,"Rodríguez,Carlos","Vingegaard,Jonas",14
14,14,Les Gets - Saint-Gervais-Mont-Bl,179,"Poels,Wout","Vingegaard,Jonas",15
15,15,Passy - Combloux,22,"Vingegaard,Jonas","Vingegaard,Jonas",16
16,16,Saint-Gervais-Mont-Blanc - Courc,165,"Gall,Felix","Vingegaard,Jonas",17
17,17,Moûtiers - Bourg-en-Bresse,184,"Asgreen,Kasper","Vingegaard,Jonas",18
18,18,Moirans-en-Montagne - Poligny,172,"Mohorič,Matej","Vingegaard,Jonas",19
19,19,Belfort - Le Markstein,133,"Pogačar,Tadej","Vingegaard,Jonas",20
20,20,Saint-Quentin-en-Yvelines - Paris,115,"Meeus,Jordi","Vingegaard,Jonas",21

In [276]:
# cambiar a minusculas los elementos de la columna "stages"

stages_df['stages'] = stages_df['stages'].str.lower()

stages_df

,Unnamed: 0,stages,length,winner,leader,stage_id
0,0,bilbao - bilbao,182,"Yates,Adam","Yates,Adam",1
1,1,vitoria-gasteiz - donostia,208,"Lafay,Victor","Yates,Adam",2
2,2,amorebieta - bayonne,193,"Philipsen,Jasper","Yates,Adam",3
3,3,dax - nogaro,181,"Philipsen,Jasper","Yates,Adam",4
4,4,pau - laruns,162,"Hindley,Jai","Hindley,Jai",5
5,5,tarbes - cauterets,144,"Pogačar,Tadej","Vingegaard,Jonas",6
6,6,mont-de-marsan - bordeaux,169,"Philipsen,Jasper","Vingegaard,Jonas",7
7,7,libourne - limoges,200,"Pedersen,Mads","Vingegaard,Jonas",8
8,8,saint-léonard-de-noblat - puy de,182,"Woods,Michael","Vingegaard,Jonas",9
9,9,vulcania - issoire,167,"Bilbao,Pello","Vingegaard,Jonas",10
10,10,clermont-ferrand - moulins,179,"Philipsen,Jasper","Vingegaard,Jonas",11
11,11,roanne - belleville-en-beaujolais,168,"Izagirre,Ion","Vingegaard,Jonas",12
12,12,châtillon-sur-chalaronne - grand,137,"Kwiatkowski,Michal","Vingegaard,Jonas",13
13,13,annemasse - morzine,151,"Rodríguez,Carlos","Vingegaard,Jonas",14
14,14,les gets - saint-gervais-mont-bl,179,"Poels,Wout","Vingegaard,Jonas",15
15,15,passy - combloux,22,"Vingegaard,Jonas","Vingegaard,Jonas",16
16,16,saint-gervais-mont-blanc - courc,165,"Gall,Felix","Vingegaard,Jonas",17
17,17,moûtiers - bourg-en-bresse,184,"Asgreen,Kasper","Vingegaard,Jonas",18
18,18,moirans-en-montagne - poligny,172,"Mohorič,Matej","Vingegaard,Jonas",19
19,19,belfort - le markstein,133,"Pogačar,Tadej","Vingegaard,Jonas",20
20,20,saint-quentin-en-yvelines - paris,115,"Meeus,Jordi","Vingegaard,Jonas",21

In [278]:
# cambiar los elementos de la columna "winner" a minusculas y cambiar las comas por guiones bajos

stages_df['winner'] = stages_df['winner'].str.lower().str.replace(',', '_')

stages_df

,Unnamed: 0,stages,length,winner,leader,stage_id
0,0,bilbao - bilbao,182,yates_adam,"Yates,Adam",1
1,1,vitoria-gasteiz - donostia,208,lafay_victor,"Yates,Adam",2
2,2,amorebieta - bayonne,193,philipsen_jasper,"Yates,Adam",3
3,3,dax - nogaro,181,philipsen_jasper,"Yates,Adam",4
4,4,pau - laruns,162,hindley_jai,"Hindley,Jai",5
5,5,tarbes - cauterets,144,pogačar_tadej,"Vingegaard,Jonas",6
6,6,mont-de-marsan - bordeaux,169,philipsen_jasper,"Vingegaard,Jonas",7
7,7,libourne - limoges,200,pedersen_mads,"Vingegaard,Jonas",8
8,8,saint-léonard-de-noblat - puy de,182,woods_michael,"Vingegaard,Jonas",9
9,9,vulcania - issoire,167,bilbao_pello,"Vingegaard,Jonas",10
10,10,clermont-ferrand - moulins,179,philipsen_jasper,"Vingegaard,Jonas",11
11,11,roanne - belleville-en-beaujolais,168,izagirre_ion,"Vingegaard,Jonas",12
12,12,châtillon-sur-chalaronne - grand,137,kwiatkowski_michal,"Vingegaard,Jonas",13
13,13,annemasse - morzine,151,rodríguez_carlos,"Vingegaard,Jonas",14
14,14,les gets - saint-gervais-mont-bl,179,poels_wout,"Vingegaard,Jonas",15
15,15,passy - combloux,22,vingegaard_jonas,"Vingegaard,Jonas",16
16,16,saint-gervais-mont-blanc - courc,165,gall_felix,"Vingegaard,Jonas",17
17,17,moûtiers - bourg-en-bresse,184,asgreen_kasper,"Vingegaard,Jonas",18
18,18,moirans-en-montagne - poligny,172,mohorič_matej,"Vingegaard,Jonas",19
19,19,belfort - le markstein,133,pogačar_tadej,"Vingegaard,Jonas",20
20,20,saint-quentin-en-yvelines - paris,115,meeus_jordi,"Vingegaard,Jonas",21

In [279]:
# cambiar los elementos de la columna "leader" a minusculas y cambiar las comas por guiones bajos

stages_df['leader'] = stages_df['leader'].str.lower().str.replace(',', '_')

stages_df

,Unnamed: 0,stages,length,winner,leader,stage_id
0,0,bilbao - bilbao,182,yates_adam,yates_adam,1
1,1,vitoria-gasteiz - donostia,208,lafay_victor,yates_adam,2
2,2,amorebieta - bayonne,193,philipsen_jasper,yates_adam,3
3,3,dax - nogaro,181,philipsen_jasper,yates_adam,4
4,4,pau - laruns,162,hindley_jai,hindley_jai,5
5,5,tarbes - cauterets,144,pogačar_tadej,vingegaard_jonas,6
6,6,mont-de-marsan - bordeaux,169,philipsen_jasper,vingegaard_jonas,7
7,7,libourne - limoges,200,pedersen_mads,vingegaard_jonas,8
8,8,saint-léonard-de-noblat - puy de,182,woods_michael,vingegaard_jonas,9
9,9,vulcania - issoire,167,bilbao_pello,vingegaard_jonas,10
10,10,clermont-ferrand - moulins,179,philipsen_jasper,vingegaard_jonas,11
11,11,roanne - belleville-en-beaujolais,168,izagirre_ion,vingegaard_jonas,12
12,12,châtillon-sur-chalaronne - grand,137,kwiatkowski_michal,vingegaard_jonas,13
13,13,annemasse - morzine,151,rodríguez_carlos,vingegaard_jonas,14
14,14,les gets - saint-gervais-mont-bl,179,poels_wout,vingegaard_jonas,15
15,15,passy - combloux,22,vingegaard_jonas,vingegaard_jonas,16
16,16,saint-gervais-mont-blanc - courc,165,gall_felix,vingegaard_jonas,17
17,17,moûtiers - bourg-en-bresse,184,asgreen_kasper,vingegaard_jonas,18
18,18,moirans-en-montagne - poligny,172,mohorič_matej,vingegaard_jonas,19
19,19,belfort - le markstein,133,pogačar_tadej,vingegaard_jonas,20
20,20,saint-quentin-en-yvelines - paris,115,meeus_jordi,vingegaard_jonas,21

In [280]:
# exportar a csv los datos de stages_df

stages_df.to_csv('stages.csv', index=False)

In [281]:
# abrir el csv de stages

stages_df = pd.read_csv('stages.csv')

stages_df

,stage,length,winner,leader,stage_id
0,bilbao - bilbao,182,yates_adam,yates_adam,1
1,vitoria-gasteiz - donostia,208,lafay_victor,yates_adam,2
2,amorebieta - bayonne,193,philipsen_jasper,yates_adam,3
3,dax - nogaro,181,philipsen_jasper,yates_adam,4
4,pau - laruns,162,hindley_jai,hindley_jai,5
5,tarbes - cauterets,144,pogačar_tadej,vingegaard_jonas,6
6,mont-de-marsan - bordeaux,169,philipsen_jasper,vingegaard_jonas,7
7,libourne - limoges,200,pedersen_mads,vingegaard_jonas,8
8,saint-léonard-de-noblat - puy de,182,woods_michael,vingegaard_jonas,9
9,vulcania - issoire,167,bilbao_pello,vingegaard_jonas,10
10,clermont-ferrand - moulins,179,philipsen_jasper,vingegaard_jonas,11
11,roanne - belleville-en-beaujolais,168,izagirre_ion,vingegaard_jonas,12
12,châtillon-sur-chalaronne - grand,137,kwiatkowski_michal,vingegaard_jonas,13
13,annemasse - morzine,151,rodríguez_carlos,vingegaard_jonas,14
14,les gets - saint-gervais-mont-bl,179,poels_wout,vingegaard_jonas,15
15,passy - combloux,22,vingegaard_jonas,vingegaard_jonas,16
16,saint-gervais-mont-blanc - courc,165,gall_felix,vingegaard_jonas,17
17,moûtiers - bourg-en-bresse,184,asgreen_kasper,vingegaard_jonas,18
18,moirans-en-montagne - poligny,172,mohorič_matej,vingegaard_jonas,19
19,belfort - le markstein,133,pogačar_tadej,vingegaard_jonas,20
20,saint-quentin-en-yvelines - paris,115,meeus_jordi,vingegaard_jonas,21

In [283]:
# cambiar la columna "stage_id" al principio del dataframe

stages_df1 = stages_df[["stage_id","stage","length","winner","leader"]]

stages_df1

,stage_id,stage,length,winner,leader
0,1,bilbao - bilbao,182,yates_adam,yates_adam
1,2,vitoria-gasteiz - donostia,208,lafay_victor,yates_adam
2,3,amorebieta - bayonne,193,philipsen_jasper,yates_adam
3,4,dax - nogaro,181,philipsen_jasper,yates_adam
4,5,pau - laruns,162,hindley_jai,hindley_jai
5,6,tarbes - cauterets,144,pogačar_tadej,vingegaard_jonas
6,7,mont-de-marsan - bordeaux,169,philipsen_jasper,vingegaard_jonas
7,8,libourne - limoges,200,pedersen_mads,vingegaard_jonas
8,9,saint-léonard-de-noblat - puy de,182,woods_michael,vingegaard_jonas
9,10,vulcania - issoire,167,bilbao_pello,vingegaard_jonas
10,11,clermont-ferrand - moulins,179,philipsen_jasper,vingegaard_jonas
11,12,roanne - belleville-en-beaujolais,168,izagirre_ion,vingegaard_jonas
12,13,châtillon-sur-chalaronne - grand,137,kwiatkowski_michal,vingegaard_jonas
13,14,annemasse - morzine,151,rodríguez_carlos,vingegaard_jonas
14,15,les gets - saint-gervais-mont-bl,179,poels_wout,vingegaard_jonas
15,16,passy - combloux,22,vingegaard_jonas,vingegaard_jonas
16,17,saint-gervais-mont-blanc - courc,165,gall_felix,vingegaard_jonas
17,18,moûtiers - bourg-en-bresse,184,asgreen_kasper,vingegaard_jonas
18,19,moirans-en-montagne - poligny,172,mohorič_matej,vingegaard_jonas
19,20,belfort - le markstein,133,pogačar_tadej,vingegaard_jonas
20,21,saint-quentin-en-yvelines - paris,115,meeus_jordi,vingegaard_jonas

In [284]:
# exportar a csv los datos de stages_df1

stages_df1.to_csv('stages.csv', index=False)

In [301]:
# importar el csv de stage_climb

stage_climb_df = pd.read_csv('stage_climb.csv')

stage_climb_df

,climb_id,climb_name,stage_id,length,steepness,top,km_before_finnish
0,1,côte_de_laukiz,1,2.1,6.8,220,168
1,2,côte_de_san_juan_de_gaztelugatxe,1,3.6,7.9,297,114
2,3,col_de_morga,1,3.8,4.9,324,41
3,4,côte_de_vivero,1,4.3,7.0,355,27
4,5,côte_de_pike,1,2.0,9.8,210,10
5,6,col_d'udana,2,4.5,4.9,512,128
6,7,côte_d'aztiria,2,2.7,6.0,594,121
7,8,côte_d'alkiza,2,4.2,5.9,327,68
8,9,côte_de_gurutze,2,2.5,4.9,153,34
9,10,jaizkibel,2,8.1,5.3,452,16
10,11,côte_de_trabakua,3,4.2,5.7,386,180
11,12,côte_de_milloi,3,2.2,4.9,161,161
12,13,col_d'itziar,3,5.1,4.1,215,123
13,14,côte_d'orioko_benta,3,4.6,6.7,313,92
14,15,côte_de_dému,4,2.1,3.2,217,27
15,16,col_de_soudet,5,15.2,7.0,1518,75
16,17,col_d'ichère,5,4.2,6.2,675,38
17,18,col_de_marie_blanque,5,7.8,8.5,1031,18
18,19,côte_de_capvern-les-bains,6,5.7,4.7,596,115
19,20,col_d'aspin,6,12.0,6.6,1485,77
20,21,col_du_tourmalet,6,17.0,7.4,2112,47
21,22,cauterets-cambrasque,6,16.2,5.3,1353,0
22,23,côte_de_béguey,7,1.2,4.3,80,39
23,24,côte_de_champs-romain,8,2.8,5.0,301,70
24,25,côte_de_masmont,8,1.3,5.3,345,16
25,26,côte_de_condat-sur-vienne,8,1.2,5.3,282,10
26,27,côte_de_felletin,9,2.3,4.8,650,108
27,28,côte_de_pontcharraud,9,2.0,4.5,683,97
28,29,côte_de_pontaumur,9,3.9,4.9,723,56
29,30,puy_de_dôme,9,12.6,7.8,1410,0
30,31,col_de_la_moréno,10,4.8,4.9,1061,160
31,32,col_de_guéry,10,7.9,4.8,1262,140
32,33,col_de_la_croix_saint-robert,10,6.0,6.4,1445,101
33,34,côte_de_saint-victor-la-rivière,10,3.0,6.0,1025,83
34,35,côte_de_la_chapelle-marcousse,10,6.6,5.5,968,29
35,36,côte_de_chaptuzat-haut,11,1.9,4.9,476,148
36,37,côte_du_mercurol,11,2.9,4.4,446,130
37,38,côte_de_la_croix_blanche,11,1.7,5.1,285,61
38,39,côte_de_thizy-les-bourgs,12,4.4,5.6,629,148
39,40,col_des_écorbans,12,2.0,5.8,824,131
40,41,col_de_la_casse_froide,12,5.2,6.0,740,59
41,42,col_de_la_croix_montmain,12,5.5,6.2,735,44
42,43,col_de_la_croix_rosier,12,5.4,7.7,721,28
43,44,grand_colombier,13,17.8,7.0,1494,0
44,45,col_de_saxel,14,4.4,4.6,941,133
45,46,col_de_cou,14,7.1,7.4,1113,117
46,47,col_du_feu,14,5.9,7.7,1118,99
47,48,col_de_la_ramaz,14,13.9,6.9,1612,50
48,49,col_de_joux_plane,14,11.7,8.5,1690,12
49,50,col_de_la_forclaz_de_montmin,15,7.2,7.3,1149,96
50,51,col_de_la_croix_fry,15,11.4,7.1,1463,54
51,52,col_des_aravis,15,4.4,6.2,1483,46
52,53,côte_des_amerands,15,2.7,10.1,861,8
53,54,saint-gervais_mont-blanc,15,7.7,7.0,1379,0
54,55,côte_de_domancy,16,2.8,8.4,793,4
55,56,col_des_saisies,17,13.5,5.2,1643,137
56,57,cormet_de_roselend,17,19.8,6.1,1971,99
57,58,côte_de_longefoy,17,6.7,7.5,1164,60
58,59,col_de_la_loze,17,28.3,6.0,2300,7
59,60,côte_de_chambéry-le-haut,18,1.6,4.3,345,123
60,61,côte_de_boissieu,18,2.6,4.8,354,80
61,62,côte_du_bois_de_lionge,19,1.9,5.7,694,149
62,63,côte_d'ivory,19,2.3,6.1,595,28
63,64,ballon_d'alsace,20,11.5,5.3,1172,110
64,65,col_de_la_croix_des_moinats,20,5.2,7.0,882,77
65,66,col_de_grosse_pierre,20,3.2,7.9,937,69
66,67,col_de_la_schlucht_,20,4.2,5.0,1136,54
67,68,petit_ballon,20,9.3,8.1,1157,25
68,69,col_du_platzerwasel,20,7.1,8.3,1179,8
69,70,côte_du_pavé_des_gardes,21,1.3,5.9,172,72

In [302]:
# importar el csv de stages

stages_df = pd.read_csv('stages.csv')

stages_df

,stage_id,stage,length,winner,leader
0,1,bilbao - bilbao,182,yates_adam,yates_adam
1,2,vitoria-gasteiz - donostia,208,lafay_victor,yates_adam
2,3,amorebieta - bayonne,193,philipsen_jasper,yates_adam
3,4,dax - nogaro,181,philipsen_jasper,yates_adam
4,5,pau - laruns,162,hindley_jai,hindley_jai
5,6,tarbes - cauterets,144,pogačar_tadej,vingegaard_jonas
6,7,mont-de-marsan - bordeaux,169,philipsen_jasper,vingegaard_jonas
7,8,libourne - limoges,200,pedersen_mads,vingegaard_jonas
8,9,saint-léonard-de-noblat - puy de,182,woods_michael,vingegaard_jonas
9,10,vulcania - issoire,167,bilbao_pello,vingegaard_jonas
10,11,clermont-ferrand - moulins,179,philipsen_jasper,vingegaard_jonas
11,12,roanne - belleville-en-beaujolais,168,izagirre_ion,vingegaard_jonas
12,13,châtillon-sur-chalaronne - grand,137,kwiatkowski_michal,vingegaard_jonas
13,14,annemasse - morzine,151,rodríguez_carlos,vingegaard_jonas
14,15,les gets - saint-gervais-mont-bl,179,poels_wout,vingegaard_jonas
15,16,passy - combloux,22,vingegaard_jonas,vingegaard_jonas
16,17,saint-gervais-mont-blanc - courc,165,gall_felix,vingegaard_jonas
17,18,moûtiers - bourg-en-bresse,184,asgreen_kasper,vingegaard_jonas
18,19,moirans-en-montagne - poligny,172,mohorič_matej,vingegaard_jonas
19,20,belfort - le markstein,133,pogačar_tadej,vingegaard_jonas
20,21,saint-quentin-en-yvelines - paris,115,meeus_jordi,vingegaard_jonas

In [303]:
# importar el csv de startlist

startlist_df = pd.read_csv('startlist.csv')

startlist_df

,rider_name_id,rider_name,nationality,team_name,ranking
0,1,vingegaard_jonas,dk,jumbo_visma,wt
1,2,benoot_tiesj,be,jumbo_visma,wt
2,3,kelderman_wilco,nl,jumbo_visma,wt
3,4,kuss_sepp,us,jumbo_visma,wt
4,5,laporte_christophe,fr,jumbo_visma,wt
5,6,van_aert_wout,be,jumbo_visma,wt
6,7,van_baarle_dylan,nl,jumbo_visma,wt
7,8,van_hooydonck_nathan,be,jumbo_visma,wt
8,9,pogačar_tadej,si,uae_team_emirates,wt
9,10,bjerg_mikkel,dk,uae_team_emirates,wt
10,11,großschartner_felix,at,uae_team_emirates,wt
11,12,laengen_vegard_stake,no,uae_team_emirates,wt
12,13,majka_rafał,pl,uae_team_emirates,wt
13,14,soler_marc,es,uae_team_emirates,wt
14,15,trentin_matteo,it,uae_team_emirates,wt
15,16,yates_adam,gb,uae_team_emirates,wt
16,17,bernal_egan,co,ineos_grenadiers,wt
17,18,castroviejo_jonathan,es,ineos_grenadiers,wt
18,19,fraile_omar,es,ineos_grenadiers,wt
19,20,kwiatkowski_michał,pl,ineos_grenadiers,wt
20,21,martínez_daniel_felipe,co,ineos_grenadiers,wt
21,22,pidcock_thomas,gb,ineos_grenadiers,wt
22,23,rodríguez_carlos,es,ineos_grenadiers,wt
23,24,turner_ben,gb,ineos_grenadiers,wt
24,25,gaudu_david,fr,groupama_fdj,wt
25,26,geniets_kevin,lu,groupama_fdj,wt
26,27,küng_stefan,ch,groupama_fdj,wt
27,28,le_gac_olivier,fr,groupama_fdj,wt
28,29,madouas_valentin,fr,groupama_fdj,wt
29,30,pacher_quentin,fr,groupama_fdj,wt
30,31,pinot_thibaut,fr,groupama_fdj,wt
31,32,van_den_berg_lars,nl,groupama_fdj,wt
32,33,carapaz_richard,ec,ef_education_easypost,wt
33,34,amador_andrey,cr,ef_education_easypost,wt
34,35,bettiol_alberto,it,ef_education_easypost,wt
35,36,chaves_esteban,co,ef_education_easypost,wt
36,37,cort_magnus,dk,ef_education_easypost,wt
37,38,powless_neilson,us,ef_education_easypost,wt
38,39,shaw_james,gb,ef_education_easypost,wt
39,40,urán_rigoberto,co,ef_education_easypost,wt
40,41,alaphilippe_julian,fr,soudal_quick_step,wt
41,42,asgreen_kasper,dk,soudal_quick_step,wt
42,43,cavagna_rémi,fr,soudal_quick_step,wt
43,44,declercq_tim,be,soudal_quick_step,wt
44,45,devenyns_dries,be,soudal_quick_step,wt
45,46,jakobsen_fabio,nl,soudal_quick_step,wt
46,47,lampaert_yves,be,soudal_quick_step,wt
47,48,mørkøv_michael,dk,soudal_quick_step,wt
48,49,landa_mikel,es,bahrain_victorious,wt
49,50,arndt_nikias,de,bahrain_victorious,wt
50,51,bauhaus_phil,de,bahrain_victorious,wt
51,52,bilbao_pello,es,bahrain_victorious,wt
52,53,haig_jack,au,bahrain_victorious,wt
53,54,mohorič_matej,si,bahrain_victorious,wt
54,55,poels_wout,nl,bahrain_victorious,wt
55,56,wright_fred,gb,bahrain_victorious,wt
56,57,hindley_jai,au,bora_hansgrohe,wt
57,58,buchmann_emanuel,de,bora_hansgrohe,wt
58,59,haller_marco,at,bora_hansgrohe,wt
59,60,jungels_bob,lu,bora_hansgrohe,wt
60,61,konrad_patrick,at,bora_hansgrohe,wt
61,62,meeus_jordi,be,bora_hansgrohe,wt
62,63,politt_nils,de,bora_hansgrohe,wt
63,64,van_poppel_danny,nl,bora_hansgrohe,wt
64,65,ciccone_giulio,it,lidl_trek,wt
65,66,gallopin_tony,fr,lidl_trek,wt
66,67,skjelmose_mattias,dk,lidl_trek,wt
67,68,kirsch_alex,lu,lidl_trek,wt
68,69,lópez_juan_pedro,es,lidl_trek,wt
69,70,pedersen_mads,dk,lidl_trek,wt
70,71,simmons_quinn,us,lidl_trek,wt
71,72,stuyven_jasper,be,lidl_trek,wt
72,73,o'connor_ben,au,ag2r_citroën_team,wt
73,74,berthet_clément,fr,ag2r_citroën_team,wt
74,75,cosnefroy_benoît,fr,ag2r_citroën_team,wt
75,76,dewulf_stan,be,ag2r_citroën_team,wt
76,77,gall_felix,at,ag2r_citroën_team,wt
77,78,naesen_oliver,be,ag2r_citroën_team,wt
78,79,paret-peintre_aurélien,fr,ag2r_citroën_team,wt
79,80,peters_nans,fr,ag2r_citroën_team,wt
80,81,van_der_poel_mathieu,nl,alpecin_deceuninck,wt
81,82,dillier_silvan,ch,alpecin_deceuninck,wt
82,83,gogl_michael,at,alpecin_deceuninck,wt
83,84,hermans_quinten,be,alpecin_deceuninck,wt
84,85,kragh_andersen_søren,dk,alpecin_deceuninck,wt
85,86,philipsen_jasper,be,alpecin_deceuninck,wt
86,87,rickaert_jonas,be,alpecin_deceuninck,wt
87,88,sinkeldam_ramon,nl,alpecin_deceuninck,wt
88,89,girmay_biniam,er,intermarché_circus_wanty,wt
89,90,calmejane_lilian,fr,intermarché_circus_wanty,wt
90,91,costa_rui,pt,intermarché_circus_wanty,wt
91,92,meintjes_louis,za,intermarché_circus_wanty,wt
92,93,petit_adrien,fr,intermarché_circus_wanty,wt
93,94,smith_dion,nz,intermarché_circus_wanty,wt
94,95,teunissen_mike,nl,intermarché_circus_wanty,wt
95,96,zimmermann_georg,de,intermarché_circus_wanty,wt
96,97,martin_guillaume,fr,cofidis,wt
97,98,coquard_bryan,fr,cofidis,wt
98,99,geschke_simon,de,cofidis,wt
99,100,izagirre_ion,es,cofidis,wt
100,101,lafay_victor,fr,cofidis,wt
101,102,perez_anthony,fr,cofidis,wt
102,103,renard_alexis,fr,cofidis,wt
103,104,zingle_axel,fr,cofidis,wt
104,105,mas_enric,es,movistar_team,wt
105,106,guerreiro_ruben,pt,movistar_team,wt
106,107,aranburu_alex,es,movistar_team,wt
107,108,izagirre_gorka,es,movistar_team,wt
108,109,jorgenson_matteo,us,movistar_team,wt
109,110,mühlberger_gregor,at,movistar_team,wt
110,111,oliveira_nelson,pt,movistar_team,wt
111,112,pedrero_antonio,es,movistar_team,wt
112,113,bardet_romain,fr,team_dsm_firmenich,wt
113,114,degenkolb_john,de,team_dsm_firmenich,wt
114,115,dinham_matthew,au,team_dsm_firmenich,wt
115,116,edmondson_alex,au,team_dsm_firmenich,wt
116,117,eekhoff_nils,nl,team_dsm_firmenich,wt
117,118,hamilton_chris,au,team_dsm_firmenich,wt
118,119,vermaerke_kevin,us,team_dsm_firmenich,wt
119,120,welsford_sam,au,team_dsm_firmenich,wt
120,121,woods_michael,ca,israel_premier_tech,prt
121,122,boivin_guillaume,ca,israel_premier_tech,prt
122,123,clarke_simon,au,israel_premier_tech,prt
123,124,houle_hugo,ca,israel_premier_tech,prt
124,125,neilands_krists,lv,israel_premier_tech,prt
125,126,schultz_nick,au,israel_premier_tech,prt
126,127,strong_corbin,nz,israel_premier_tech,prt
127,128,teuns_dylan,be,israel_premier_tech,prt
128,129,yates_simon,gb,team_jayco_alula,wt
129,130,craddock_lawson,us,team_jayco_alula,wt
130,131,durbridge_luke,au,team_jayco_alula,wt
131,132,groenewegen_dylan,nl,team_jayco_alula,wt
132,133,harper_chris,au,team_jayco_alula,wt
133,134,juul-jensen_christopher,dk,team_jayco_alula,wt
134,135,mezgec_luka,si,team_jayco_alula,wt
135,136,reinders_elmar,nl,team_jayco_alula,wt
136,137,barguil_warren,fr,team_arkéa_samsic,wt
137,138,biermans_jenthe,be,team_arkéa_samsic,wt
138,139,champoussin_clément,fr,team_arkéa_samsic,wt
139,140,delaplace_anthony,fr,team_arkéa_samsic,wt
140,141,guglielmi_simon,fr,team_arkéa_samsic,wt
141,142,louvel_matis,fr,team_arkéa_samsic,wt
142,143,mozzato_luca,it,team_arkéa_samsic,wt
143,144,pichon_laurent,fr,team_arkéa_samsic,wt
144,145,ewan_caleb,au,lotto_dstny,prt
145,146,campenaerts_victor,be,lotto_dstny,prt
146,147,de_buyst_jasper,be,lotto_dstny,prt
147,148,eenkhoorn_pascal,nl,lotto_dstny,prt
148,149,frison_frederik,be,lotto_dstny,prt
149,150,guarnieri_jacopo,it,lotto_dstny,prt
150,151,van_gils_maxim,be,lotto_dstny,prt
151,152,vermeersch_florian,be,lotto_dstny,prt
152,153,cavendish_mark,gb,astana_qazaqstan_team,wt
153,154,bol_cees,nl,astana_qazaqstan_team,wt
154,155,de_la_cruz_david,es,astana_qazaqstan_team,wt
155,156,fedorov_yevgeniy,kz,astana_qazaqstan_team,wt
156,157,lutsenko_alexey,kz,astana_qazaqstan_team,wt
157,158,moscon_gianni,it,astana_qazaqstan_team,wt
158,159,sánchez_luis_león,es,astana_qazaqstan_team,wt
159,160,tejada_harold,co,astana_qazaqstan_team,wt
160,161,kristoff_alexander,no,uno_x_pro_cycling_team,prt
161,162,abrahamsen_jonas,no,uno_x_pro_cycling_team,prt
162,163,charmig_anthon,dk,uno_x_pro_cycling_team,prt
163,164,johannessen_tobias_halland,no,uno_x_pro_cycling_team,prt
164,165,tiller_rasmus,no,uno_x_pro_cycling_team,prt
165,166,træen_torstein,no,uno_x_pro_cycling_team,prt
166,167,wærenskjold_søren,no,uno_x_pro_cycling_team,prt
167,168,gregaard_jonas,dk,uno_x_pro_cycling_team,prt
168,169,sagan_peter,sk,totalenergies,prt
169,170,boasson_hagen_edvald,no,totalenergies,prt
170,171,burgaudeau_mathieu,fr,totalenergies,prt
171,172,cras_steff,be,totalenergies,prt
172,173,ferron_valentin,fr,totalenergies,prt
173,174,latour_pierre,fr,totalenergies,prt
174,175,oss_daniel,it,totalenergies,prt
175,176,turgis_anthony,fr,totalenergies,prt

In [304]:
# importar el csv de withdrawals

withdrawals_df = pd.read_csv('withdrawals.csv')

withdrawals_df

,Unnamed: 0,withdrawal_id,stage_id,rider_name,team_name
0,0,1,1,mas_enric,movistar_team
1,1,2,2,carapaz_richard,ef_education_easypost
2,2,3,3,no_withdrawal,no_withdrawal
3,3,4,4,no_withdrawal,no_withdrawal
4,4,5,5,guarnieri_jacopo,lotto_dstny
5,5,6,5,sanchez_luis_leon,astana_qazaqstan_team
6,6,7,6,no_withdrawal,no_withdrawal
7,7,8,7,no_withdrawal,no_withdrawal
8,8,9,8,cavendish_mark,astana_qazaqstan_team
9,9,10,8,cras_steff,totalenergies
10,10,11,9,simmons_quinn,lidl_trek
11,11,12,10,no_withdrawal,no_withdrawal
12,12,13,11,no_withdrawal,no_withdrawal
13,13,14,12,jakobsen_fabio,soudal_quick_step
14,14,15,13,de_la_cruz_david,astana_qazaqstan_team
15,15,16,13,turner_ben,ineos_grenadiers
16,16,17,13,ewan_caleb,lotto_dstny
17,17,18,14,chaves_esteban,ef_education_easypost
18,18,19,14,shaw_james,ef_education_easypost
19,19,20,14,sinkeldam_ramon,alpecin-deceuninck
20,20,21,14,meintjes_louis,intermarché_circus_wanty
21,21,22,14,guerreiro_ruben,movistar_team
22,22,23,14,pedrero_antonio,movistar_team
23,23,24,14,bardet_romain,team_dsm_firmenich
24,24,25,15,martínez_daniel_felipe,ineos_grenadiers
25,25,26,16,jorgenson_matteo,movistar_team
26,26,27,17,bauhaus_phil,bahrain_victorious
27,27,28,17,renard_alexis,cofidis
28,28,29,18,van_aert_wout,jumbo_visma
29,29,30,18,geschke_simon,cofidis
30,30,31,18,perez_anthony,cofidis
31,31,32,19,no_withdrawal,no_withdrawal
32,32,33,20,lafay_victor,cofidis
33,33,34,21,no_withdrawal,no_withdrawal

In [305]:
withdrawals_df = withdrawals_df.drop(["Unnamed: 0"], axis=1)

withdrawals_df

    withdrawal_id  stage_id              rider_name                 team_name
0               1         1               mas_enric             movistar_team
1               2         2         carapaz_richard     ef_education_easypost
2               3         3           no_withdrawal             no_withdrawal
3               4         4           no_withdrawal             no_withdrawal
4               5         5        guarnieri_jacopo               lotto_dstny
5               6         5       sanchez_luis_leon     astana_qazaqstan_team
6               7         6           no_withdrawal             no_withdrawal
7               8         7           no_withdrawal             no_withdrawal
8               9         8          cavendish_mark     astana_qazaqstan_team
9              10         8              cras_steff             totalenergies
10             11         9           simmons_quinn                 lidl_trek
11             12        10           no_withdrawal             no_withdrawal
12             13        11           no_withdrawal             no_withdrawal
13             14        12          jakobsen_fabio         soudal_quick_step
14             15        13        de_la_cruz_david     astana_qazaqstan_team
15             16        13              turner_ben          ineos_grenadiers
16             17        13              ewan_caleb               lotto_dstny
17             18        14          chaves_esteban     ef_education_easypost
18             19        14              shaw_james     ef_education_easypost
19             20        14         sinkeldam_ramon        alpecin-deceuninck
20             21        14          meintjes_louis  intermarché_circus_wanty
21             22        14         guerreiro_ruben             movistar_team
22             23        14         pedrero_antonio             movistar_team
23             24        14           bardet_romain        team_dsm_firmenich
24             25        15  martínez_daniel_felipe          ineos_grenadiers
25             26        16        jorgenson_matteo             movistar_team
26             27        17            bauhaus_phil        bahrain_victorious
27             28        17           renard_alexis                   cofidis
28             29        18           van_aert_wout               jumbo_visma
29             30        18           geschke_simon                   cofidis
30             31        18           perez_anthony                   cofidis
31             32        19           no_withdrawal             no_withdrawal
32             33        20            lafay_victor                   cofidis
33             34        21           no_withdrawal             no_withdrawal

In [316]:
# exportar a csv los datos de withdrawals_df

withdrawals_df.to_csv('withdrawals.csv', index=False)

In [310]:
#  importar el csv de withdrawls

withdrawals_df = pd.read_csv('withdrawals.csv')

withdrawals_df

    withdrawal_id  stage_id              rider_name                 team_name
0               1         1               mas_enric             movistar_team
1               2         2         carapaz_richard     ef_education_easypost
2               3         3           no_withdrawal             no_withdrawal
3               4         4           no_withdrawal             no_withdrawal
4               5         5        guarnieri_jacopo               lotto_dstny
5               6         5       sanchez_luis_leon     astana_qazaqstan_team
6               7         6           no_withdrawal             no_withdrawal
7               8         7           no_withdrawal             no_withdrawal
8               9         8          cavendish_mark     astana_qazaqstan_team
9              10         8              cras_steff             totalenergies
10             11         9           simmons_quinn                 lidl_trek
11             12        10           no_withdrawal             no_withdrawal
12             13        11           no_withdrawal             no_withdrawal
13             14        12          jakobsen_fabio         soudal_quick_step
14             15        13        de_la_cruz_david     astana_qazaqstan_team
15             16        13              turner_ben          ineos_grenadiers
16             17        13              ewan_caleb               lotto_dstny
17             18        14          chaves_esteban     ef_education_easypost
18             19        14              shaw_james     ef_education_easypost
19             20        14         sinkeldam_ramon        alpecin-deceuninck
20             21        14          meintjes_louis  intermarché_circus_wanty
21             22        14         guerreiro_ruben             movistar_team
22             23        14         pedrero_antonio             movistar_team
23             24        14           bardet_romain        team_dsm_firmenich
24             25        15  martínez_daniel_felipe          ineos_grenadiers
25             26        16        jorgenson_matteo             movistar_team
26             27        17            bauhaus_phil        bahrain_victorious
27             28        17           renard_alexis                   cofidis
28             29        18           van_aert_wout               jumbo_visma
29             30        18           geschke_simon                   cofidis
30             31        18           perez_anthony                   cofidis
31             32        19           no_withdrawal             no_withdrawal
32             33        20            lafay_victor                   cofidis
33             34        21           no_withdrawal             no_withdrawal

In [311]:
# hacer un merge de la columna "rider_name_id" de startlist_df con la columna "rider_name" de withdrawals_df

withdrawals_df2 = pd.merge(withdrawals_df, startlist_df, on='rider_name')

withdrawals_df2

,withdrawal_id,stage_id,rider_name,team_name_x,rider_name_id,nationality,team_name_y,ranking
0,1,1,mas_enric,movistar_team,105,es,movistar_team,wt
1,2,2,carapaz_richard,ef_education_easypost,33,ec,ef_education_easypost,wt
2,5,5,guarnieri_jacopo,lotto_dstny,150,it,lotto_dstny,prt
3,9,8,cavendish_mark,astana_qazaqstan_team,153,gb,astana_qazaqstan_team,wt
4,10,8,cras_steff,totalenergies,172,be,totalenergies,prt
5,11,9,simmons_quinn,lidl_trek,71,us,lidl_trek,wt
6,14,12,jakobsen_fabio,soudal_quick_step,46,nl,soudal_quick_step,wt
7,15,13,de_la_cruz_david,astana_qazaqstan_team,155,es,astana_qazaqstan_team,wt
8,16,13,turner_ben,ineos_grenadiers,24,gb,ineos_grenadiers,wt
9,17,13,ewan_caleb,lotto_dstny,145,au,lotto_dstny,prt
10,18,14,chaves_esteban,ef_education_easypost,36,co,ef_education_easypost,wt
11,19,14,shaw_james,ef_education_easypost,39,gb,ef_education_easypost,wt
12,20,14,sinkeldam_ramon,alpecin-deceuninck,88,nl,alpecin_deceuninck,wt
13,21,14,meintjes_louis,intermarché_circus_wanty,92,za,intermarché_circus_wanty,wt
14,22,14,guerreiro_ruben,movistar_team,106,pt,movistar_team,wt
15,23,14,pedrero_antonio,movistar_team,112,es,movistar_team,wt
16,24,14,bardet_romain,team_dsm_firmenich,113,fr,team_dsm_firmenich,wt
17,25,15,martínez_daniel_felipe,ineos_grenadiers,21,co,ineos_grenadiers,wt
18,26,16,jorgenson_matteo,movistar_team,109,us,movistar_team,wt
19,27,17,bauhaus_phil,bahrain_victorious,51,de,bahrain_victorious,wt
20,28,17,renard_alexis,cofidis,103,fr,cofidis,wt
21,29,18,van_aert_wout,jumbo_visma,6,be,jumbo_visma,wt
22,30,18,geschke_simon,cofidis,99,de,cofidis,wt
23,31,18,perez_anthony,cofidis,102,fr,cofidis,wt
24,33,20,lafay_victor,cofidis,101,fr,cofidis,wt

In [317]:
# exportar a csv los datos de withdrawals_df2

withdrawals_df2.to_csv('withdrawals2.csv', index=False)

In [322]:
# importar el csv de withdrawals2

withdrawals_df2 = pd.read_csv('withdrawals2.csv')

withdrawals_df2

# cambiar el nombre de la columna "team_name_y" a "team_name"

withdrawals_df2 = withdrawals_df2.rename(columns={'team_name_y': 'team_name'})

withdrawals_df2

# exportar a csv los datos de withdrawals_df2

withdrawals_df2.to_csv('withdrawals_clean.csv', index=False)