Instalación de la librería "procyclingstats" e importación del resto de librerías necesarias para la realización del proyecto

In [ ]:
pip install procyclingstats

In [1]:
from procyclingstats import RaceClimbs
from procyclingstats import Race
from procyclingstats import Stage
from procyclingstats import RaceStartlist
import requests
from bs4 import BeautifulSoup
import pandas as pd
import dtale
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

Accedemos al database de dicha página, y más concretamente, al apartado de "startlist" para recabar la lista de participantes en el Tour de Francia 2023

In [2]:
race_startlist = RaceStartlist("race/tour-de-france/2023/startlist")
startlist = race_startlist.startlist()

len(startlist)

176

In [3]:
# Crear un dataframe con los datos de tour de france

startlist_df = pd.DataFrame(startlist)

startlist_df

,rider_name,rider_url,nationality,rider_number,team_name,team_url
0,VINGEGAARD Jonas,rider/jonas-vingegaard-rasmussen,DK,1,Jumbo-Visma (WT),team/team-jumbo-visma-2023
1,BENOOT Tiesj,rider/tiesj-benoot,BE,2,Jumbo-Visma (WT),team/team-jumbo-visma-2023
2,KELDERMAN Wilco,rider/wilco-kelderman,NL,3,Jumbo-Visma (WT),team/team-jumbo-visma-2023
3,KUSS Sepp,rider/sepp-kuss,US,4,Jumbo-Visma (WT),team/team-jumbo-visma-2023
4,LAPORTE Christophe,rider/christophe-laporte,FR,5,Jumbo-Visma (WT),team/team-jumbo-visma-2023
...,...,...,...,...,...,...
171,CRAS Steff,rider/steff-cras,BE,214,TotalEnergies (PRT),team/team-totalenergies-2023
172,FERRON Valentin,rider/valentin-ferron,FR,215,TotalEnergies (PRT),team/team-totalenergies-2023
173,LATOUR Pierre,rider/pierre-latour,FR,216,TotalEnergies (PRT),team/team-totalenergies-2023
174,OSS Daniel,rider/daniel-oss,IT,217,TotalEnergies (PRT),team/team-totalenergies-2023
175,TURGIS Anthony,rider/anthony-turgis,FR,218,TotalEnergies (PRT),team/team-totalenergies-2023

Procederemos a anlizar el dataframe e iniciar su limpieza

In [4]:
# Ver la información del dataframe

startlist_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rider_name    176 non-null    object
 1   rider_url     176 non-null    object
 2   nationality   176 non-null    object
 3   rider_number  176 non-null    int64
 4   team_name     176 non-null    object
 5   team_url      176 non-null    object
dtypes: int64(1), object(5)
memory usage: 8.4+ KB

In [5]:
# Comprobar si hay duplicados

startlist_df.duplicated().sum()

0

In [6]:
# Eliminar las columnas "rider_url","team_url" y "rider_number"

startlist_df = startlist_df.drop(["rider_url","team_url","rider_number"], axis=1)

startlist_df

             rider_name nationality            team_name
0      VINGEGAARD Jonas          DK     Jumbo-Visma (WT)
1          BENOOT Tiesj          BE     Jumbo-Visma (WT)
2       KELDERMAN Wilco          NL     Jumbo-Visma (WT)
3             KUSS Sepp          US     Jumbo-Visma (WT)
4    LAPORTE Christophe          FR     Jumbo-Visma (WT)
..                  ...         ...                  ...
171          CRAS Steff          BE  TotalEnergies (PRT)
172     FERRON Valentin          FR  TotalEnergies (PRT)
173       LATOUR Pierre          FR  TotalEnergies (PRT)
174          OSS Daniel          IT  TotalEnergies (PRT)
175      TURGIS Anthony          FR  TotalEnergies (PRT)

[176 rows x 3 columns]

In [7]:
# Crear una columna llamada rider_name_id que se obtenga de la columna "rider_name" y que contenga el id del ciclista

startlist_df["rider_name_id"] = startlist_df["rider_name"].str.split("/").str[2]

startlist_df

             rider_name nationality            team_name  rider_name_id
0      VINGEGAARD Jonas          DK     Jumbo-Visma (WT)            NaN
1          BENOOT Tiesj          BE     Jumbo-Visma (WT)            NaN
2       KELDERMAN Wilco          NL     Jumbo-Visma (WT)            NaN
3             KUSS Sepp          US     Jumbo-Visma (WT)            NaN
4    LAPORTE Christophe          FR     Jumbo-Visma (WT)            NaN
..                  ...         ...                  ...            ...
171          CRAS Steff          BE  TotalEnergies (PRT)            NaN
172     FERRON Valentin          FR  TotalEnergies (PRT)            NaN
173       LATOUR Pierre          FR  TotalEnergies (PRT)            NaN
174          OSS Daniel          IT  TotalEnergies (PRT)            NaN
175      TURGIS Anthony          FR  TotalEnergies (PRT)            NaN

[176 rows x 4 columns]

In [8]:
# Llenar la columna "rider_name_id" con numeros del 1 al 176

startlist_df["rider_name_id"] = range(1, len(startlist_df) + 1)

startlist_df

             rider_name nationality            team_name  rider_name_id
0      VINGEGAARD Jonas          DK     Jumbo-Visma (WT)              1
1          BENOOT Tiesj          BE     Jumbo-Visma (WT)              2
2       KELDERMAN Wilco          NL     Jumbo-Visma (WT)              3
3             KUSS Sepp          US     Jumbo-Visma (WT)              4
4    LAPORTE Christophe          FR     Jumbo-Visma (WT)              5
..                  ...         ...                  ...            ...
171          CRAS Steff          BE  TotalEnergies (PRT)            172
172     FERRON Valentin          FR  TotalEnergies (PRT)            173
173       LATOUR Pierre          FR  TotalEnergies (PRT)            174
174          OSS Daniel          IT  TotalEnergies (PRT)            175
175      TURGIS Anthony          FR  TotalEnergies (PRT)            176

[176 rows x 4 columns]

In [9]:
# Poner la columna "rider_name_id" al principio del dataframe

startlist_df = startlist_df[["rider_name_id","rider_name","nationality","team_name"]]

startlist_df

     rider_name_id          rider_name nationality            team_name
0                1    VINGEGAARD Jonas          DK     Jumbo-Visma (WT)
1                2        BENOOT Tiesj          BE     Jumbo-Visma (WT)
2                3     KELDERMAN Wilco          NL     Jumbo-Visma (WT)
3                4           KUSS Sepp          US     Jumbo-Visma (WT)
4                5  LAPORTE Christophe          FR     Jumbo-Visma (WT)
..             ...                 ...         ...                  ...
171            172          CRAS Steff          BE  TotalEnergies (PRT)
172            173     FERRON Valentin          FR  TotalEnergies (PRT)
173            174       LATOUR Pierre          FR  TotalEnergies (PRT)
174            175          OSS Daniel          IT  TotalEnergies (PRT)
175            176      TURGIS Anthony          FR  TotalEnergies (PRT)

[176 rows x 4 columns]

In [10]:
# cambiar los elementos de la columna "rider_name_id a minusculas y cambiar los espacios por guiones bajos

startlist_df['rider_name'] = startlist_df['rider_name'].str.lower().str.replace(' ', '_')

startlist_df

     rider_name_id          rider_name nationality            team_name
0                1    vingegaard_jonas          DK     Jumbo-Visma (WT)
1                2        benoot_tiesj          BE     Jumbo-Visma (WT)
2                3     kelderman_wilco          NL     Jumbo-Visma (WT)
3                4           kuss_sepp          US     Jumbo-Visma (WT)
4                5  laporte_christophe          FR     Jumbo-Visma (WT)
..             ...                 ...         ...                  ...
171            172          cras_steff          BE  TotalEnergies (PRT)
172            173     ferron_valentin          FR  TotalEnergies (PRT)
173            174       latour_pierre          FR  TotalEnergies (PRT)
174            175          oss_daniel          IT  TotalEnergies (PRT)
175            176      turgis_anthony          FR  TotalEnergies (PRT)

[176 rows x 4 columns]

In [12]:
# separar los elementos entre parentesis de la columna "team_name" a una nueva columna llamada "ranking"

startlist_df['ranking'] = startlist_df['team_name'].str.split("(").str[1]

startlist_df

,rider_name_id,rider_name,nationality,team_name,ranking
0,1,vingegaard_jonas,DK,Jumbo-Visma (WT),WT)
1,2,benoot_tiesj,BE,Jumbo-Visma (WT),WT)
2,3,kelderman_wilco,NL,Jumbo-Visma (WT),WT)
3,4,kuss_sepp,US,Jumbo-Visma (WT),WT)
4,5,laporte_christophe,FR,Jumbo-Visma (WT),WT)
...,...,...,...,...,...
171,172,cras_steff,BE,TotalEnergies (PRT),PRT)
172,173,ferron_valentin,FR,TotalEnergies (PRT),PRT)
173,174,latour_pierre,FR,TotalEnergies (PRT),PRT)
174,175,oss_daniel,IT,TotalEnergies (PRT),PRT)
175,176,turgis_anthony,FR,TotalEnergies (PRT),PRT)

In [13]:
# eliminar los elementos entre parentesis de la columna "team_name"

startlist_df['team_name'] = startlist_df['team_name'].str.split("(").str[0]

startlist_df

     rider_name_id          rider_name nationality       team_name ranking
0                1    vingegaard_jonas          DK    Jumbo-Visma      WT)
1                2        benoot_tiesj          BE    Jumbo-Visma      WT)
2                3     kelderman_wilco          NL    Jumbo-Visma      WT)
3                4           kuss_sepp          US    Jumbo-Visma      WT)
4                5  laporte_christophe          FR    Jumbo-Visma      WT)
..             ...                 ...         ...             ...     ...
171            172          cras_steff          BE  TotalEnergies     PRT)
172            173     ferron_valentin          FR  TotalEnergies     PRT)
173            174       latour_pierre          FR  TotalEnergies     PRT)
174            175          oss_daniel          IT  TotalEnergies     PRT)
175            176      turgis_anthony          FR  TotalEnergies     PRT)

[176 rows x 5 columns]

In [14]:
# quitar los parentesis de la columna "ranking"

startlist_df['ranking'] = startlist_df['ranking'].str.split(")").str[0]

startlist_df

     rider_name_id          rider_name nationality       team_name ranking
0                1    vingegaard_jonas          DK    Jumbo-Visma       WT
1                2        benoot_tiesj          BE    Jumbo-Visma       WT
2                3     kelderman_wilco          NL    Jumbo-Visma       WT
3                4           kuss_sepp          US    Jumbo-Visma       WT
4                5  laporte_christophe          FR    Jumbo-Visma       WT
..             ...                 ...         ...             ...     ...
171            172          cras_steff          BE  TotalEnergies      PRT
172            173     ferron_valentin          FR  TotalEnergies      PRT
173            174       latour_pierre          FR  TotalEnergies      PRT
174            175          oss_daniel          IT  TotalEnergies      PRT
175            176      turgis_anthony          FR  TotalEnergies      PRT

[176 rows x 5 columns]

In [15]:
# cambiar a minusculas los elementos de la columna "ranking"

startlist_df['ranking'] = startlist_df['ranking'].str.lower()

startlist_df

     rider_name_id          rider_name nationality       team_name ranking
0                1    vingegaard_jonas          DK    Jumbo-Visma       wt
1                2        benoot_tiesj          BE    Jumbo-Visma       wt
2                3     kelderman_wilco          NL    Jumbo-Visma       wt
3                4           kuss_sepp          US    Jumbo-Visma       wt
4                5  laporte_christophe          FR    Jumbo-Visma       wt
..             ...                 ...         ...             ...     ...
171            172          cras_steff          BE  TotalEnergies      prt
172            173     ferron_valentin          FR  TotalEnergies      prt
173            174       latour_pierre          FR  TotalEnergies      prt
174            175          oss_daniel          IT  TotalEnergies      prt
175            176      turgis_anthony          FR  TotalEnergies      prt

[176 rows x 5 columns]

In [16]:
# cambiar los elementos de la columna "team_name" a minusculas

startlist_df['team_name'] = startlist_df['team_name'].str.lower()

startlist_df

# eliminar los espaciones y los guiones de "team_name" y cambarlos por guiones bajos

startlist_df['team_name'] = startlist_df['team_name'].str.replace(' ', '_').str.replace('-', '_')

startlist_df

# eliminar los guiones bajos del final de los elementos de la columna "team_name"

startlist_df['team_name'] = startlist_df['team_name'].str.rstrip('_')

startlist_df

# cambiar los dobres guiones bajos por un solo guion bajo

startlist_df['team_name'] = startlist_df['team_name'].str.replace('__', '_')

startlist_df

# mostrar todo el dataframe

pd.set_option('display.max_rows', None)

startlist_df

,rider_name_id,rider_name,nationality,team_name,ranking
0,1,vingegaard_jonas,DK,jumbo_visma,wt
1,2,benoot_tiesj,BE,jumbo_visma,wt
2,3,kelderman_wilco,NL,jumbo_visma,wt
3,4,kuss_sepp,US,jumbo_visma,wt
4,5,laporte_christophe,FR,jumbo_visma,wt
5,6,van_aert_wout,BE,jumbo_visma,wt
6,7,van_baarle_dylan,NL,jumbo_visma,wt
7,8,van_hooydonck_nathan,BE,jumbo_visma,wt
8,9,pogačar_tadej,SI,uae_team_emirates,wt
9,10,bjerg_mikkel,DK,uae_team_emirates,wt
10,11,großschartner_felix,AT,uae_team_emirates,wt
11,12,laengen_vegard_stake,NO,uae_team_emirates,wt
12,13,majka_rafał,PL,uae_team_emirates,wt
13,14,soler_marc,ES,uae_team_emirates,wt
14,15,trentin_matteo,IT,uae_team_emirates,wt
15,16,yates_adam,GB,uae_team_emirates,wt
16,17,bernal_egan,CO,ineos_grenadiers,wt
17,18,castroviejo_jonathan,ES,ineos_grenadiers,wt
18,19,fraile_omar,ES,ineos_grenadiers,wt
19,20,kwiatkowski_michał,PL,ineos_grenadiers,wt
20,21,martínez_daniel_felipe,CO,ineos_grenadiers,wt
21,22,pidcock_thomas,GB,ineos_grenadiers,wt
22,23,rodríguez_carlos,ES,ineos_grenadiers,wt
23,24,turner_ben,GB,ineos_grenadiers,wt
24,25,gaudu_david,FR,groupama__fdj,wt
25,26,geniets_kevin,LU,groupama__fdj,wt
26,27,küng_stefan,CH,groupama__fdj,wt
27,28,le_gac_olivier,FR,groupama__fdj,wt
28,29,madouas_valentin,FR,groupama__fdj,wt
29,30,pacher_quentin,FR,groupama__fdj,wt
30,31,pinot_thibaut,FR,groupama__fdj,wt
31,32,van_den_berg_lars,NL,groupama__fdj,wt
32,33,carapaz_richard,EC,ef_education_easypost,wt
33,34,amador_andrey,CR,ef_education_easypost,wt
34,35,bettiol_alberto,IT,ef_education_easypost,wt
35,36,chaves_esteban,CO,ef_education_easypost,wt
36,37,cort_magnus,DK,ef_education_easypost,wt
37,38,powless_neilson,US,ef_education_easypost,wt
38,39,shaw_james,GB,ef_education_easypost,wt
39,40,urán_rigoberto,CO,ef_education_easypost,wt
40,41,alaphilippe_julian,FR,soudal__quick_step,wt
41,42,asgreen_kasper,DK,soudal__quick_step,wt
42,43,cavagna_rémi,FR,soudal__quick_step,wt
43,44,declercq_tim,BE,soudal__quick_step,wt
44,45,devenyns_dries,BE,soudal__quick_step,wt
45,46,jakobsen_fabio,NL,soudal__quick_step,wt
46,47,lampaert_yves,BE,soudal__quick_step,wt
47,48,mørkøv_michael,DK,soudal__quick_step,wt
48,49,landa_mikel,ES,bahrain__victorious,wt
49,50,arndt_nikias,DE,bahrain__victorious,wt
50,51,bauhaus_phil,DE,bahrain__victorious,wt
51,52,bilbao_pello,ES,bahrain__victorious,wt
52,53,haig_jack,AU,bahrain__victorious,wt
53,54,mohorič_matej,SI,bahrain__victorious,wt
54,55,poels_wout,NL,bahrain__victorious,wt
55,56,wright_fred,GB,bahrain__victorious,wt
56,57,hindley_jai,AU,bora__hansgrohe,wt
57,58,buchmann_emanuel,DE,bora__hansgrohe,wt
58,59,haller_marco,AT,bora__hansgrohe,wt
59,60,jungels_bob,LU,bora__hansgrohe,wt
60,61,konrad_patrick,AT,bora__hansgrohe,wt
61,62,meeus_jordi,BE,bora__hansgrohe,wt
62,63,politt_nils,DE,bora__hansgrohe,wt
63,64,van_poppel_danny,NL,bora__hansgrohe,wt
64,65,ciccone_giulio,IT,lidl__trek,wt
65,66,gallopin_tony,FR,lidl__trek,wt
66,67,skjelmose_mattias,DK,lidl__trek,wt
67,68,kirsch_alex,LU,lidl__trek,wt
68,69,lópez_juan_pedro,ES,lidl__trek,wt
69,70,pedersen_mads,DK,lidl__trek,wt
70,71,simmons_quinn,US,lidl__trek,wt
71,72,stuyven_jasper,BE,lidl__trek,wt
72,73,o'connor_ben,AU,ag2r_citroën_team,wt
73,74,berthet_clément,FR,ag2r_citroën_team,wt
74,75,cosnefroy_benoît,FR,ag2r_citroën_team,wt
75,76,dewulf_stan,BE,ag2r_citroën_team,wt
76,77,gall_felix,AT,ag2r_citroën_team,wt
77,78,naesen_oliver,BE,ag2r_citroën_team,wt
78,79,paret-peintre_aurélien,FR,ag2r_citroën_team,wt
79,80,peters_nans,FR,ag2r_citroën_team,wt
80,81,van_der_poel_mathieu,NL,alpecin_deceuninck,wt
81,82,dillier_silvan,CH,alpecin_deceuninck,wt
82,83,gogl_michael,AT,alpecin_deceuninck,wt
83,84,hermans_quinten,BE,alpecin_deceuninck,wt
84,85,kragh_andersen_søren,DK,alpecin_deceuninck,wt
85,86,philipsen_jasper,BE,alpecin_deceuninck,wt
86,87,rickaert_jonas,BE,alpecin_deceuninck,wt
87,88,sinkeldam_ramon,NL,alpecin_deceuninck,wt
88,89,girmay_biniam,ER,intermarché__circus__wanty,wt
89,90,calmejane_lilian,FR,intermarché__circus__wanty,wt
90,91,costa_rui,PT,intermarché__circus__wanty,wt
91,92,meintjes_louis,ZA,intermarché__circus__wanty,wt
92,93,petit_adrien,FR,intermarché__circus__wanty,wt
93,94,smith_dion,NZ,intermarché__circus__wanty,wt
94,95,teunissen_mike,NL,intermarché__circus__wanty,wt
95,96,zimmermann_georg,DE,intermarché__circus__wanty,wt
96,97,martin_guillaume,FR,cofidis,wt
97,98,coquard_bryan,FR,cofidis,wt
98,99,geschke_simon,DE,cofidis,wt
99,100,izagirre_ion,ES,cofidis,wt
100,101,lafay_victor,FR,cofidis,wt
101,102,perez_anthony,FR,cofidis,wt
102,103,renard_alexis,FR,cofidis,wt
103,104,zingle_axel,FR,cofidis,wt
104,105,mas_enric,ES,movistar_team,wt
105,106,guerreiro_ruben,PT,movistar_team,wt
106,107,aranburu_alex,ES,movistar_team,wt
107,108,izagirre_gorka,ES,movistar_team,wt
108,109,jorgenson_matteo,US,movistar_team,wt
109,110,mühlberger_gregor,AT,movistar_team,wt
110,111,oliveira_nelson,PT,movistar_team,wt
111,112,pedrero_antonio,ES,movistar_team,wt
112,113,bardet_romain,FR,team_dsm__firmenich,wt
113,114,degenkolb_john,DE,team_dsm__firmenich,wt
114,115,dinham_matthew,AU,team_dsm__firmenich,wt
115,116,edmondson_alex,AU,team_dsm__firmenich,wt
116,117,eekhoff_nils,NL,team_dsm__firmenich,wt
117,118,hamilton_chris,AU,team_dsm__firmenich,wt
118,119,vermaerke_kevin,US,team_dsm__firmenich,wt
119,120,welsford_sam,AU,team_dsm__firmenich,wt
120,121,woods_michael,CA,israel__premier_tech,prt
121,122,boivin_guillaume,CA,israel__premier_tech,prt
122,123,clarke_simon,AU,israel__premier_tech,prt
123,124,houle_hugo,CA,israel__premier_tech,prt
124,125,neilands_krists,LV,israel__premier_tech,prt
125,126,schultz_nick,AU,israel__premier_tech,prt
126,127,strong_corbin,NZ,israel__premier_tech,prt
127,128,teuns_dylan,BE,israel__premier_tech,prt
128,129,yates_simon,GB,team_jayco_alula,wt
129,130,craddock_lawson,US,team_jayco_alula,wt
130,131,durbridge_luke,AU,team_jayco_alula,wt
131,132,groenewegen_dylan,NL,team_jayco_alula,wt
132,133,harper_chris,AU,team_jayco_alula,wt
133,134,juul-jensen_christopher,DK,team_jayco_alula,wt
134,135,mezgec_luka,SI,team_jayco_alula,wt
135,136,reinders_elmar,NL,team_jayco_alula,wt
136,137,barguil_warren,FR,team_arkéa_samsic,wt
137,138,biermans_jenthe,BE,team_arkéa_samsic,wt
138,139,champoussin_clément,FR,team_arkéa_samsic,wt
139,140,delaplace_anthony,FR,team_arkéa_samsic,wt
140,141,guglielmi_simon,FR,team_arkéa_samsic,wt
141,142,louvel_matis,FR,team_arkéa_samsic,wt
142,143,mozzato_luca,IT,team_arkéa_samsic,wt
143,144,pichon_laurent,FR,team_arkéa_samsic,wt
144,145,ewan_caleb,AU,lotto_dstny,prt
145,146,campenaerts_victor,BE,lotto_dstny,prt
146,147,de_buyst_jasper,BE,lotto_dstny,prt
147,148,eenkhoorn_pascal,NL,lotto_dstny,prt
148,149,frison_frederik,BE,lotto_dstny,prt
149,150,guarnieri_jacopo,IT,lotto_dstny,prt
150,151,van_gils_maxim,BE,lotto_dstny,prt
151,152,vermeersch_florian,BE,lotto_dstny,prt
152,153,cavendish_mark,GB,astana_qazaqstan_team,wt
153,154,bol_cees,NL,astana_qazaqstan_team,wt
154,155,de_la_cruz_david,ES,astana_qazaqstan_team,wt
155,156,fedorov_yevgeniy,KZ,astana_qazaqstan_team,wt
156,157,lutsenko_alexey,KZ,astana_qazaqstan_team,wt
157,158,moscon_gianni,IT,astana_qazaqstan_team,wt
158,159,sánchez_luis_león,ES,astana_qazaqstan_team,wt
159,160,tejada_harold,CO,astana_qazaqstan_team,wt
160,161,kristoff_alexander,NO,uno_x_pro_cycling_team,prt
161,162,abrahamsen_jonas,NO,uno_x_pro_cycling_team,prt
162,163,charmig_anthon,DK,uno_x_pro_cycling_team,prt
163,164,johannessen_tobias_halland,NO,uno_x_pro_cycling_team,prt
164,165,tiller_rasmus,NO,uno_x_pro_cycling_team,prt
165,166,træen_torstein,NO,uno_x_pro_cycling_team,prt
166,167,wærenskjold_søren,NO,uno_x_pro_cycling_team,prt
167,168,gregaard_jonas,DK,uno_x_pro_cycling_team,prt
168,169,sagan_peter,SK,totalenergies,prt
169,170,boasson_hagen_edvald,NO,totalenergies,prt
170,171,burgaudeau_mathieu,FR,totalenergies,prt
171,172,cras_steff,BE,totalenergies,prt
172,173,ferron_valentin,FR,totalenergies,prt
173,174,latour_pierre,FR,totalenergies,prt
174,175,oss_daniel,IT,totalenergies,prt
175,176,turgis_anthony,FR,totalenergies,prt

In [17]:
# cambiar los elementos de la columna "nationality" a minusculas

startlist_df["nationality"] = startlist_df['nationality'].str.lower()

startlist_df

,rider_name_id,rider_name,nationality,team_name,ranking
0,1,vingegaard_jonas,dk,jumbo_visma,wt
1,2,benoot_tiesj,be,jumbo_visma,wt
2,3,kelderman_wilco,nl,jumbo_visma,wt
3,4,kuss_sepp,us,jumbo_visma,wt
4,5,laporte_christophe,fr,jumbo_visma,wt
5,6,van_aert_wout,be,jumbo_visma,wt
6,7,van_baarle_dylan,nl,jumbo_visma,wt
7,8,van_hooydonck_nathan,be,jumbo_visma,wt
8,9,pogačar_tadej,si,uae_team_emirates,wt
9,10,bjerg_mikkel,dk,uae_team_emirates,wt
10,11,großschartner_felix,at,uae_team_emirates,wt
11,12,laengen_vegard_stake,no,uae_team_emirates,wt
12,13,majka_rafał,pl,uae_team_emirates,wt
13,14,soler_marc,es,uae_team_emirates,wt
14,15,trentin_matteo,it,uae_team_emirates,wt
15,16,yates_adam,gb,uae_team_emirates,wt
16,17,bernal_egan,co,ineos_grenadiers,wt
17,18,castroviejo_jonathan,es,ineos_grenadiers,wt
18,19,fraile_omar,es,ineos_grenadiers,wt
19,20,kwiatkowski_michał,pl,ineos_grenadiers,wt
20,21,martínez_daniel_felipe,co,ineos_grenadiers,wt
21,22,pidcock_thomas,gb,ineos_grenadiers,wt
22,23,rodríguez_carlos,es,ineos_grenadiers,wt
23,24,turner_ben,gb,ineos_grenadiers,wt
24,25,gaudu_david,fr,groupama__fdj,wt
25,26,geniets_kevin,lu,groupama__fdj,wt
26,27,küng_stefan,ch,groupama__fdj,wt
27,28,le_gac_olivier,fr,groupama__fdj,wt
28,29,madouas_valentin,fr,groupama__fdj,wt
29,30,pacher_quentin,fr,groupama__fdj,wt
30,31,pinot_thibaut,fr,groupama__fdj,wt
31,32,van_den_berg_lars,nl,groupama__fdj,wt
32,33,carapaz_richard,ec,ef_education_easypost,wt
33,34,amador_andrey,cr,ef_education_easypost,wt
34,35,bettiol_alberto,it,ef_education_easypost,wt
35,36,chaves_esteban,co,ef_education_easypost,wt
36,37,cort_magnus,dk,ef_education_easypost,wt
37,38,powless_neilson,us,ef_education_easypost,wt
38,39,shaw_james,gb,ef_education_easypost,wt
39,40,urán_rigoberto,co,ef_education_easypost,wt
40,41,alaphilippe_julian,fr,soudal__quick_step,wt
41,42,asgreen_kasper,dk,soudal__quick_step,wt
42,43,cavagna_rémi,fr,soudal__quick_step,wt
43,44,declercq_tim,be,soudal__quick_step,wt
44,45,devenyns_dries,be,soudal__quick_step,wt
45,46,jakobsen_fabio,nl,soudal__quick_step,wt
46,47,lampaert_yves,be,soudal__quick_step,wt
47,48,mørkøv_michael,dk,soudal__quick_step,wt
48,49,landa_mikel,es,bahrain__victorious,wt
49,50,arndt_nikias,de,bahrain__victorious,wt
50,51,bauhaus_phil,de,bahrain__victorious,wt
51,52,bilbao_pello,es,bahrain__victorious,wt
52,53,haig_jack,au,bahrain__victorious,wt
53,54,mohorič_matej,si,bahrain__victorious,wt
54,55,poels_wout,nl,bahrain__victorious,wt
55,56,wright_fred,gb,bahrain__victorious,wt
56,57,hindley_jai,au,bora__hansgrohe,wt
57,58,buchmann_emanuel,de,bora__hansgrohe,wt
58,59,haller_marco,at,bora__hansgrohe,wt
59,60,jungels_bob,lu,bora__hansgrohe,wt
60,61,konrad_patrick,at,bora__hansgrohe,wt
61,62,meeus_jordi,be,bora__hansgrohe,wt
62,63,politt_nils,de,bora__hansgrohe,wt
63,64,van_poppel_danny,nl,bora__hansgrohe,wt
64,65,ciccone_giulio,it,lidl__trek,wt
65,66,gallopin_tony,fr,lidl__trek,wt
66,67,skjelmose_mattias,dk,lidl__trek,wt
67,68,kirsch_alex,lu,lidl__trek,wt
68,69,lópez_juan_pedro,es,lidl__trek,wt
69,70,pedersen_mads,dk,lidl__trek,wt
70,71,simmons_quinn,us,lidl__trek,wt
71,72,stuyven_jasper,be,lidl__trek,wt
72,73,o'connor_ben,au,ag2r_citroën_team,wt
73,74,berthet_clément,fr,ag2r_citroën_team,wt
74,75,cosnefroy_benoît,fr,ag2r_citroën_team,wt
75,76,dewulf_stan,be,ag2r_citroën_team,wt
76,77,gall_felix,at,ag2r_citroën_team,wt
77,78,naesen_oliver,be,ag2r_citroën_team,wt
78,79,paret-peintre_aurélien,fr,ag2r_citroën_team,wt
79,80,peters_nans,fr,ag2r_citroën_team,wt
80,81,van_der_poel_mathieu,nl,alpecin_deceuninck,wt
81,82,dillier_silvan,ch,alpecin_deceuninck,wt
82,83,gogl_michael,at,alpecin_deceuninck,wt
83,84,hermans_quinten,be,alpecin_deceuninck,wt
84,85,kragh_andersen_søren,dk,alpecin_deceuninck,wt
85,86,philipsen_jasper,be,alpecin_deceuninck,wt
86,87,rickaert_jonas,be,alpecin_deceuninck,wt
87,88,sinkeldam_ramon,nl,alpecin_deceuninck,wt
88,89,girmay_biniam,er,intermarché__circus__wanty,wt
89,90,calmejane_lilian,fr,intermarché__circus__wanty,wt
90,91,costa_rui,pt,intermarché__circus__wanty,wt
91,92,meintjes_louis,za,intermarché__circus__wanty,wt
92,93,petit_adrien,fr,intermarché__circus__wanty,wt
93,94,smith_dion,nz,intermarché__circus__wanty,wt
94,95,teunissen_mike,nl,intermarché__circus__wanty,wt
95,96,zimmermann_georg,de,intermarché__circus__wanty,wt
96,97,martin_guillaume,fr,cofidis,wt
97,98,coquard_bryan,fr,cofidis,wt
98,99,geschke_simon,de,cofidis,wt
99,100,izagirre_ion,es,cofidis,wt
100,101,lafay_victor,fr,cofidis,wt
101,102,perez_anthony,fr,cofidis,wt
102,103,renard_alexis,fr,cofidis,wt
103,104,zingle_axel,fr,cofidis,wt
104,105,mas_enric,es,movistar_team,wt
105,106,guerreiro_ruben,pt,movistar_team,wt
106,107,aranburu_alex,es,movistar_team,wt
107,108,izagirre_gorka,es,movistar_team,wt
108,109,jorgenson_matteo,us,movistar_team,wt
109,110,mühlberger_gregor,at,movistar_team,wt
110,111,oliveira_nelson,pt,movistar_team,wt
111,112,pedrero_antonio,es,movistar_team,wt
112,113,bardet_romain,fr,team_dsm__firmenich,wt
113,114,degenkolb_john,de,team_dsm__firmenich,wt
114,115,dinham_matthew,au,team_dsm__firmenich,wt
115,116,edmondson_alex,au,team_dsm__firmenich,wt
116,117,eekhoff_nils,nl,team_dsm__firmenich,wt
117,118,hamilton_chris,au,team_dsm__firmenich,wt
118,119,vermaerke_kevin,us,team_dsm__firmenich,wt
119,120,welsford_sam,au,team_dsm__firmenich,wt
120,121,woods_michael,ca,israel__premier_tech,prt
121,122,boivin_guillaume,ca,israel__premier_tech,prt
122,123,clarke_simon,au,israel__premier_tech,prt
123,124,houle_hugo,ca,israel__premier_tech,prt
124,125,neilands_krists,lv,israel__premier_tech,prt
125,126,schultz_nick,au,israel__premier_tech,prt
126,127,strong_corbin,nz,israel__premier_tech,prt
127,128,teuns_dylan,be,israel__premier_tech,prt
128,129,yates_simon,gb,team_jayco_alula,wt
129,130,craddock_lawson,us,team_jayco_alula,wt
130,131,durbridge_luke,au,team_jayco_alula,wt
131,132,groenewegen_dylan,nl,team_jayco_alula,wt
132,133,harper_chris,au,team_jayco_alula,wt
133,134,juul-jensen_christopher,dk,team_jayco_alula,wt
134,135,mezgec_luka,si,team_jayco_alula,wt
135,136,reinders_elmar,nl,team_jayco_alula,wt
136,137,barguil_warren,fr,team_arkéa_samsic,wt
137,138,biermans_jenthe,be,team_arkéa_samsic,wt
138,139,champoussin_clément,fr,team_arkéa_samsic,wt
139,140,delaplace_anthony,fr,team_arkéa_samsic,wt
140,141,guglielmi_simon,fr,team_arkéa_samsic,wt
141,142,louvel_matis,fr,team_arkéa_samsic,wt
142,143,mozzato_luca,it,team_arkéa_samsic,wt
143,144,pichon_laurent,fr,team_arkéa_samsic,wt
144,145,ewan_caleb,au,lotto_dstny,prt
145,146,campenaerts_victor,be,lotto_dstny,prt
146,147,de_buyst_jasper,be,lotto_dstny,prt
147,148,eenkhoorn_pascal,nl,lotto_dstny,prt
148,149,frison_frederik,be,lotto_dstny,prt
149,150,guarnieri_jacopo,it,lotto_dstny,prt
150,151,van_gils_maxim,be,lotto_dstny,prt
151,152,vermeersch_florian,be,lotto_dstny,prt
152,153,cavendish_mark,gb,astana_qazaqstan_team,wt
153,154,bol_cees,nl,astana_qazaqstan_team,wt
154,155,de_la_cruz_david,es,astana_qazaqstan_team,wt
155,156,fedorov_yevgeniy,kz,astana_qazaqstan_team,wt
156,157,lutsenko_alexey,kz,astana_qazaqstan_team,wt
157,158,moscon_gianni,it,astana_qazaqstan_team,wt
158,159,sánchez_luis_león,es,astana_qazaqstan_team,wt
159,160,tejada_harold,co,astana_qazaqstan_team,wt
160,161,kristoff_alexander,no,uno_x_pro_cycling_team,prt
161,162,abrahamsen_jonas,no,uno_x_pro_cycling_team,prt
162,163,charmig_anthon,dk,uno_x_pro_cycling_team,prt
163,164,johannessen_tobias_halland,no,uno_x_pro_cycling_team,prt
164,165,tiller_rasmus,no,uno_x_pro_cycling_team,prt
165,166,træen_torstein,no,uno_x_pro_cycling_team,prt
166,167,wærenskjold_søren,no,uno_x_pro_cycling_team,prt
167,168,gregaard_jonas,dk,uno_x_pro_cycling_team,prt
168,169,sagan_peter,sk,totalenergies,prt
169,170,boasson_hagen_edvald,no,totalenergies,prt
170,171,burgaudeau_mathieu,fr,totalenergies,prt
171,172,cras_steff,be,totalenergies,prt
172,173,ferron_valentin,fr,totalenergies,prt
173,174,latour_pierre,fr,totalenergies,prt
174,175,oss_daniel,it,totalenergies,prt
175,176,turgis_anthony,fr,totalenergies,prt

In [157]:
# Exportar a csv los datos de tour de france

startlist_df.to_csv('startlist.csv', index=False)

Para la extración de los puertos de las 21 etapas crearemos una función que vaya iterando por la url. Retornará las cimas con su correspondiente ID de cada etapa

In [5]:
def getStages(maxEtapa):
    stage_climbs=[]
    for stages in range(1,maxEtapa+1):    
        stage = Stage("race/tour-de-france/2023/stage-{}".format(stages))
        climbs = stage.climbs()
        for x in climbs:
            x["stage_id"] = stages
        stage_climbs.append(climbs)

    # Convertir la lista anidada en una lista plana de diccionarios
    flat_data = [item for sublist in stage_climbs for item in sublist]

    # Crear un DataFrame a partir de la lista de diccionarios
    stages = pd.DataFrame(flat_data)

    # Mostrar el DataFrame
    return stages

maxEtapa = 21
stages = getStages(maxEtapa)
stages

# Exportar a csv los datos de los puertos de montaña de tour de france

stages.to_csv('climbs_clean.csv', index=False)

In [8]:
# importar el csv de climbs_clean.csv y climbs.csv

climbs_clean = pd.read_csv("climbs_clean.csv")

climbs_clean

climbs = pd.read_csv("C:/Users/luiso/IRONHACK/w4-project_ETL/climbs.csv")

climbs

,climb_name,climb_url,length,steepness,top,km_before_finnish
0,Col de la Loze,location/col-de-la-loze,28.3,6.0,2300,7
1,Cormet de Roselend,location/cormet-de-roselend,19.8,6.1,1971,99
2,Grand Colombier,location/col-du-grand-colombier,17.8,7.0,1494,0
3,Col du Tourmalet,location/col-du-tourmalet,17.0,7.4,2112,47
4,Cauterets-Cambrasque,location/cauterets-cambasque,16.2,5.3,1353,0
...,...,...,...,...,...,...
65,Côte de Chambéry-le-Haut,location/cote-de-chambery-le-haut,1.6,4.3,345,123
66,Côte de Masmont,location/cote-de-masmont,1.3,5.3,345,16
67,Côte du Pavé des Gardes,location/cote-du-pave-des-gardes,1.3,5.9,172,72
68,Côte de Condat-sur-Vienne,location/cote-de-condat-sur-vienne,1.2,5.3,282,10
69,Côte de Béguey,location/cote-de-beguey,1.2,4.3,80,39

Para fortalecer la tabla, haremos un merge del csv "climbs", que contiene todas las cimas ordenadas por sus características, al csv "climbs_clean. El resultado será un dataframe mucho más completo, y que limpiaremos para hacerlo más homogéneo

In [9]:
# hacer un merge de stage1_df con climb_df para tener un dataframe con los datos de stage1 y climb

stages_climbs_df = pd.merge(climbs_clean, climbs, on='climb_name')

stages_climbs_df

,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,Côte de Laukiz,location/cote-de-laukiz,1,location/cote-de-laukiz,2.1,6.8,220,168
1,Côte de San Juan de Gaztelugatxe,location/alto-de-san-juan-de-gaztelugatxe,1,location/alto-de-san-juan-de-gaztelugatxe,3.6,7.9,297,114
2,Col de Morga,location/alto-de-morga,1,location/alto-de-morga,3.8,4.9,324,41
3,Côte de Vivero,location/alto-el-vivero,1,location/alto-el-vivero,4.3,7.0,355,27
4,Côte de Pike,location/alto-pike,1,location/alto-pike,2.0,9.8,210,10
...,...,...,...,...,...,...,...,...
65,Col de Grosse Pierre,location/col-de-grosse-pierre,20,location/col-de-grosse-pierre,3.2,7.9,937,69
66,Col de la Schlucht,location/col-de-la-schlucht,20,location/col-de-la-schlucht,4.2,5.0,1136,54
67,Petit Ballon,location/petit-ballon,20,location/petit-ballon,9.3,8.1,1157,25
68,Col du Platzerwasel,location/col-du-platzerwasel,20,location/col-du-platzerwasel,7.1,8.3,1179,8
69,Côte du Pavé des Gardes,location/cote-du-pave-des-gardes,21,location/cote-du-pave-des-gardes,1.3,5.9,172,72

In [10]:
# crear una columna de climb_id al principio del dataframe

stages_climbs_df.insert(0, 'climb_id', range(1, 1 + len(stages_climbs_df)))

stages_climbs_df

,climb_id,climb_name,climb_url_x,stage_id,climb_url_y,length,steepness,top,km_before_finnish
0,1,Côte de Laukiz,location/cote-de-laukiz,1,location/cote-de-laukiz,2.1,6.8,220,168
1,2,Côte de San Juan de Gaztelugatxe,location/alto-de-san-juan-de-gaztelugatxe,1,location/alto-de-san-juan-de-gaztelugatxe,3.6,7.9,297,114
2,3,Col de Morga,location/alto-de-morga,1,location/alto-de-morga,3.8,4.9,324,41
3,4,Côte de Vivero,location/alto-el-vivero,1,location/alto-el-vivero,4.3,7.0,355,27
4,5,Côte de Pike,location/alto-pike,1,location/alto-pike,2.0,9.8,210,10
...,...,...,...,...,...,...,...,...,...
65,66,Col de Grosse Pierre,location/col-de-grosse-pierre,20,location/col-de-grosse-pierre,3.2,7.9,937,69
66,67,Col de la Schlucht,location/col-de-la-schlucht,20,location/col-de-la-schlucht,4.2,5.0,1136,54
67,68,Petit Ballon,location/petit-ballon,20,location/petit-ballon,9.3,8.1,1157,25
68,69,Col du Platzerwasel,location/col-du-platzerwasel,20,location/col-du-platzerwasel,7.1,8.3,1179,8
69,70,Côte du Pavé des Gardes,location/cote-du-pave-des-gardes,21,location/cote-du-pave-des-gardes,1.3,5.9,172,72

In [11]:
# Eliminar las columnas "climb_url_x" y "climb_url_y"

stages_climbs_df = stages_climbs_df.drop(["climb_url_x","climb_url_y"], axis=1)

stages_climbs_df

,climb_id,climb_name,stage_id,length,steepness,top,km_before_finnish
0,1,Côte de Laukiz,1,2.1,6.8,220,168
1,2,Côte de San Juan de Gaztelugatxe,1,3.6,7.9,297,114
2,3,Col de Morga,1,3.8,4.9,324,41
3,4,Côte de Vivero,1,4.3,7.0,355,27
4,5,Côte de Pike,1,2.0,9.8,210,10
...,...,...,...,...,...,...,...
65,66,Col de Grosse Pierre,20,3.2,7.9,937,69
66,67,Col de la Schlucht,20,4.2,5.0,1136,54
67,68,Petit Ballon,20,9.3,8.1,1157,25
68,69,Col du Platzerwasel,20,7.1,8.3,1179,8
69,70,Côte du Pavé des Gardes,21,1.3,5.9,172,72

In [12]:
# cambiar los elementos de la columna a minusculas y cambiar los espacios por guiones bajos

stages_climbs_df['climb_name'] = stages_climbs_df['climb_name'].str.lower().str.replace(' ', '_')

stages_climbs_df

,climb_id,climb_name,stage_id,length,steepness,top,km_before_finnish
0,1,côte_de_laukiz,1,2.1,6.8,220,168
1,2,côte_de_san_juan_de_gaztelugatxe,1,3.6,7.9,297,114
2,3,col_de_morga,1,3.8,4.9,324,41
3,4,côte_de_vivero,1,4.3,7.0,355,27
4,5,côte_de_pike,1,2.0,9.8,210,10
...,...,...,...,...,...,...,...
65,66,col_de_grosse_pierre,20,3.2,7.9,937,69
66,67,col_de_la_schlucht_,20,4.2,5.0,1136,54
67,68,petit_ballon,20,9.3,8.1,1157,25
68,69,col_du_platzerwasel,20,7.1,8.3,1179,8
69,70,côte_du_pavé_des_gardes,21,1.3,5.9,172,72

In [13]:
# exportar a csv los datos de stages_climbs_df

stages_climbs_df.to_csv('stages_climbs_clean.csv', index=False)

Limpiamos el datframe recibido del proceso de web scrapping

In [23]:
#abrir el csv de stages

stages_df_clean = pd.read_csv('stages_clean.csv')

stages_df_clean

,Unnamed: 0,stage,length,winner,leader,stage_id
0,0,Bilbao - Bilbao,182.0,"Yates, Adam (UAD)","Yates, Adam (UAD)",1
1,1,Vitoria-Gasteiz - Donostia,208.9,"Lafay, Victor (COF)","Yates, Adam (UAD)",2
2,2,Amorebieta - Bayonne,193.5,"Philipsen, Jasper (ADC)","Yates, Adam (UAD)",3
3,3,Dax - Nogaro,181.8,"Philipsen, Jasper (ADC)","Yates, Adam (UAD)",4
4,4,Pau - Laruns,162.7,"Hindley, Jai (BOH)","Hindley, Jai (BOH)",5
5,5,Tarbes - Cauterets,144.9,"Pogačar, Tadej (UAD)","Vingegaard, Jonas (TJV)",6
6,6,Mont-de-Marsan - Bordeaux,169.9,"Philipsen, Jasper (ADC)","Vingegaard, Jonas (TJV)",7
7,7,Libourne - Limoges,200.7,"Pedersen, Mads (LTK)","Vingegaard, Jonas (TJV)",8
8,8,Saint-Léonard-de-Noblat - Puy de..,182.4,"Woods, Michael (IPT)","Vingegaard, Jonas (TJV)",9
9,9,Vulcania - Issoire,167.2,"Bilbao, Pello (TBV)","Vingegaard, Jonas (TJV)",10
10,10,Clermont-Ferrand - Moulins,179.8,"Philipsen, Jasper (ADC)","Vingegaard, Jonas (TJV)",11
11,11,Roanne - Belleville-en-Beaujolais,168.8,"Izagirre, Ion (COF)","Vingegaard, Jonas (TJV)",12
12,12,Châtillon-sur-Chalaronne - Grand..,137.8,"Kwiatkowski, Mi.. (IGD)","Vingegaard, Jonas (TJV)",13
13,13,Annemasse - Morzine,151.8,"Rodríguez, Carl.. (IGD)","Vingegaard, Jonas (TJV)",14
14,14,Les Gets - Saint-Gervais-Mont-Bl..,179.0,"Poels, Wout (TBV)","Vingegaard, Jonas (TJV)",15
15,15,Passy - Combloux,22.4,"Vingegaard, Jonas (TJV)","Vingegaard, Jonas (TJV)",16
16,16,Saint-Gervais-Mont-Blanc - Courc..,165.7,"Gall, Felix (ACT)","Vingegaard, Jonas (TJV)",17
17,17,Moûtiers - Bourg-en-Bresse,184.9,"Asgreen, Kasper (SOQ)","Vingegaard, Jonas (TJV)",18
18,18,Moirans-en-Montagne - Poligny,172.8,"Mohorič, Matej (TBV)","Vingegaard, Jonas (TJV)",19
19,19,Belfort - Le Markstein,133.5,"Pogačar, Tadej (UAD)","Vingegaard, Jonas (TJV)",20
20,20,Saint-Quentin-en-Yvelines - Paris,115.1,"Meeus, Jordi (BOH)","Vingegaard, Jonas (TJV)",21

In [24]:
# eliminar la el contenido entre parentesis de la columna winner y leader

stages_df_clean['winner'] = stages_df_clean['winner'].str.split("(").str[0]

stages_df_clean['leader'] = stages_df_clean['leader'].str.split("(").str[0]

stages_df_clean

,Unnamed: 0,stage,length,winner,leader,stage_id
0,0,Bilbao - Bilbao,182.0,"Yates, Adam","Yates, Adam",1
1,1,Vitoria-Gasteiz - Donostia,208.9,"Lafay, Victor","Yates, Adam",2
2,2,Amorebieta - Bayonne,193.5,"Philipsen, Jasper","Yates, Adam",3
3,3,Dax - Nogaro,181.8,"Philipsen, Jasper","Yates, Adam",4
4,4,Pau - Laruns,162.7,"Hindley, Jai","Hindley, Jai",5
5,5,Tarbes - Cauterets,144.9,"Pogačar, Tadej","Vingegaard, Jonas",6
6,6,Mont-de-Marsan - Bordeaux,169.9,"Philipsen, Jasper","Vingegaard, Jonas",7
7,7,Libourne - Limoges,200.7,"Pedersen, Mads","Vingegaard, Jonas",8
8,8,Saint-Léonard-de-Noblat - Puy de..,182.4,"Woods, Michael","Vingegaard, Jonas",9
9,9,Vulcania - Issoire,167.2,"Bilbao, Pello","Vingegaard, Jonas",10
10,10,Clermont-Ferrand - Moulins,179.8,"Philipsen, Jasper","Vingegaard, Jonas",11
11,11,Roanne - Belleville-en-Beaujolais,168.8,"Izagirre, Ion","Vingegaard, Jonas",12
12,12,Châtillon-sur-Chalaronne - Grand..,137.8,"Kwiatkowski, Mi..","Vingegaard, Jonas",13
13,13,Annemasse - Morzine,151.8,"Rodríguez, Carl..","Vingegaard, Jonas",14
14,14,Les Gets - Saint-Gervais-Mont-Bl..,179.0,"Poels, Wout","Vingegaard, Jonas",15
15,15,Passy - Combloux,22.4,"Vingegaard, Jonas","Vingegaard, Jonas",16
16,16,Saint-Gervais-Mont-Blanc - Courc..,165.7,"Gall, Felix","Vingegaard, Jonas",17
17,17,Moûtiers - Bourg-en-Bresse,184.9,"Asgreen, Kasper","Vingegaard, Jonas",18
18,18,Moirans-en-Montagne - Poligny,172.8,"Mohorič, Matej","Vingegaard, Jonas",19
19,19,Belfort - Le Markstein,133.5,"Pogačar, Tadej","Vingegaard, Jonas",20
20,20,Saint-Quentin-en-Yvelines - Paris,115.1,"Meeus, Jordi","Vingegaard, Jonas",21

In [25]:
# eliminar la columna "unnamed:0"

stages_df_clean2 = stages_df_clean.drop(["Unnamed: 0"], axis=1)

stages_df_clean2

,stage,length,winner,leader,stage_id
0,Bilbao - Bilbao,182.0,"Yates, Adam","Yates, Adam",1
1,Vitoria-Gasteiz - Donostia,208.9,"Lafay, Victor","Yates, Adam",2
2,Amorebieta - Bayonne,193.5,"Philipsen, Jasper","Yates, Adam",3
3,Dax - Nogaro,181.8,"Philipsen, Jasper","Yates, Adam",4
4,Pau - Laruns,162.7,"Hindley, Jai","Hindley, Jai",5
5,Tarbes - Cauterets,144.9,"Pogačar, Tadej","Vingegaard, Jonas",6
6,Mont-de-Marsan - Bordeaux,169.9,"Philipsen, Jasper","Vingegaard, Jonas",7
7,Libourne - Limoges,200.7,"Pedersen, Mads","Vingegaard, Jonas",8
8,Saint-Léonard-de-Noblat - Puy de..,182.4,"Woods, Michael","Vingegaard, Jonas",9
9,Vulcania - Issoire,167.2,"Bilbao, Pello","Vingegaard, Jonas",10
10,Clermont-Ferrand - Moulins,179.8,"Philipsen, Jasper","Vingegaard, Jonas",11
11,Roanne - Belleville-en-Beaujolais,168.8,"Izagirre, Ion","Vingegaard, Jonas",12
12,Châtillon-sur-Chalaronne - Grand..,137.8,"Kwiatkowski, Mi..","Vingegaard, Jonas",13
13,Annemasse - Morzine,151.8,"Rodríguez, Carl..","Vingegaard, Jonas",14
14,Les Gets - Saint-Gervais-Mont-Bl..,179.0,"Poels, Wout","Vingegaard, Jonas",15
15,Passy - Combloux,22.4,"Vingegaard, Jonas","Vingegaard, Jonas",16
16,Saint-Gervais-Mont-Blanc - Courc..,165.7,"Gall, Felix","Vingegaard, Jonas",17
17,Moûtiers - Bourg-en-Bresse,184.9,"Asgreen, Kasper","Vingegaard, Jonas",18
18,Moirans-en-Montagne - Poligny,172.8,"Mohorič, Matej","Vingegaard, Jonas",19
19,Belfort - Le Markstein,133.5,"Pogačar, Tadej","Vingegaard, Jonas",20
20,Saint-Quentin-en-Yvelines - Paris,115.1,"Meeus, Jordi","Vingegaard, Jonas",21

In [27]:
# cambiar a minusculas los elementos de la columna "stages"

stages_df_clean2['stage'] = stages_df_clean2['stage'].str.lower()

stages_df_clean2

,stage,length,winner,leader,stage_id
0,bilbao - bilbao,182.0,"Yates, Adam","Yates, Adam",1
1,vitoria-gasteiz - donostia,208.9,"Lafay, Victor","Yates, Adam",2
2,amorebieta - bayonne,193.5,"Philipsen, Jasper","Yates, Adam",3
3,dax - nogaro,181.8,"Philipsen, Jasper","Yates, Adam",4
4,pau - laruns,162.7,"Hindley, Jai","Hindley, Jai",5
5,tarbes - cauterets,144.9,"Pogačar, Tadej","Vingegaard, Jonas",6
6,mont-de-marsan - bordeaux,169.9,"Philipsen, Jasper","Vingegaard, Jonas",7
7,libourne - limoges,200.7,"Pedersen, Mads","Vingegaard, Jonas",8
8,saint-léonard-de-noblat - puy de..,182.4,"Woods, Michael","Vingegaard, Jonas",9
9,vulcania - issoire,167.2,"Bilbao, Pello","Vingegaard, Jonas",10
10,clermont-ferrand - moulins,179.8,"Philipsen, Jasper","Vingegaard, Jonas",11
11,roanne - belleville-en-beaujolais,168.8,"Izagirre, Ion","Vingegaard, Jonas",12
12,châtillon-sur-chalaronne - grand..,137.8,"Kwiatkowski, Mi..","Vingegaard, Jonas",13
13,annemasse - morzine,151.8,"Rodríguez, Carl..","Vingegaard, Jonas",14
14,les gets - saint-gervais-mont-bl..,179.0,"Poels, Wout","Vingegaard, Jonas",15
15,passy - combloux,22.4,"Vingegaard, Jonas","Vingegaard, Jonas",16
16,saint-gervais-mont-blanc - courc..,165.7,"Gall, Felix","Vingegaard, Jonas",17
17,moûtiers - bourg-en-bresse,184.9,"Asgreen, Kasper","Vingegaard, Jonas",18
18,moirans-en-montagne - poligny,172.8,"Mohorič, Matej","Vingegaard, Jonas",19
19,belfort - le markstein,133.5,"Pogačar, Tadej","Vingegaard, Jonas",20
20,saint-quentin-en-yvelines - paris,115.1,"Meeus, Jordi","Vingegaard, Jonas",21

In [28]:
# cambiar los elementos de la columna "winner" a minusculas y cambiar las comas por guiones bajos

stages_df_clean2['winner'] = stages_df_clean2['winner'].str.lower().str.replace(',', '_')

stages_df_clean2

,stage,length,winner,leader,stage_id
0,bilbao - bilbao,182.0,yates_ adam,"Yates, Adam",1
1,vitoria-gasteiz - donostia,208.9,lafay_ victor,"Yates, Adam",2
2,amorebieta - bayonne,193.5,philipsen_ jasper,"Yates, Adam",3
3,dax - nogaro,181.8,philipsen_ jasper,"Yates, Adam",4
4,pau - laruns,162.7,hindley_ jai,"Hindley, Jai",5
5,tarbes - cauterets,144.9,pogačar_ tadej,"Vingegaard, Jonas",6
6,mont-de-marsan - bordeaux,169.9,philipsen_ jasper,"Vingegaard, Jonas",7
7,libourne - limoges,200.7,pedersen_ mads,"Vingegaard, Jonas",8
8,saint-léonard-de-noblat - puy de..,182.4,woods_ michael,"Vingegaard, Jonas",9
9,vulcania - issoire,167.2,bilbao_ pello,"Vingegaard, Jonas",10
10,clermont-ferrand - moulins,179.8,philipsen_ jasper,"Vingegaard, Jonas",11
11,roanne - belleville-en-beaujolais,168.8,izagirre_ ion,"Vingegaard, Jonas",12
12,châtillon-sur-chalaronne - grand..,137.8,kwiatkowski_ mi..,"Vingegaard, Jonas",13
13,annemasse - morzine,151.8,rodríguez_ carl..,"Vingegaard, Jonas",14
14,les gets - saint-gervais-mont-bl..,179.0,poels_ wout,"Vingegaard, Jonas",15
15,passy - combloux,22.4,vingegaard_ jonas,"Vingegaard, Jonas",16
16,saint-gervais-mont-blanc - courc..,165.7,gall_ felix,"Vingegaard, Jonas",17
17,moûtiers - bourg-en-bresse,184.9,asgreen_ kasper,"Vingegaard, Jonas",18
18,moirans-en-montagne - poligny,172.8,mohorič_ matej,"Vingegaard, Jonas",19
19,belfort - le markstein,133.5,pogačar_ tadej,"Vingegaard, Jonas",20
20,saint-quentin-en-yvelines - paris,115.1,meeus_ jordi,"Vingegaard, Jonas",21

In [29]:
# cambiar los elementos de la columna "leader" a minusculas y cambiar las comas por guiones bajos

stages_df_clean2['leader'] = stages_df_clean2['leader'].str.lower().str.replace(',', '_')

stages_df_clean2

,stage,length,winner,leader,stage_id
0,bilbao - bilbao,182.0,yates_ adam,yates_ adam,1
1,vitoria-gasteiz - donostia,208.9,lafay_ victor,yates_ adam,2
2,amorebieta - bayonne,193.5,philipsen_ jasper,yates_ adam,3
3,dax - nogaro,181.8,philipsen_ jasper,yates_ adam,4
4,pau - laruns,162.7,hindley_ jai,hindley_ jai,5
5,tarbes - cauterets,144.9,pogačar_ tadej,vingegaard_ jonas,6
6,mont-de-marsan - bordeaux,169.9,philipsen_ jasper,vingegaard_ jonas,7
7,libourne - limoges,200.7,pedersen_ mads,vingegaard_ jonas,8
8,saint-léonard-de-noblat - puy de..,182.4,woods_ michael,vingegaard_ jonas,9
9,vulcania - issoire,167.2,bilbao_ pello,vingegaard_ jonas,10
10,clermont-ferrand - moulins,179.8,philipsen_ jasper,vingegaard_ jonas,11
11,roanne - belleville-en-beaujolais,168.8,izagirre_ ion,vingegaard_ jonas,12
12,châtillon-sur-chalaronne - grand..,137.8,kwiatkowski_ mi..,vingegaard_ jonas,13
13,annemasse - morzine,151.8,rodríguez_ carl..,vingegaard_ jonas,14
14,les gets - saint-gervais-mont-bl..,179.0,poels_ wout,vingegaard_ jonas,15
15,passy - combloux,22.4,vingegaard_ jonas,vingegaard_ jonas,16
16,saint-gervais-mont-blanc - courc..,165.7,gall_ felix,vingegaard_ jonas,17
17,moûtiers - bourg-en-bresse,184.9,asgreen_ kasper,vingegaard_ jonas,18
18,moirans-en-montagne - poligny,172.8,mohorič_ matej,vingegaard_ jonas,19
19,belfort - le markstein,133.5,pogačar_ tadej,vingegaard_ jonas,20
20,saint-quentin-en-yvelines - paris,115.1,meeus_ jordi,vingegaard_ jonas,21

In [30]:
# mover la columna "stage_id" al principio del dataframe

stages_df_clean2 = stages_df_clean2[["stage_id","stage","length","winner","leader"]]

stages_df_clean2

,stage_id,stage,length,winner,leader
0,1,bilbao - bilbao,182.0,yates_ adam,yates_ adam
1,2,vitoria-gasteiz - donostia,208.9,lafay_ victor,yates_ adam
2,3,amorebieta - bayonne,193.5,philipsen_ jasper,yates_ adam
3,4,dax - nogaro,181.8,philipsen_ jasper,yates_ adam
4,5,pau - laruns,162.7,hindley_ jai,hindley_ jai
5,6,tarbes - cauterets,144.9,pogačar_ tadej,vingegaard_ jonas
6,7,mont-de-marsan - bordeaux,169.9,philipsen_ jasper,vingegaard_ jonas
7,8,libourne - limoges,200.7,pedersen_ mads,vingegaard_ jonas
8,9,saint-léonard-de-noblat - puy de..,182.4,woods_ michael,vingegaard_ jonas
9,10,vulcania - issoire,167.2,bilbao_ pello,vingegaard_ jonas
10,11,clermont-ferrand - moulins,179.8,philipsen_ jasper,vingegaard_ jonas
11,12,roanne - belleville-en-beaujolais,168.8,izagirre_ ion,vingegaard_ jonas
12,13,châtillon-sur-chalaronne - grand..,137.8,kwiatkowski_ mi..,vingegaard_ jonas
13,14,annemasse - morzine,151.8,rodríguez_ carl..,vingegaard_ jonas
14,15,les gets - saint-gervais-mont-bl..,179.0,poels_ wout,vingegaard_ jonas
15,16,passy - combloux,22.4,vingegaard_ jonas,vingegaard_ jonas
16,17,saint-gervais-mont-blanc - courc..,165.7,gall_ felix,vingegaard_ jonas
17,18,moûtiers - bourg-en-bresse,184.9,asgreen_ kasper,vingegaard_ jonas
18,19,moirans-en-montagne - poligny,172.8,mohorič_ matej,vingegaard_ jonas
19,20,belfort - le markstein,133.5,pogačar_ tadej,vingegaard_ jonas
20,21,saint-quentin-en-yvelines - paris,115.1,meeus_ jordi,vingegaard_ jonas

In [31]:
# exportar a csv los datos de stages_df_clean2

stages_df_clean2.to_csv('stages_clean.csv', index=False)

In [304]:
# importar el csv de withdrawals

withdrawals_df = pd.read_csv('withdrawals.csv')

withdrawals_df

,Unnamed: 0,withdrawal_id,stage_id,rider_name,team_name
0,0,1,1,mas_enric,movistar_team
1,1,2,2,carapaz_richard,ef_education_easypost
2,2,3,3,no_withdrawal,no_withdrawal
3,3,4,4,no_withdrawal,no_withdrawal
4,4,5,5,guarnieri_jacopo,lotto_dstny
5,5,6,5,sanchez_luis_leon,astana_qazaqstan_team
6,6,7,6,no_withdrawal,no_withdrawal
7,7,8,7,no_withdrawal,no_withdrawal
8,8,9,8,cavendish_mark,astana_qazaqstan_team
9,9,10,8,cras_steff,totalenergies
10,10,11,9,simmons_quinn,lidl_trek
11,11,12,10,no_withdrawal,no_withdrawal
12,12,13,11,no_withdrawal,no_withdrawal
13,13,14,12,jakobsen_fabio,soudal_quick_step
14,14,15,13,de_la_cruz_david,astana_qazaqstan_team
15,15,16,13,turner_ben,ineos_grenadiers
16,16,17,13,ewan_caleb,lotto_dstny
17,17,18,14,chaves_esteban,ef_education_easypost
18,18,19,14,shaw_james,ef_education_easypost
19,19,20,14,sinkeldam_ramon,alpecin-deceuninck
20,20,21,14,meintjes_louis,intermarché_circus_wanty
21,21,22,14,guerreiro_ruben,movistar_team
22,22,23,14,pedrero_antonio,movistar_team
23,23,24,14,bardet_romain,team_dsm_firmenich
24,24,25,15,martínez_daniel_felipe,ineos_grenadiers
25,25,26,16,jorgenson_matteo,movistar_team
26,26,27,17,bauhaus_phil,bahrain_victorious
27,27,28,17,renard_alexis,cofidis
28,28,29,18,van_aert_wout,jumbo_visma
29,29,30,18,geschke_simon,cofidis
30,30,31,18,perez_anthony,cofidis
31,31,32,19,no_withdrawal,no_withdrawal
32,32,33,20,lafay_victor,cofidis
33,33,34,21,no_withdrawal,no_withdrawal

In [305]:
withdrawals_df = withdrawals_df.drop(["Unnamed: 0"], axis=1)

withdrawals_df

    withdrawal_id  stage_id              rider_name                 team_name
0               1         1               mas_enric             movistar_team
1               2         2         carapaz_richard     ef_education_easypost
2               3         3           no_withdrawal             no_withdrawal
3               4         4           no_withdrawal             no_withdrawal
4               5         5        guarnieri_jacopo               lotto_dstny
5               6         5       sanchez_luis_leon     astana_qazaqstan_team
6               7         6           no_withdrawal             no_withdrawal
7               8         7           no_withdrawal             no_withdrawal
8               9         8          cavendish_mark     astana_qazaqstan_team
9              10         8              cras_steff             totalenergies
10             11         9           simmons_quinn                 lidl_trek
11             12        10           no_withdrawal             no_withdrawal
12             13        11           no_withdrawal             no_withdrawal
13             14        12          jakobsen_fabio         soudal_quick_step
14             15        13        de_la_cruz_david     astana_qazaqstan_team
15             16        13              turner_ben          ineos_grenadiers
16             17        13              ewan_caleb               lotto_dstny
17             18        14          chaves_esteban     ef_education_easypost
18             19        14              shaw_james     ef_education_easypost
19             20        14         sinkeldam_ramon        alpecin-deceuninck
20             21        14          meintjes_louis  intermarché_circus_wanty
21             22        14         guerreiro_ruben             movistar_team
22             23        14         pedrero_antonio             movistar_team
23             24        14           bardet_romain        team_dsm_firmenich
24             25        15  martínez_daniel_felipe          ineos_grenadiers
25             26        16        jorgenson_matteo             movistar_team
26             27        17            bauhaus_phil        bahrain_victorious
27             28        17           renard_alexis                   cofidis
28             29        18           van_aert_wout               jumbo_visma
29             30        18           geschke_simon                   cofidis
30             31        18           perez_anthony                   cofidis
31             32        19           no_withdrawal             no_withdrawal
32             33        20            lafay_victor                   cofidis
33             34        21           no_withdrawal             no_withdrawal

In [316]:
# exportar a csv los datos de withdrawals_df

withdrawals_df.to_csv('withdrawals.csv', index=False)

In [311]:
# hacer un merge de la columna "rider_name_id" de startlist_df con la columna "rider_name" de withdrawals_df

withdrawals_df2 = pd.merge(withdrawals_df, startlist_df, on='rider_name')

withdrawals_df2

,withdrawal_id,stage_id,rider_name,team_name_x,rider_name_id,nationality,team_name_y,ranking
0,1,1,mas_enric,movistar_team,105,es,movistar_team,wt
1,2,2,carapaz_richard,ef_education_easypost,33,ec,ef_education_easypost,wt
2,5,5,guarnieri_jacopo,lotto_dstny,150,it,lotto_dstny,prt
3,9,8,cavendish_mark,astana_qazaqstan_team,153,gb,astana_qazaqstan_team,wt
4,10,8,cras_steff,totalenergies,172,be,totalenergies,prt
5,11,9,simmons_quinn,lidl_trek,71,us,lidl_trek,wt
6,14,12,jakobsen_fabio,soudal_quick_step,46,nl,soudal_quick_step,wt
7,15,13,de_la_cruz_david,astana_qazaqstan_team,155,es,astana_qazaqstan_team,wt
8,16,13,turner_ben,ineos_grenadiers,24,gb,ineos_grenadiers,wt
9,17,13,ewan_caleb,lotto_dstny,145,au,lotto_dstny,prt
10,18,14,chaves_esteban,ef_education_easypost,36,co,ef_education_easypost,wt
11,19,14,shaw_james,ef_education_easypost,39,gb,ef_education_easypost,wt
12,20,14,sinkeldam_ramon,alpecin-deceuninck,88,nl,alpecin_deceuninck,wt
13,21,14,meintjes_louis,intermarché_circus_wanty,92,za,intermarché_circus_wanty,wt
14,22,14,guerreiro_ruben,movistar_team,106,pt,movistar_team,wt
15,23,14,pedrero_antonio,movistar_team,112,es,movistar_team,wt
16,24,14,bardet_romain,team_dsm_firmenich,113,fr,team_dsm_firmenich,wt
17,25,15,martínez_daniel_felipe,ineos_grenadiers,21,co,ineos_grenadiers,wt
18,26,16,jorgenson_matteo,movistar_team,109,us,movistar_team,wt
19,27,17,bauhaus_phil,bahrain_victorious,51,de,bahrain_victorious,wt
20,28,17,renard_alexis,cofidis,103,fr,cofidis,wt
21,29,18,van_aert_wout,jumbo_visma,6,be,jumbo_visma,wt
22,30,18,geschke_simon,cofidis,99,de,cofidis,wt
23,31,18,perez_anthony,cofidis,102,fr,cofidis,wt
24,33,20,lafay_victor,cofidis,101,fr,cofidis,wt

In [317]:
# exportar a csv los datos de withdrawals_df2

withdrawals_df2.to_csv('withdrawals2.csv', index=False)

In [322]:
# importar el csv de withdrawals2

withdrawals_df2 = pd.read_csv('withdrawals2.csv')

withdrawals_df2

# cambiar el nombre de la columna "team_name_y" a "team_name"

withdrawals_df2 = withdrawals_df2.rename(columns={'team_name_y': 'team_name'})

withdrawals_df2

# exportar a csv los datos de withdrawals_df2

withdrawals_df2.to_csv('withdrawals_clean.csv', index=False)